:host {
  @apply w-full;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: transparent !important;
}

.gradient-legend-primary {
  background: linear-gradient(rgba(138, 21, 56, 1), rgba(138, 21, 56, 0.2));
}

.gradient-legend-secondary {
  background: linear-gradient(rgba(162, 148, 117, 1), rgba(162, 148, 117, 0.2));
}

.gradient-legend-gray {
  background: linear-gradient(rgba(75, 85, 99, 1), rgba(75, 85, 99, 0.2));
}
