.me {
  @apply relative bg-primary/70 self-start rounded-xl [&.rtl]:rounded-tr-none [&.ltr]:rounded-tl-none text-white p-2  max-w-[90%] break-words;
}

.boot {
  @apply relative bg-secondary/70 self-end rounded-xl [&.rtl]:rounded-tl-none [&.ltr]:rounded-tr-none text-white p-2  max-w-[90%] break-words;
}

.boot-data-view {
  @apply relative self-end max-w-[90%];
}

.error {
  @apply relative self-end flex items-center justify-center gap-2 text-red-600 max-w-[90%];

  & > div {
    @apply bg-red-400 border border-red-600  rounded-xl [&.rtl]:rounded-tl-none [&.ltr]:rounded-tr-none text-white p-2 break-words;
  }
}

.opened {
  @apply absolute z-10 bottom-14  ltr:left-0 rtl:right-0;
}

.full-screen {
  @apply fixed z-10 w-[100vw] h-[100vh] bottom-0 start-0 rounded-none;
}

.messages-container::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.ball {
  @apply block w-1 h-1 rounded-full bg-white z-10 mt-1;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}

@keyframes ball {
  from {
    transform: translateY(7px) scaleY(0.8);
  }
  to {
    transform: translateY(-7px);
  }
}
