<li class="pb-1 border-b border-secondary/20">
  <a
    [href]="config.CONFIG.MAIN_AUTHORITY_WEBSITE_URL"
    class="block w-full text-xl font-bold px-3 py-2 text-white rounded-md transition hover:bg-white/20 [&.active]:bg-white/20">
    {{ lang.map.authority_main_website }}
  </a>
</li>
<ng-container *ngFor="let menuItem of mainMenu?.links ?? []">
  <li class="pb-1 border-b border-secondary/20 last-of-type:border-0">
    @if (menuItem.isExternal()) {
    <a
      class="block w-full text-xl px-3 py-2 text-white rounded-md transition hover:bg-white/20 [&.active]:bg-white/20"
      [href]="menuItem.getExternalUrl()">
      {{ menuItem.getNames() }}
    </a>
    } @else {
    <a
      class="block w-full text-xl px-3 py-2 text-white rounded-md transition hover:bg-white/20 [&.active]:bg-white/20"
      [routerLink]="menuItem.url"
      routerLinkActive="active">
      {{ menuItem.getNames() }} </a
    >}
  </li>
</ng-container>
