<div class="flex flex-col max-w-[800px] overflow-hidden">
  <div class="flex-1 dialog-header bg-primary">
    <h1>{{ lang.map.user_profile }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content overflow-y-scroll">
    <div #f="ngForm" [formGroup]="form">
      <div class="flex flex-wrap [&>*]:flex-1 [&>*]:min-w-[300px] gap-4">
        <app-input formControlName="first_name" [label]="lang.map.first_name" />
        <app-input formControlName="last_name" [label]="lang.map.last_name" />
        <div class="border-t border-gray-300 !min-w-full"></div>
        <app-input formControlName="title" [label]="lang.map.title" />
        <app-input formControlName="email" [label]="lang.map.email" />
        <div class="border-t border-gray-300 !min-w-full"></div>
        <div class="checkbox-container">
          <mat-checkbox formControlName="email_notifications"></mat-checkbox>
          <span class="lg:text-base xl:text-lg md:text-sm font-bold">{{ lang.map.email_notifications }}</span>
        </div>
        <app-select-input
          formControlName="language"
          [label]="lang.map.language"
          [options]="lang.languages"
          bindLabel="name"
          bindValue="code" />
        <ng-container *ngIf="isProviderDefault()">
          <div class="border-t border-gray-300 !min-w-full"></div>
          <app-input type="password" formControlName="password" [label]="lang.map.password" />
          <app-input type="password" formControlName="passwordConfirm" [label]="lang.map.password_confirm"
        /></ng-container>
      </div>
      <app-validation-errors class="relative block" [errors]="form.errors"></app-validation-errors>
    </div>
  </div>
  <div class="flex-1 dialog-footer justify-end">
    <app-button (click)="save()" [disabled]="!form.dirty || form.invalid" mat-dialog-save buttonStyle="primary"
      ><ng-container *ngIf="!isLoading"> {{ lang.map.save }} </ng-container>
      <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="2"></mat-spinner>
    </app-button>
    <app-button mat-dialog-close buttonStyle="primary-outline">{{ lang.map.close }}</app-button>
  </div>
</div>
