<div class="flex flex-col">
  <h3
    class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
    {{ title }}
  </h3>
  <div class="mt-4 flex justify-center md:justify-end">
    <div class="flex flex-col sm:flex-row items-center justify-center gap-3">
      <div class="grid grid-cols-4 gap-2">
        <app-button
          size="sm"
          (click)="updateChartDataForDuration(DurationTypes.YEARLY)"
          [buttonStyle]="selectedDurationType === DurationTypes.YEARLY ? 'secondary' : 'secondary-outline'"
          [isRounded]="true"
          ><ng-container *ngIf="!isLoading || selectedDurationType !== DurationTypes.YEARLY">{{
            lang.map.yearly
          }}</ng-container
          ><mat-spinner
            diameter="20"
            strokeWidth="2"
            *ngIf="isLoading && selectedDurationType === DurationTypes.YEARLY"></mat-spinner
        ></app-button>
        <app-button
          size="sm"
          (click)="updateChartDataForDuration(DurationTypes.HALFY)"
          [buttonStyle]="selectedDurationType === DurationTypes.HALFY ? 'secondary' : 'secondary-outline'"
          [isRounded]="true"
          ><ng-container *ngIf="!isLoading || selectedDurationType !== DurationTypes.HALFY">{{
            lang.map.half_yearly
          }}</ng-container
          ><mat-spinner
            diameter="20"
            strokeWidth="2"
            *ngIf="isLoading && selectedDurationType === DurationTypes.HALFY"></mat-spinner
        ></app-button>
        <app-button
          size="sm"
          (click)="updateChartDataForDuration(DurationTypes.QUARTERLY)"
          [buttonStyle]="selectedDurationType === DurationTypes.QUARTERLY ? 'secondary' : 'secondary-outline'"
          [isRounded]="true"
          ><ng-container *ngIf="!isLoading || selectedDurationType !== DurationTypes.QUARTERLY">{{
            lang.map.quarter_yearly
          }}</ng-container
          ><mat-spinner
            diameter="20"
            strokeWidth="2"
            *ngIf="isLoading && selectedDurationType === DurationTypes.QUARTERLY"></mat-spinner
        ></app-button>
        <app-button
          size="sm"
          (click)="updateChartDataForDuration(DurationTypes.MONTHLY)"
          [buttonStyle]="selectedDurationType === DurationTypes.MONTHLY ? 'secondary' : 'secondary-outline'"
          [isRounded]="true"
          ><ng-container *ngIf="!isLoading || selectedDurationType !== DurationTypes.MONTHLY">{{
            lang.map.monthly
          }}</ng-container
          ><mat-spinner
            diameter="20"
            strokeWidth="2"
            *ngIf="isLoading && selectedDurationType === DurationTypes.MONTHLY"></mat-spinner
        ></app-button>
      </div>
      <app-select-input
        class="w-full sm:w-20"
        size="sm"
        *ngIf="showStartYearFilter"
        label=""
        [placeholder]="lang.map.from_year"
        marginBottom="0"
        [formControl]="fromYearControl"
        [options]="yearsRange"
        [showCheckTick]="false" />
    </div>
  </div>
  <div class="flex flex-col mt-2 md:flex-row">
    <div class="relative flex-auto overflow-hidden pt-1" dir="ltr">
      @if(!chartDataLength) {
      <div class="absolute top-0 left-0 h-full w-full p-4 bg-white/80 z-[1] transition-all">
        <div
          class="h-full w-full flex flex-col justify-center items-center text-center gap-2 text-primary [&>p]:text-base sm:[&>p]:text-lg md:[&>p]:text-2xl">
          <p class="font-bold">{{ lang.map.no_data_is_currently_available_for_the_selected_parameters }}</p>
        </div>
      </div>
      }
      <apx-chart
        #chart
        class="custom-toolbar [&>div]:ml-[-22px]"
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [stroke]="chartOptions.stroke!"
        [colors]="chartOptions.colors!"
        [dataLabels]="chartOptions.dataLabels!"
        [legend]="chartOptions.legend!"
        [markers]="chartOptions.markers!"
        [grid]="chartOptions.grid!"
        [yaxis]="chartOptions.yaxis!"
        [tooltip]="chartOptions.tooltip!"
        [plotOptions]="chartOptions.plotOptions!"
        [title]="chartOptions.title!" />
    </div>
    <div *ngIf="showSelectChartType" class="h-full flex flex-row justify-center md:flex-col -mt-6 md:mt-4">
      <app-icon-button
        [ngClass]="{ 'text-primary': selectedChartType === ChartType.LINE }"
        (click)="updateChartType(ChartType.LINE)"
        class="text-primary"
        icon="LINE_CHART" />
      <app-icon-button
        [ngClass]="{ 'text-primary': selectedChartType === ChartType.BAR }"
        (click)="updateChartType(ChartType.BAR)"
        icon="BAR_CHART" />
      <app-icon-button
        [ngClass]="{ 'text-primary': selectedChartType === ChartType.AREA }"
        (click)="updateChartType(ChartType.AREA)"
        icon="AREA_CHART" />
    </div>
  </div>
</div>
