<div class="flex flex-col">
  <h3
    class="heading mt-20 text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
    {{ title }}
  </h3>
  <carousel class="mt-4" #carousel [arrowsOutside]="isArrowOutside" [margin]="20" [cellWidth]="350">
    <div
      class="transition-all"
      [ngClass]="{ 'opacity-30': isLoading }"
      *ngFor="let item of properties"
      [dir]="lang.isLtr ? 'ltr' : 'rtl'"
      (mouseenter)="item.selected = true"
      (mouseleave)="item.selected = false"
      class="carousel-cell m-0 group  px-4 py-6 h-[200px] grid w-[350px] grid-cols-2 gap-2 justify-between items-center text-center rounded-lg bg-white custom-shadow shadow-slate-200 transition {{
        lang.isLtr ? 'ltr-gradient' : 'gradient'
      }}">
      <img class="!h-[150px]" [src]="getItemImage(item)" [alt]="item.getNames()" />
      <div class="flex flex-col items-center">
        <app-change-indicator
          class="transition-all"
          [ngClass]="{ 'opacity-50': isLoading }"
          *ngIf="showYoy"
          [value]="item.kpiData.getKpiYoYVal()"
          [isHovered]="item.selected"></app-change-indicator>
        <span *ngIf="showYoy" class="my-2 h-0 w-full border-t border-primary/50 group-hover:border-white"></span>
        <span class="flex-1 text-3xl text-black font-bold group-hover:text-white transition">{{
          item.getNames()
        }}</span>
        <span *ngIf="!isLoading" class="mt-2 text-4xl text-primary font-bold group-hover:text-white transition">
          <span [countUp]="item.kpiData.getKpiVal()" [options]="countUpOptions"></span>
          <!--      {{ !item.hasPrice ? lang.map.qr : "" }}-->
        </span>
        <mat-spinner class="mt-2" diameter="30" strokeWidth="3" *ngIf="isLoading"></mat-spinner>
      </div>
    </div>
  </carousel>
</div>
