<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center">
      <span class="text-secondary">{{ lang.map.occupied_and_vacant_units_indicators }}</span>
    </h2>
    <!-- <div class="flex justify-center mt-5">
      <app-button size="md" (click)="toggleFilters()" buttonStyle="secondary" [isRounded]="true" [icon]="'FILTER_LIST'">
        {{ lang.map.search_options }}
      </app-button>
    </div> -->
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      indicatorType="ov"
      [municipalities]="municipalities"
      [zones]="zones"
      [occupancyStatuses]="occupancyStatuses"
      [premiseCategories]="premiseCategories"
      [premiseTypes]="premiseTypes"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="py-16 px-3 lg:px-16">
    <div class="flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.occupied_and_vacant_units_indicators_dashboard }}
      </h3>

      <div
        class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
        <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of rootKPIS" [item]="item" />
      </div>
    </div>
  </div>
  <div class="bg-sand py-16 px-3 lg:px-16">
    <div class="flex flex-col justify-center items-center">
      <h3
        *ngIf="selectedRoot"
        class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
        {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_category }})
      </h3>
      <div
        class="mt-4 w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-2 overflow-hidden">
        <ng-container *ngFor="let item of categoryKPIs; let i = index">
          <app-purpose
            [item]="item"
            [alignHorizontal]="false"
            (click)="categorySelected(item)"
            class="border-2 rounded-xl overflow-hidden border-secondary" />
        </ng-container>
      </div>
    </div>
  </div>
  <div class="py-16 px-3 lg:px-16">
    <div class="flex flex-col justify-center items-center">
      <h3
        *ngIf="selectedRoot"
        class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
        {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_type }})
      </h3>
      <div
        class="mt-4 w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-2 overflow-hidden">
        <ng-container *ngFor="let item of filteredTypeKPIs.slice(0, shownTypeKpisCount); let i = index">
          <app-purpose
            [item]="item"
            [alignHorizontal]="false"
            class="border-2 rounded-xl overflow-hidden border-secondary" />
        </ng-container>
      </div>
      <div class="mt-4 flex items-center justify-center gap-2">
        <app-button
          *ngIf="filteredTypeKPIs.length > shownTypeKpisCount"
          size="md"
          (click)="showAllPremiseTypes()"
          buttonStyle="secondary"
          [isRounded]="true"
          >{{ lang.map.show_all }}</app-button
        >
      </div>
    </div>
  </div>
  <div class="flex flex-col mt-4 px-3 lg:px-16">
    <app-stacked-duration-chart
      [title]="lang.map.total_number_of_occupied_and_vacant"
      [seriesNames]="totalCountSeriesNames"
      [criteria]="criteria.criteria"
      [rootData]="totalCountChartData"
      [bindDataSplitProp]="'occupancyStatus'"
      [showSelectChartType]="true">
    </app-stacked-duration-chart>
  </div>
  <div class="px-3 lg:px-16">
    <app-municipalities-chart
      [title]="lang.map.occupied_and_vacant_units_count_per_municipality"
      [seriesNames]="municipalitySeriesNames"
      [rootData]="{
        chartDataUrl: this.urlService.URLS.OV_KPI5,
        hasPrice: false
      }"
      [criteria]="criteria.criteria"
      [bindLabel]="municipalityLabel"
      [bindDataSplitProp]="'occupancyStatus'"
      [unit]="lang.map.unit"
      (selectedMunicipalityChanged)="updateAreasChartData($event.municipalityId)" />
  </div>
  <div class="px-3 lg:px-16 flex flex-col">
    <h3
      class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
      {{ lang.map.occupied_and_vacant_units_count_per_zone }}
      ({{ lookupService.ovMunicipalitiesMap[selectedMunicipalityId].getNames() }})
    </h3>

    <div class="flex-auto overflow-hidden mt-2 pt-1" dir="ltr">
      <apx-chart
        #areasChart
        class="custom-toolbar [&>div]:ml-[-22px]"
        [series]="areasChartOptions.series!"
        [chart]="areasChartOptions.chart!"
        [xaxis]="areasChartOptions.xaxis!"
        [stroke]="areasChartOptions.stroke!"
        [colors]="areasChartOptions.colors!"
        [dataLabels]="areasChartOptions.dataLabels!"
        [legend]="areasChartOptions.legend!"
        [markers]="areasChartOptions.markers!"
        [grid]="areasChartOptions.grid!"
        [yaxis]="areasChartOptions.yaxis!"
        [tooltip]="areasChartOptions.tooltip!"
        [plotOptions]="areasChartOptions.plotOptions!"
        [title]="areasChartOptions.title!" />
    </div>
  </div>
  <div class="px-3 lg:px-16 flex flex-col gap-4">
    <h3
      class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
      {{ lang.map.occupied_and_vacant_records_list }}
    </h3>

    <app-table
      minWidth="1200px"
      headerBgColor="!bg-secondary"
      (paginate)="paginate($event)"
      [length]="transactionsCount"
      [dataSource]="dataSource"
      [sortOptions]="[]">
      <ng-container appTableColumnTemplate columnName="location">
        <div *appTableColumnHeaderTemplate class="flex justify-center">
          <div class="text-start">
            <p>{{ lang.map.location }}</p>
          </div>
        </div>
        <div *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
          <div class="text-start">
            <p class="font-bold">{{ item.municipalityInfo.getNames() }}</p>
            <p>{{ item.zoneInfo && item.zoneInfo.getNames() && "---" }}</p>
          </div>
        </div>
      </ng-container>
      <ng-container appTableColumnTemplate columnName="category_and_type">
        <div *appTableColumnHeaderTemplate class="flex justify-center">
          <div class="text-start">
            <p>{{ lang.map.premise_category_and_type }}</p>
          </div>
        </div>
        <div *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
          <div class="text-start">
            <p class="font-bold">{{ item.premiseCategoryInfo.getNames() }}</p>
            <p>{{ item.permiseTypeInfo.getNames() }}</p>
          </div>
        </div>
      </ng-container>

      <ng-container appTableColumnTemplate columnName="occupancy_status">
        <span *appTableColumnHeaderTemplate>{{ lang.map.occupancy_status }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
          item.occupancyStatusInfo.getNames()
        }}</span>
      </ng-container>
      <ng-container appTableColumnTemplate columnName="owner_id">
        <span *appTableColumnHeaderTemplate>{{ lang.map.owner_id }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
          item.ownerId | number : "1.0-0"
        }}</span>
      </ng-container>
      <ng-container appTableColumnTemplate columnName="tenant_id">
        <span *appTableColumnHeaderTemplate>{{ lang.map.tenant_id }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
          item.tenantNumber | number : "1.0-0"
        }}</span>
      </ng-container>

      <ng-container appTableColumnTemplate columnName="record_date">
        <span *appTableColumnHeaderTemplate>{{ lang.map.record_date }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$">
          {{ item.rowDate | date : "YYYY-MM-dd" }}</span
        >
      </ng-container>
      <ng-container appTableColumnTemplate columnName="electricity_number">
        <span *appTableColumnHeaderTemplate>{{ lang.map.electricity_number }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
          item.electricityNo | number : "1.0-0"
        }}</span>
      </ng-container>
      <ng-container appTableColumnTemplate columnName="water_number">
        <span *appTableColumnHeaderTemplate>{{ lang.map.water_number }}</span>
        <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
          item.waterNumber | number : "1.0-0"
        }}</span>
      </ng-container>
    </app-table>
  </div>
</div>
