<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center">
      <span class="text-secondary">{{ lang.map.occupied_and_vacant_units_indicators }}</span>
    </h2>
    <!-- <div class="flex justify-center mt-5">
      <app-button size="md" (click)="toggleFilters()" buttonStyle="secondary" [isRounded]="true" [icon]="'FILTER_LIST'">
        {{ lang.map.search_options }}
      </app-button>
    </div> -->
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      indicatorType="ov"
      [municipalities]="municipalities"
      [zones]="zones"
      [occupancyStatuses]="occupancyStatuses"
      [premiseCategories]="premiseCategories"
      [premiseTypes]="premiseTypes"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="py-16 px-3 lg:px-16">
    <div class="flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.occupied_and_vacant_units_indicators_dashboard }}
      </h3>

      <div
        class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
        <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of rootKPIS" [item]="item" />
      </div>
    </div>
  </div>
  <div class="bg-sand py-16 px-3 lg:px-16">
    <div class="flex flex-col justify-center items-center">
      <h3
        *ngIf="selectedRoot"
        class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
        {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_category }})
      </h3>
      <div
        class="mt-4 w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-2 overflow-hidden">
        <ng-container *ngFor="let item of categoryKPIs; let i = index">
          <app-purpose
            [item]="item"
            (click)="categorySelected(item)"
            class="border-2 rounded-xl overflow-hidden border-secondary" />
        </ng-container>
      </div>
    </div>
  </div>
  <div class="py-16 px-3 lg:px-16">
    <div class="flex flex-col justify-center items-center">
      <h3
        *ngIf="selectedRoot"
        class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
        {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_type }})
      </h3>
      <div
        class="mt-4 w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-2 overflow-hidden">
        <ng-container *ngFor="let item of filteredTypeKPIs.slice(0, shownTypeKpisCount); let i = index">
          <app-purpose [item]="item" class="border-2 rounded-xl overflow-hidden border-secondary" />
        </ng-container>
      </div>
      <div class="mt-4 flex items-center justify-center gap-2">
        <app-button
          *ngIf="filteredTypeKPIs.length > shownTypeKpisCount"
          size="md"
          (click)="showAllPremiseTypes()"
          buttonStyle="secondary"
          [isRounded]="true"
          >{{ lang.map.show_all }}</app-button
        >
      </div>
    </div>
  </div>
  <div class="flex flex-col mt-4 px-3 lg:px-16">
    <app-stacked-duration-chart
      [title]="lang.map.total_number_of_occupied_and_vacant"
      [charts]="totalCountChartNames"
      [filterCriteria$]="criteria$"
      [rootData]="totalCountChartData"
      [bindDataSplitProp]="'occupancyStatus'"
      [showSelectChartType]="true">
    </app-stacked-duration-chart>
  </div>
</div>
