<ng-container *appExtraHeaderPortal>
  {{ lang.map.real_estate_ownership_indicators }}
</ng-container>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      indicatorType="owner"
      [municipalities]="municipalities"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsages"
      [areas]="areas"
      [nationalities]="nationalities"
      [ownerTypes]="ownerTypes"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="flex flex-col">
    <div class="px-3 lg:px-16 mt-5 flex justify-center">
      <div class="flex justify-center gap-2 lg:gap-5 w-full md:w-3/4 lg:w-2/3 text-lg sm:text-2xl">
        <button
          [ngClass]="{ active: isSelectedTab('owner_indicators') }"
          (click)="switchTab('owner_indicators')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.owner_indicators }}
        </button>
        <button
          [ngClass]="{ active: isSelectedTab('ownership_indicators') }"
          (click)="switchTab('ownership_indicators')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.ownership_indicators }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isSelectedTab('owner_indicators')" class="flex flex-col">
    <div class="py-16 px-3 lg:px-16">
      <div class="flex flex-col">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.owners_transactions_measuring_dashboard }}
          {{ getStringSelectedCriteria() }}
        </h3>

        <div
          class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-4">
          <app-kpi-root
            (itemSelected)="ownerRootItemSelected($event)"
            [showYoy]="false"
            *ngFor="let item of ownerRootKpis"
            [item]="item" />
        </div>
      </div>
    </div>
    <div class="bg-sand py-16 px-3 lg:px-16">
      <div class="flex flex-col justify-center items-center">
        <h3
          *ngIf="selectedOwnerRoot"
          class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedOwnerRoot.getNames() }} ({{ lang.map.depending_on_use }})
          {{ getStringSelectedCriteria() }}
        </h3>

        <div class="mt-4 sm:hidden w-full grid grid-cols-2 gap-2 overflow-hidden">
          <ng-container *ngFor="let item of purposeKPIS; let i = index">
            <app-purpose
              [item]="item"
              [showYoy]="false"
              (click)="purposeSelected(item)"
              class="border-2 rounded-xl overflow-hidden xl:border-0 xl:rounded-none xl:border-e-2 border-secondary xl:last-of-type:border-e-0" />
          </ng-container>
        </div>
        <div
          class="mt-4 w-full hidden sm:grid grid-cols-3 xl:grid-cols-6 border-2 border-secondary overflow-hidden rounded-xl">
          <app-purpose
            *ngFor="let item of purposeKPIS; let i = index"
            [item]="item"
            [showYoy]="false"
            (click)="purposeSelected(item)"
            class="xl:border-e-2 border-secondary last-of-type:border-e-0 {{
              i > 2 ? 'border-t-2 xl:border-t-0' : ''
            }} {{ i % 3 === 2 ? 'border-e-0 xl:border-e-2' : 'border-e-2' }}" />
        </div>

        <h3
          *ngIf="selectedOwnerRoot"
          class="heading mt-20 text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedOwnerRoot.getNames() }} ({{ lang.map.depending_on_type }}) {{ getStringSelectedCriteria() }}
        </h3>
        <div class="mt-4 w-full sm:w-5/6 lg:w-11/12" dir="ltr">
          <app-property-carousel
            [properties]="propertiesKPIS"
            useAssetsFrom="sell"
            [ignoreLocalImages]="true"
            [showYoy]="false"></app-property-carousel>
        </div>
      </div>
    </div>
    <div class="py-5 px-3 lg:px-16">
      <app-municipalities-chart
        [title]="selectedOwnerRoot.getNames() + ' ' + lang.map.per_municipality"
        [seriesNames]="ownerMunicipalitySeriesNames"
        [rootData]="{
          chartDataUrl: urlService.URLS.OWNER_KPI26,
          hasPrice: false
        }"
        [criteria]="ownerMunicipalityCriteria"
        [bindLabel]="municipalityLabel"
        [unit]="lang.map.owner"
        (selectedMunicipalityChanged)="updateOwnerAreasChartCriteria($event.municipalityId)" />
    </div>

    <div class="py-5 px-3 lg:px-16">
      <app-areas-chart
        [title]="
          selectedOwnerRoot.getNames() +
          ' ' +
          lang.map.per_area +
          ' (' +
          lookupService.ownerMunicipalitiesMap[selectedOwnerMunicipalityId].getNames() +
          ')'
        "
        [seriesNames]="ownerAreaSeriesNames"
        [rootData]="{
          chartDataUrl: urlService.URLS.OWNER_KPI27,
          hasPrice: false
        }"
        [criteria]="ownerAreaCriteria"
        [bindLabel]="areaLabel" />
    </div>
  </div>
  <div *ngIf="isSelectedTab('ownership_indicators')" class="flex flex-col">
    <div class="py-16 px-3 lg:px-16">
      <div class="flex flex-col">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.ownership_transactions_measuring_dashboard }}
          {{ getStringSelectedCriteria() }}
        </h3>

        <div
          class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-4">
          <app-kpi-root
            (itemSelected)="ownershipRootItemSelected($event)"
            [showYoy]="false"
            *ngFor="let item of ownershipRootKPIS"
            [item]="item" />
        </div>
      </div>
    </div>
    <div class="mt-8 px-3 lg:px-16">
      <app-nationalities-chart
        [title]="lang.map.distribution_of_ownerships_according_to_nationality"
        [name]="lang.map.ownerships_count"
        [rootData]="selectedOwnershipRoot"
        [criteria]="criteria.criteria"
        [bindLabel]="nationalityLabel"
        (selectedNationalityChanged)="onSelectedNationalityChanged($event.nationalityCode)" />
    </div>

    <div class="py-5 px-3 lg:px-16">
      <app-municipalities-chart
        [title]="lang.map.ownerships_count_per_municipality + ' (' + getNationalityNames(selectedNationalityId) + ')'"
        [seriesNames]="ownershipMunicipalitySeriesNames"
        [rootData]="ownershipMunicipalityRootData"
        [criteria]="ownershipMunicipalityCriteria"
        [bindLabel]="municipalityLabel"
        [unit]="lang.map.ownership"
        (selectedMunicipalityChanged)="updateOwnershipAreasChartCriteria($event.municipalityId)" />
    </div>

    <div class="py-5 px-3 lg:px-16">
      <app-areas-chart
        [title]="
          lang.map.ownerships_count_per_area +
          ' (' +
          getNationalityNames(selectedNationalityId) +
          ') ' +
          lang.map.and_municipality +
          ' (' +
          lookupService.ownerMunicipalitiesMap[selectedOwnerMunicipalityId].getNames() +
          ')'
        "
        [seriesNames]="ownershipAreaSeriesNames"
        [rootData]="ownershipAreaRootData"
        [criteria]="ownershipAreaCriteria"
        [bindLabel]="areaLabel" />
    </div>

    <div class="px-3 lg:px-16 flex flex-col">
      <app-duration-chart
        [title]="
          lang.map.ownerships_count_change_for_nationality + ' (' + getNationalityNames(selectedNationalityId) + ')'
        "
        [name]="lang.map.ownerships_count"
        [criteria]="nationalityCriteria"
        [rootData]="durationRootData"
        [showSelectChartType]="false" />
    </div>

    <div *ngIf="selectedNationalityId !== specialNationality.lookupKey" class="px-3 lg:px-16 flex flex-col gap-4">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.ownerships_transactions_list }} ({{ getNationalityNames(selectedNationalityId) }})
      </h3>

      <app-table
        minWidth="900px"
        headerBgColor="!bg-secondary"
        (paginate)="paginate($event)"
        [length]="transactionsCount"
        [dataSource]="dataSource"
        [sortOptions]="[]">
        <ng-container appTableColumnTemplate columnName="unitNumber">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.unit_parcel_no }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.unitNumber }}
          </span>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="ownerName">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.owner_name }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.ownerName || "---" }}
          </span>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="ownerId">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.owner_id }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.getqId || "---" }}
          </span>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="ownerShares">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.owner_shares }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.ownerShares | number }}
          </span>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="docDescription">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.doc_description }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.docDescription || "---" }}
          </span>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="docDate">
          <span *appTableColumnHeaderTemplate class="flex justify-center"> {{ lang.map.doc_date }} </span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            {{ item.docDate | date : "YYYY-MM-dd" }}
          </span>
        </ng-container>
      </app-table>
    </div>

    <div
      class="mt-8 py-8 px-3 lg:px-16 bg-sand flex justify-center items-center flex-wrap [&>*]:min-w-[95%] lg:[&>*]:min-w-[45%] [&>*]:max-w-[100%] lg:[&>*]:max-w-[50%] [&>*]:flex-1 gap-2">
      <app-pie-chart
        *ngIf="selectedNationalityId !== specialNationality.lookupKey"
        [title]="lang.map.ownerships_count_per_owner_age + ' (' + getNationalityNames(selectedNationalityId) + ')'"
        [criteria]="nationalityCriteria"
        [rootData]="ageCategoryRootData"
        [bindLabel]="ageCategoryLabel"
        [valueUnit]="lang.map.ownership" />
      <app-pie-chart
        *ngIf="selectedNationalityId !== specialNationality.lookupKey"
        [title]="lang.map.ownerships_count_per_owner_sex + ' (' + getNationalityNames(selectedNationalityId) + ')'"
        [criteria]="nationalityCriteria"
        [rootData]="genderRootData"
        [bindLabel]="genderLabel"
        [valueUnit]="lang.map.ownership" />
      <app-pie-chart
        [title]="lang.map.ownerships_count_per_owner_category_summary"
        [criteria]="criteria.criteria"
        [rootData]="ownerTypeRootData"
        [bindLabel]="ownerTypeLabel"
        [valueUnit]="lang.map.ownership" />
    </div>
  </div>
</div>
