<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center">
      <span class="text-secondary">{{ lang.map.real_estate_ownership_indicators }}</span>
    </h2>
    <!-- <div class="flex justify-center mt-5">
      <app-button size="md" (click)="toggleFilters()" buttonStyle="secondary" [isRounded]="true" [icon]="'FILTER_LIST'">
        {{ lang.map.search_options }}
      </app-button>
    </div> -->
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      indicatorType="owner"
      [municipalities]="municipalities"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsages"
      [areas]="areas"
      [nationalities]="nationalities"
      [ownerTypes]="ownerTypes"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="flex flex-col">
    <div class="px-3 lg:px-16 mt-5 flex justify-center">
      <div class="flex justify-center gap-2 lg:gap-5 w-full md:w-3/4 lg:w-2/3 text-lg sm:text-2xl">
        <button
          [ngClass]="{ active: isSelectedTab('ownership_indicators') }"
          (click)="switchTab('ownership_indicators')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.ownership_indicators }}
        </button>
        <button
          [ngClass]="{ active: isSelectedTab('statistical_reports_for_ownership') }"
          (click)="switchTab('statistical_reports_for_ownership')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.statistical_reports_for_ownership }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isSelectedTab('ownership_indicators')" class="flex flex-col">
    <div class="py-16 px-3 lg:px-16">
      <div class="flex flex-col">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.ownership_transactions_measuring_dashboard }}
          {{ getStringSelectedCriteria() }}
        </h3>

        <div
          class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
          <app-kpi-root
            (itemSelected)="rootItemSelected($event)"
            [showYoy]="false"
            *ngFor="let item of rootKPIS"
            [item]="item" />
        </div>
      </div>
    </div>
    <div class="bg-sand py-16 px-3 lg:px-16">
      <div class="flex flex-col justify-center items-center">
        <h3
          *ngIf="selectedRoot"
          class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_use }})
          {{ getStringSelectedCriteria() }}
        </h3>

        <div class="mt-4 sm:hidden w-full grid grid-cols-2 gap-2 overflow-hidden">
          <ng-container *ngFor="let item of purposeKPIS; let i = index">
            <app-purpose
              [item]="item"
              [showYoy]="false"
              (click)="purposeSelected(item)"
              class="border-2 rounded-xl overflow-hidden xl:border-0 xl:rounded-none xl:border-e-2 border-secondary xl:last-of-type:border-e-0" />
          </ng-container>
        </div>
        <div
          class="mt-4 w-full hidden sm:grid grid-cols-3 xl:grid-cols-6 border-2 border-secondary overflow-hidden rounded-xl">
          <app-purpose
            *ngFor="let item of purposeKPIS; let i = index"
            [item]="item"
            [showYoy]="false"
            (click)="purposeSelected(item)"
            class="xl:border-e-2 border-secondary last-of-type:border-e-0 {{
              i > 2 ? 'border-t-2 xl:border-t-0' : ''
            }} {{ i % 3 === 2 ? 'border-e-0 xl:border-e-2' : 'border-e-2' }}" />
        </div>

        <h3
          *ngIf="selectedRoot"
          class="heading mt-20 text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_type }}) {{ getStringSelectedCriteria() }}
        </h3>
        <div class="mt-4 w-full sm:w-5/6 lg:w-11/12" dir="ltr">
          <app-property-carousel
            [properties]="propertiesKPIS"
            useAssetsFrom="sell"
            [ignoreLocalImages]="true"
            [showYoy]="false"></app-property-carousel>
        </div>
      </div>
    </div>
    <div class="flex-1 w-full my-4 p-4 flex justify-center gap-4">
      <app-kpi-root class="w-full md:w-1/3" [showYoy]="false" [item]="totalOwnershipsRootKpi" />
    </div>
    <div class="mt-8 px-3 lg:px-16 flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.distribution_of_ownerships_according_to_nationality }}
      </h3>

      <div class="mt-4 flex justify-center md:justify-end gap-2">
        <app-button
          size="sm"
          (click)="updateNationalitiesChartData(NationalityCategories.QATARI)"
          [buttonStyle]="
            selectedNationalityCategory === NationalityCategories.QATARI ? 'secondary' : 'secondary-outline'
          "
          [isRounded]="true"
          >{{ lang.map.qatari }}</app-button
        >
        <app-button
          size="sm"
          (click)="updateNationalitiesChartData(NationalityCategories.GCC)"
          [buttonStyle]="selectedNationalityCategory === NationalityCategories.GCC ? 'secondary' : 'secondary-outline'"
          [isRounded]="true"
          >{{ lang.map.gulf_cooperation_council_countries }}</app-button
        >
        <app-button
          size="sm"
          (click)="updateNationalitiesChartData(NationalityCategories.OTHER)"
          [buttonStyle]="
            selectedNationalityCategory === NationalityCategories.OTHER ? 'secondary' : 'secondary-outline'
          "
          [isRounded]="true"
          >{{ lang.map.other_nationalities }}</app-button
        >
      </div>
      <div class="overflow-hidden pt-1 mt-2" dir="ltr">
        <apx-chart
          #nationalitiesChart
          class="custom-toolbar [&>div]:ml-[-22px]"
          [series]="nationalitiesChartOptions.series!"
          [chart]="nationalitiesChartOptions.chart!"
          [xaxis]="nationalitiesChartOptions.xaxis!"
          [stroke]="nationalitiesChartOptions.stroke!"
          [colors]="nationalitiesChartOptions.colors!"
          [dataLabels]="nationalitiesChartOptions.dataLabels!"
          [legend]="nationalitiesChartOptions.legend!"
          [markers]="nationalitiesChartOptions.markers!"
          [grid]="nationalitiesChartOptions.grid!"
          [yaxis]="nationalitiesChartOptions.yaxis!"
          [tooltip]="nationalitiesChartOptions.tooltip!"
          [plotOptions]="nationalitiesChartOptions.plotOptions!"
          [title]="nationalitiesChartOptions.title!" />
      </div>
    </div>
    <div class="px-3 lg:px-16 flex flex-col">
      <app-duration-chart
        [title]="
          lang.map.ownerships_count_change_for_nationality + ' (' + getNationalityNames(selectedNationality.id) + ')'
        "
        [name]="lang.map.ownerships_count"
        [filterCriteria$]="nationalityCriteria$"
        [rootData]="durationRootData"
        [showSelectChartType]="false" />
    </div>
    <div class="px-3 lg:px-16 flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.ownerships_count_per_municipality }}
        ({{ getNationalityNames(selectedNationality.id) }})
      </h3>
      <div class="flex flex-col-reverse items-center mt-2 lg:flex-row gap-2">
        <div class="w-full lg:w-2/3 flex-auto overflow-hidden mt-2 pt-1" dir="ltr">
          <apx-chart
            #municipalitiesChart
            class="custom-toolbar [&>div]:ml-[-22px]"
            [series]="municipalitiesChartOptions.series!"
            [chart]="municipalitiesChartOptions.chart!"
            [xaxis]="municipalitiesChartOptions.xaxis!"
            [stroke]="municipalitiesChartOptions.stroke!"
            [colors]="municipalitiesChartOptions.colors!"
            [dataLabels]="municipalitiesChartOptions.dataLabels!"
            [legend]="municipalitiesChartOptions.legend!"
            [markers]="municipalitiesChartOptions.markers!"
            [grid]="municipalitiesChartOptions.grid!"
            [yaxis]="municipalitiesChartOptions.yaxis!"
            [tooltip]="municipalitiesChartOptions.tooltip!"
            [plotOptions]="municipalitiesChartOptions.plotOptions!"
            [title]="municipalitiesChartOptions.title!" />
        </div>
        <div class="w-full lg:w-1/3 mt-4">
          <app-qatar-interactive-map
            [municipalitiesData]="municipalitiesData"
            [label]="lang.map.number_of_ownerships"
            [unit]="lang.map.ownership"
            [selectedMunicipalityId]="selectedMunicipality.id"
            (selectedMunicipalityChanged)="onMapSelectedMunicipalityChanged($event)" />
        </div>
      </div>
    </div>
    <div class="px-3 lg:px-16 flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.ownerships_count_per_area }}
        ({{ getNationalityNames(selectedNationality.id) }}) {{ lang.map.and_municipality }} ({{
          lookupService.ownerMunicipalitiesMap[selectedMunicipality.id].getNames()
        }})
      </h3>

      <div class="flex-auto overflow-hidden mt-2 pt-1" dir="ltr">
        <apx-chart
          #areasChart
          class="custom-toolbar [&>div]:ml-[-22px]"
          [series]="areasChartOptions.series!"
          [chart]="areasChartOptions.chart!"
          [xaxis]="areasChartOptions.xaxis!"
          [stroke]="areasChartOptions.stroke!"
          [colors]="areasChartOptions.colors!"
          [dataLabels]="areasChartOptions.dataLabels!"
          [legend]="areasChartOptions.legend!"
          [markers]="areasChartOptions.markers!"
          [grid]="areasChartOptions.grid!"
          [yaxis]="areasChartOptions.yaxis!"
          [tooltip]="areasChartOptions.tooltip!"
          [plotOptions]="areasChartOptions.plotOptions!"
          [title]="areasChartOptions.title!" />
      </div>
    </div>

    <div class="mt-8 py-8 px-3 lg:px-16 bg-sand grid grid-cols-1 lg:grid-cols-2 gap-2">
      <app-pie-chart
        [title]="
          lang.map.ownerships_count_per_owner_category + ' (' + getNationalityNames(selectedNationality.id) + ')'
        "
        [filterCriteria$]="nationalityCriteria$"
        [rootData]="ownerTypeRootData"
        [bindLabel]="ownerTypeLabel"
        [valueUnit]="lang.map.ownership" />
      <app-pie-chart
        [ngClass]="{ hidden: selectedNationality.id === specialNationality.lookupKey }"
        [title]="lang.map.ownerships_count_per_owner_age + ' (' + getNationalityNames(selectedNationality.id) + ')'"
        [filterCriteria$]="nationalityCriteria$"
        [rootData]="ageCategoryRootData"
        [bindLabel]="ageCategoryLabel"
        [valueUnit]="lang.map.ownership" />
    </div>
  </div>
  <div *ngIf="isSelectedTab('statistical_reports_for_ownership')" class="flex flex-col">
    <div class="mt-8 py-8 px-3 lg:px-16 bg-sand grid grid-cols-1 lg:grid-cols-2 gap-2">
      <app-pie-chart
        [title]="lang.map.ownerships_count_per_owner_sex"
        [filterCriteria$]="criteria$"
        [rootData]="genderRootData"
        [bindLabel]="genderLabel"
        [valueUnit]="lang.map.ownership" />
      <app-pie-chart
        [title]="lang.map.ownerships_count_per_owner_age_summary"
        [filterCriteria$]="criteria$"
        [rootData]="ageCategorySummaryRootData"
        [bindLabel]="ageCategoryLabel"
        [valueUnit]="lang.map.ownership" />
    </div>
    <div class="mt-8 px-3 lg:px-16 flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.ownerships_count_per_owner_category_summary }}
      </h3>

      <div class="flex-auto overflow-hidden mt-2 pt-1" dir="ltr">
        <apx-chart
          #ownerTypeSummaryChart
          class="custom-toolbar [&>div]:ml-[-22px]"
          [series]="ownerTypeSummaryChartOptions.series!"
          [chart]="ownerTypeSummaryChartOptions.chart!"
          [xaxis]="ownerTypeSummaryChartOptions.xaxis!"
          [stroke]="ownerTypeSummaryChartOptions.stroke!"
          [colors]="ownerTypeSummaryChartOptions.colors!"
          [dataLabels]="ownerTypeSummaryChartOptions.dataLabels!"
          [legend]="ownerTypeSummaryChartOptions.legend!"
          [markers]="ownerTypeSummaryChartOptions.markers!"
          [grid]="ownerTypeSummaryChartOptions.grid!"
          [yaxis]="ownerTypeSummaryChartOptions.yaxis!"
          [tooltip]="ownerTypeSummaryChartOptions.tooltip!"
          [plotOptions]="ownerTypeSummaryChartOptions.plotOptions!"
          [title]="ownerTypeSummaryChartOptions.title!" />
      </div>
    </div>
  </div>
</div>
