<div
  *ngIf="type === 'normal' && !item.imageUrl"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="group px-4 py-6 h-full flex flex-col gap-2 justify-between items-center text-center rounded-lg bg-sand transition hover-shadow shadow-gray-300 hover:bg-primary">
  <span class="flex-1 text-xl text-black font-bold group-hover:text-white transition">{{ item.title }}</span>
  <span class="mt-2 text-4xl text-primary font-bold group-hover:text-white transition"
    ><span [countUp]="item.value" [options]="countUpOptions"></span>
    {{ !item.isPriceless ? lang.map.qr.toUpperCase() : "" }}</span
  >
  <app-change-indicator class="mt-2" [value]="item.relativeChange" [isHovered]="isHovered"></app-change-indicator>
</div>

<div
  *ngIf="type === 'normal' && item.imageUrl"
  [dir]="lang.isLtr ? 'ltr' : 'rtl'"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="group px-4 py-6 h-full grid grid-cols-2 gap-2 justify-between items-center text-center rounded-lg bg-white custom-shadow shadow-slate-200 transition {{
    lang.isLtr ? 'ltr-gradient' : 'gradient'
  }}">
  <img class="!h-4/5 !w-4/5" [src]="item.imageUrl" [alt]="item.title" />
  <div class="flex flex-col items-center">
    <app-change-indicator [value]="item.relativeChange" [isHovered]="isHovered"></app-change-indicator>
    <span class="my-2 h-0 w-full border-t border-primary/50 group-hover:border-white"></span>
    <span class="flex-1 text-3xl text-black font-bold group-hover:text-white transition">{{ item.title }}</span>
    <span class="mt-2 text-4xl text-primary font-bold group-hover:text-white transition"
      ><span [countUp]="item.value" [options]="countUpOptions"></span>
      {{ !item.isPriceless ? lang.map.qr.toUpperCase() : "" }}</span
    >
  </div>
</div>

<div
  *ngIf="type === 'small'"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="group px-2 pt-2 h-full flex flex-col gap-2 justify-between items-center text-center bg-sand transition {{
    lang.isLtr ? 'ltr-gradient' : 'gradient'
  }}">
  <span class="flex-1 -mb-1.5">
    <span
      class="text-2xl me-2 text-primary font-bold group-hover:text-white transition"
      [countUp]="item.value"
      [options]="countUpOptions"></span>
    <span class="text-xl text-black font-bold group-hover:text-white transition">{{ item.title }}</span>
  </span>
  <app-change-indicator [value]="item.relativeChange" [isHovered]="isHovered"></app-change-indicator>
</div>
