.bg-grad {
  background: linear-gradient(130deg, #3b0011 25%, #7f1f3b 75%);
}

.chat-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.opened {
  @apply absolute z-10 bottom-14  ltr:left-0 rtl:right-0 sm:bottom-0  ltr:sm:left-14 rtl:sm:right-14;
}

.full-screen {
  @apply fixed z-10 w-[100vw] h-[100vh] bottom-0 start-0 rounded-none;
}

.messages-container::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.clipped-header {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 90%,
    2% 91.25%,
    4% 92.49%,
    6% 93.68%,
    8% 94.82%,
    10% 95.88%,
    12% 96.85%,
    14% 97.71%,
    16% 98.44%,
    18% 99.05%,
    20% 99.51%,
    22% 99.82%,
    24% 99.98%,
    26% 99.98%,
    28% 99.82%,
    30% 99.51%,
    32% 99.05%,
    34% 98.44%,
    36% 97.71%,
    38% 96.85%,
    40% 95.88%,
    42% 94.82%,
    44% 93.68%,
    46% 92.49%,
    48% 91.25%,
    50% 90%,
    52% 88.75%,
    54% 87.51%,
    56% 86.32%,
    58% 85.18%,
    60% 84.12%,
    62% 83.15%,
    64% 82.29%,
    66% 81.56%,
    68% 80.95%,
    70% 80.49%,
    72% 80.18%,
    74% 80.02%,
    76% 80.02%,
    78% 80.18%,
    80% 80.49%,
    82% 80.95%,
    84% 81.56%,
    86% 82.29%,
    88% 83.15%,
    90% 84.12%,
    92% 85.18%,
    94% 86.32%,
    96% 87.51%,
    98% 88.75%,
    100% 90%
  );
}
.clipped-header-ltr {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 90%,
    2% 88.75%,
    4% 87.51%,
    6% 86.32%,
    8% 85.18%,
    10% 84.12%,
    12% 83.15%,
    14% 82.29%,
    16% 81.56%,
    18% 80.95%,
    20% 80.49%,
    22% 80.18%,
    24% 80.02%,
    26% 80.02%,
    28% 80.18%,
    30% 80.49%,
    32% 80.95%,
    34% 81.56%,
    36% 82.29%,
    38% 83.15%,
    40% 84.12%,
    42% 85.18%,
    44% 86.32%,
    46% 87.51%,
    48% 88.75%,
    50% 90%,
    52% 91.25%,
    54% 92.49%,
    56% 93.68%,
    58% 94.82%,
    60% 95.88%,
    62% 96.85%,
    64% 97.71%,
    66% 98.44%,
    68% 99.05%,
    70% 99.51%,
    72% 99.82%,
    74% 99.98%,
    76% 99.98%,
    78% 99.82%,
    80% 99.51%,
    82% 99.05%,
    84% 98.44%,
    86% 97.71%,
    88% 96.85%,
    90% 95.88%,
    92% 94.82%,
    94% 93.68%,
    96% 92.49%,
    98% 91.25%,
    100% 90%
  );
}
