<div class="content-wrapper p-10">
  <h2 class="heading text-3xl self-start text-primary border-secondary font-semibold inline-block">
    {{ lang.map.faq }}
  </h2>

  <div class="mt-10">
    <mat-accordion *ngIf="faqData$ | async as faqData">
      <div *ngFor="let faqItem of faqData" class="mb-2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-primary text-xl font-semibold">{{ faqItem.question }}</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div [innerHTML]="faqItem.answer"></div>
          </ng-template>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
