<div class="login-dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.login }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close class="close-btn" icon="CLOSE"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4 [&>*]:col-span-2">
      <div #f="ngForm" [formGroup]="LoginForm">
        <app-input
          formControlName="identifier"
          [label]="lang.map.identifier + ' / ' + this.lang.map.email"
          (input)="clearError()"
          (keydown.enter)="onLogin()" />
        <app-input
          formControlName="password"
          type="password"
          [label]="lang.map.password"
          (input)="clearError()"
          (keydown.enter)="onLogin()" />
      </div>
    </div>
    <div *ngIf="isLoggedInFailed" class="alert alert-danger" role="alert">
      <span class="mt-2 text-sm text-primary font-bold transition"> {{ lang.map.invalid_user_credentials }}</span>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="onLogin()" buttonStyle="primary">{{ lang.map.sign_in }}</app-button>
    <app-button mat-dialog-close buttonStyle="primary-outline">{{ lang.map.cancel }}</app-button>
  </div>
</div>
