<div class="flex flex-col">
  <h3
    class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
    {{ title }}
  </h3>

  <div class="mt-4 flex justify-center md:justify-end">
    <div class="grid grid-cols-2 gap-2">
      <app-button
        size="sm"
        (click)="selectedChartType = ChartType.MAP"
        [buttonStyle]="selectedChartType === ChartType.MAP ? 'secondary' : 'secondary-outline'"
        [isRounded]="true"
        ><ng-container *ngIf="!isLoading || selectedChartType !== ChartType.MAP">{{ lang.map.map }}</ng-container
        ><mat-spinner
          diameter="20"
          strokeWidth="2"
          *ngIf="isLoading && selectedChartType === ChartType.MAP"></mat-spinner>
      </app-button>
      <app-button
        size="sm"
        (click)="selectedChartType = ChartType.BAR"
        [buttonStyle]="selectedChartType === ChartType.BAR ? 'secondary' : 'secondary-outline'"
        [isRounded]="true"
        ><ng-container *ngIf="!isLoading || selectedChartType !== ChartType.BAR">{{ lang.map.chart }}</ng-container
        ><mat-spinner
          diameter="20"
          strokeWidth="2"
          *ngIf="isLoading && selectedChartType === ChartType.BAR"></mat-spinner>
      </app-button>
    </div>
  </div>
  <div class="mt-2">
    <div class="w-full overflow-hidden" dir="ltr">
      <apx-chart
        #chart
        [ngStyle]="{ display: selectedChartType === ChartType.MAP ? 'none' : 'block' }"
        class="custom-toolbar [&>div]:ml-[-22px] mt-2 pt-1"
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [stroke]="chartOptions.stroke!"
        [colors]="chartOptions.colors!"
        [dataLabels]="chartOptions.dataLabels!"
        [legend]="chartOptions.legend!"
        [markers]="chartOptions.markers!"
        [grid]="chartOptions.grid!"
        [yaxis]="chartOptions.yaxis!"
        [tooltip]="chartOptions.tooltip!"
        [plotOptions]="chartOptions.plotOptions!"
        [title]="chartOptions.title!" />
    </div>
    <div [ngClass]="{ hidden: selectedChartType === ChartType.BAR }" class="w-full mt-4">
      <app-qatar-interactive-map
        [seriesData]="mapSeriesData"
        [selectedMunicipalityId]="selectedMunicipality.id"
        [unit]="unit"
        [useRentMunicipalityLookups]="useRentMunicipalityLookups"
        (selectedMunicipalityChanged)="onMapSelectedMunicipalityChanged($event)" />
    </div>
  </div>
</div>
