<div id="news-letter" class="bg-sand p-10 rounded-xl flex gap-y-10 flex-col items-center">
  <div class="flex items-center gap-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M21 3a1 1 0 0 1 1 1v16.007a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V19h18V7.3l-8 7.2l-10-9V4a1 1 0 0 1 1-1h18ZM8 15v2H0v-2h8Zm-3-5v2H0v-2h5Zm14.566-5H4.434L12 11.81L19.566 5Z" />
    </svg>
    <h2 class="text-2xl font-semibold heading border-secondary text-primary">الاشتراك فى النشرة البريدية</h2>
  </div>
  <div class="flex border-secondary border-2 w-3/4 h-14 rounded-xl overflow-hidden relative">
    <input
      type="text"
      placeholder="ادخل بريدك الالكتروني ليصلك كل ما هو جديد"
      class="w-full placeholder-primary/50 text-xl h-full outline-none pe-10 px-5 text-primary" />
    <div class="absolute end-0 top-px">
      <button class="!text-primary" mat-icon-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1792 1824">
          <path
            fill="currentColor"
            d="M1764 43q33 24 27 64l-256 1536q-5 29-32 45q-14 8-31 8q-11 0-24-5l-527-215l-298 327q-18 21-47 21q-14 0-23-4q-19-7-30-23.5t-11-36.5v-452L40 1115q-37-14-40-55q-3-39 32-59L1696 41q35-21 68 2zm-342 1499l221-1323l-1434 827l336 137l863-639l-478 797z" />
        </svg>
      </button>
    </div>
  </div>
</div>
