<div id="news-letter" class="bg-sand p-10 rounded-xl flex gap-y-10 flex-col items-center">
  <div class="flex items-center gap-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M21 3a1 1 0 0 1 1 1v16.007a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V19h18V7.3l-8 7.2l-10-9V4a1 1 0 0 1 1-1h18ZM8 15v2H0v-2h8Zm-3-5v2H0v-2h5Zm14.566-5H4.434L12 11.81L19.566 5Z" />
    </svg>
    <h2 class="text-2xl font-semibold heading border-secondary text-primary">
      {{ lang.map.subscribe_to_the_newsletter }}
    </h2>
  </div>
  <app-input
    class="w-full"
    size="xl"
    label=""
    [formControl]="newsletterControl"
    [displayErrors]="false"
    [placeholder]="lang.map.enter_your_email_to_receive_all_new"
    bgColor="bg-white"
    caretColor="caret-secondary"
    borderColor="border-secondary"
    ><app-icon-button
      *ngIf="!isLoading"
      (click)="recaptcha.execute()"
      [disabled]="!newsletterControl.valid"
      appInputSuffix
      class="!text-primary"
      icon="SEND"></app-icon-button
    ><mat-spinner class="ms-2" appInputSuffix *ngIf="isLoading" diameter="20" strokeWidth="2"></mat-spinner>
  </app-input>
  <re-captcha
    #recaptcha
    size="normal"
    [siteKey]="recaptchaSettings.siteKey!"
    (resolved)="onRecaptchaResolved($event)"></re-captcha>
</div>
