<div *ngIf="type === 'normal'" class="flex gap-4">
  <app-transactions-measuring-item
    class="flex-1"
    *ngFor="let item of list"
    [item]="item"></app-transactions-measuring-item>
</div>

<div
  *ngIf="type === 'small'"
  class="grid grid-cols-3 xl:grid-cols-6 border-2 border-secondary overflow-hidden rounded-xl">
  <app-transactions-measuring-item
    *ngFor="let item of list; let i = index"
    class="border-e-2 border-secondary last-of-type:border-e-0 {{ i > 2 ? 'border-t-2 xl:border-t-0' : '' }} {{
      i % 3 === 2 ? 'border-e-0 xl:border-e-2' : ''
    }}"
    [item]="item"
    type="small"></app-transactions-measuring-item>
</div>

<div dir="ltr" *ngIf="type === 'carousel'" class="flex justify-center gap-6 text-primary">
  <div class="w-11/12">
    <carousel [arrowsOutside]="true" [margin]="20" [cellWidth]="350">
      <app-transactions-measuring-item
        class="carousel-cell"
        *ngFor="let item of list"
        [item]="item"></app-transactions-measuring-item>
    </carousel>
  </div>
</div>
