<div class="h-72 relative text-white">
  <div class="absolute inset-0 bg-pattern">
    <div class="absolute inset-0 bg-gradient-to-t from-transparent to-white to-100%"></div>
  </div>
  <svg width="0" class="fixed" height="0">
    <defs>
      <clipPath id="footer-clip-path" clipPathUnits="objectBoundingBox">
        <path d="M0,1 L1,1 V0.099 C0.4,0,0.543,0.493,0,0.099"></path>
      </clipPath>
    </defs>
  </svg>
  <div class="px-10 h-60 w-full bg-footer bg-cover clipped-footer absolute top-0 right-0 left-0"></div>
  <div
    class="px-10 h-60 w-full bg-gradient-to-r from-primary/90 to-gray-800/90 clipped-footer absolute top-0 right-0 left-0"></div>
  <div
    id="bottom-footer"
    class="flex items-center justify-between h-12 absolute bottom-0 right-0 left-0 bg-[#666666] px-10 w-full">
    <ul class="flex gap-x-3 divide-items">
      <li><a mat-button href="#">الخصوصية والحقوق</a></li>
      <li><a mat-button href="#">خريطة الموقع</a></li>
    </ul>
    <div>
      <span>البلدية غير مسؤولة عن أي اقتباس من الموقع - جميع الحقوق محفوظة لوزارة البلديــــة © 2023</span>
    </div>
  </div>
</div>
