<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسجيل المطور العقاري</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      direction: rtl;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
    }
    .logo {
      margin: 20px 0;
      text-align: center;
    }
    .message {
      font-size: 18px;
      color: #333333;
      margin: 20px 0;
      padding: 10px;
    }
    .success-message {
      color: #1e9539;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <!-- Logo Section -->
  <div class="logo">
    <img src="https://qrep.aqarat.gov.qa/assets/images/mm-logo-colored.png" alt="Company Logo" width="250" >
  </div>
  <div class="message">
    <p class="success-message">تم تسجيل بيانات المطور العقاري بنجاح</p>
    <p class="success-message">The real estate developer's data has been successfully registered.</p>
  </div>

</div>
</body>
</html>
