<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform.toCapitalAll() }}</h1>
    <h2 class="text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform.toCapitalAll() }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run.toCapitalAll() }})</span>
    </h2>
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="px-16">
    <app-transactions-filter
      indicatorType="sell"
      [municipalities]="municipalities"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsages"
      [zones]="zones"
      [rooms]="rooms"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="flex flex-col">
    <div class="px-16 mt-5">
      <div class="flex justify-center gap-5">
        <button
          [ngClass]="{ active: isSelectedTab('sell_indicators') }"
          (click)="switchTab('sell_indicators')"
          class="shadow-xl outline-none border border-secondary text-secondary p-5 text-2xl rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.sell_indicators }}
        </button>
        <button
          [ngClass]="{ active: isSelectedTab('statistical_reports_for_sell') }"
          (click)="switchTab('statistical_reports_for_sell')"
          class="shadow-xl outline-none border border-secondary text-secondary p-5 text-2xl rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.statistical_reports_for_sell }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isSelectedTab('sell_indicators')" class="flex flex-col">
    <div class="p-16">
      <div class="flex flex-col">
        <h3 class="heading text-3xl self-start text-primary border-secondary font-semibold inline-block">
          {{ lang.map.sell_transactions_measuring_dashboard }}
        </h3>
        <div class="flex flex-col gap-4 xl:flex-row">
          <div class="flex-1 my-4 p-4 border border-primary rounded-lg grid grid-cols-3 justify-center gap-4">
            <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of nonePriceList" [item]="item" />
          </div>
          <div class="flex-1 my-4 p-4 border border-primary rounded-lg grid grid-cols-3 justify-center gap-4">
            <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of priceList" [item]="item" />
          </div>
        </div>
      </div>
    </div>
    <div class="bg-sand p-16">
      <div class="px-16 flex flex-col justify-center items-center">
        <div class="flex w-full justify-center">
          <h3 *ngIf="selectedRoot" class="text-3xl mb-4 text-primary border-secondary font-semibold">
            {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_use }})
          </h3>
        </div>
        <div
          class="w-5/6 grid grid-cols-3 xl:grid-cols-7 gap-2 xl:gap-0 border-0 xl:border-2 border-secondary overflow-hidden xl:rounded-xl">
          <ng-container *ngFor="let item of purposeKPIS; let i = index">
            <span class="xl:hidden" *ngIf="i === 6"></span>
            <app-purpose
              [item]="item"
              (click)="purposeSelected(item)"
              class="border-2 rounded-xl overflow-hidden xl:border-0 xl:rounded-none xl:border-e-2 border-secondary xl:last-of-type:border-e-0"
          /></ng-container>
        </div>
        <div class="mt-20 w-11/12" dir="ltr">
          <div class="flex justify-center">
            <h3 *ngIf="selectedRoot" class="text-3xl mb-4 text-primary border-secondary font-semibold">
              {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_type }})
            </h3>
          </div>
          <carousel #carousel [arrowsOutside]="true" [margin]="20" [cellWidth]="350">
            <app-property-block
              useAssetsFrom="sell"
              [ignoreLocalImages]="true"
              class="carousel-cell"
              *ngFor="let item of propertiesKPIS"
              [item]="item" />
          </carousel>
        </div>
      </div>
    </div>
    <div class="p-16 flex flex-col">
      <div class="flex justify-center">
        <h3 *ngIf="selectedRoot" class="text-3xl mb-4 text-primary border-secondary font-semibold">
          {{ selectedRoot.getNames() }}
        </h3>
      </div>
      <div class="flex">
        <div class="flex-auto" dir="ltr">
          <apx-chart
            #chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [stroke]="chartOptions.stroke!"
            [colors]="chartOptions.colors!"
            [dataLabels]="chartOptions.dataLabels!"
            [legend]="chartOptions.legend!"
            [markers]="chartOptions.markers!"
            [grid]="chartOptions.grid!"
            [yaxis]="chartOptions.yaxis!"
            [tooltip]="chartOptions.tooltip!"
            [plotOptions]="chartOptions.plotOptions!"
            [title]="chartOptions.title!" />
        </div>
        <div class="h-full flex flex-col mt-10">
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.LINE) }"
            (click)="updateChartType(ChartType.LINE)"
            class="text-primary"
            icon="LINE_CHART" />
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.BAR) }"
            (click)="updateChartType(ChartType.BAR)"
            icon="BAR_CHART" />
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.AREA) }"
            (click)="updateChartType(ChartType.AREA)"
            icon="AREA_CHART" />
        </div>
      </div>
    </div>
    <div class="p-16">
      <h3 class="text-3xl mb-4 text-primary border-secondary font-semibold">
        {{ lang.map.sell_transactions_list }}
      </h3>
      <app-table minWidth="900px" headerBgColor="!bg-secondary" [data]="transactions">
        <ng-template appTableColumnTemplate columnName="location" [columnHeader]="this.lang.map.location" let-item>
          <div class="flex justify-center">
            <div class="text-start">
              <p class="font-bold">{{ item.municipalityInfo.getNames() }}</p>
              <p>{{ lang.map.status + ": " + item.unitStatusInfo.getNames() }}</p>
            </div>
          </div>
        </ng-template>
        <ng-template appTableColumnTemplate columnName="sold_for" [columnHeader]="this.lang.map.sold_for" let-item>
          <span class="font-bold">{{ item.realEstateValue | number }}</span>
        </ng-template>
        <ng-template appTableColumnTemplate columnName="issue_date" [columnHeader]="this.lang.map.issue_date" let-item>
          <div class="text-center">
            <p>{{ item.issueDate | date : "YYYY-MM-dd" }}</p>
            <p class="font-bold">{{ item.soldTo || "Individual" }}</p>
          </div>
        </ng-template>
        <ng-template
          appTableColumnTemplate
          columnName="square_feet_price"
          [columnHeader]="this.lang.map.square_feet_price"
          let-item>
          <span class="font-bold">{{ item.priceMT | number : "1.0-0" }}</span>
        </ng-template>
        <ng-template appTableColumnTemplate columnName="roi" columnHeader="ROI" let-item>
          <span class="font-bold">{{ item.roi ?? 0.016 | percent : "1.2" }}</span>
        </ng-template>
        <ng-template
          appTableColumnTemplate
          columnName="unit_parcel_no"
          [columnHeader]="this.lang.map.unit_parcel_no"
          let-item
          ><span class="font-bold">{{ item.unitNo ?? 13000 | number }}</span></ng-template
        >
      </app-table>
    </div>
  </div>
  <div *ngIf="isSelectedTab('statistical_reports_for_sell')" class="flex flex-col">
    <div class="px-16 py-8 flex bg-sand mt-8 flex-col">
      <div class="flex justify-center mt-5">
        <h3 class="heading text-3xl text-primary border-secondary font-semibold inline-block">
          {{ lang.map.list_of_sell_transactions }}
        </h3>
      </div>
      <table class="mt-5 custom-table" mat-table matSort [dataSource]="transactionsPurpose">
        <!-- purpose -->
        <ng-container matColumnDef="purpose">
          <th mat-header-cell class="!text-white" mat-sort-header="purpose" *matHeaderCellDef>
            {{ lang.map.purpose }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.purposeInfo.getNames() }}</td>
        </ng-container>

        <ng-container matColumnDef="average">
          <th mat-header-cell class="!text-white" mat-sort-header="average" *matHeaderCellDef>
            {{ lang.map.average_price }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.medianPrice | formatNumbers }}</td>
        </ng-container>
        <!-- count -->
        <ng-container matColumnDef="count">
          <th mat-header-cell class="!text-white" mat-sort-header="count" *matHeaderCellDef>
            {{ lang.map.number_of_sell_contracts }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.countCertificateCode | formatNumbers : 0 }}</td>
        </ng-container>
        <!-- count -->
        <ng-container matColumnDef="chart">
          <th mat-header-cell class="!text-white" *matHeaderCellDef>{{ lang.map.chart }}</th>
          <td mat-cell *matCellDef="let element">
            <app-icon-button (click)="openChart(element)" icon="BAR_CHART"></app-icon-button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="rounded-first-tr !bg-primary !text-white"
          *matHeaderRowDef="transactionsPurposeColumns"></tr>
        <tr
          mat-row
          class="rounded-last-tr !bg-white"
          *matRowDef="let element; columns: transactionsPurposeColumns"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
        </tr>
      </table>
    </div>
    <div class="px-16 py-5 flex flex-col">
      <div class="flex justify-center mt-5">
        <h3 class="heading text-3xl text-primary border-secondary font-semibold inline-block">
          {{ lang.map.top_10_areas }}
        </h3>
      </div>
      <div class="bg-sand shadow rounded-xl p-2 self-center mt-5">
        <ul class="flex gap-2">
          <li *ngFor="let item of accordingToList">
            <app-button
              (click)="selectTop10Chart(item)"
              size="lg"
              [buttonStyle]="item.selected ? 'secondary' : 'none-primary'"
              >{{ item.getNames() }}</app-button
            >
          </li>
        </ul>
      </div>
      <div dir="ltr">
        <apx-chart
          #top10Chart
          [series]="top10ChartOptions.series!"
          [chart]="top10ChartOptions.chart!"
          [xaxis]="top10ChartOptions.xaxis!"
          [stroke]="top10ChartOptions.stroke!"
          [colors]="top10ChartOptions.colors!"
          [dataLabels]="top10ChartOptions.dataLabels!"
          [legend]="top10ChartOptions.legend!"
          [markers]="top10ChartOptions.markers!"
          [grid]="top10ChartOptions.grid!"
          [yaxis]="top10ChartOptions.yaxis!"
          [tooltip]="top10ChartOptions.tooltip!"
          [plotOptions]="top10ChartOptions.plotOptions!"
          [title]="top10ChartOptions.title!" />
      </div>
    </div>
    <div class="px-16 bg-sand py-5">
      <table class="custom-table p-5" mat-table matSort [dataSource]="compositeTransactions">
        <!-- arName -->
        <ng-container matColumnDef="municipality">
          <!--          mat-sort-header="municipality" -->
          <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
            {{ lang.map.municipal }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[0].municipalityInfo.getNames() }}</td>
        </ng-container>

        <ng-container matColumnDef="firstYear1">
          <!--          mat-sort-header="firstYear1" -->
          <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
            {{ compositeYears.previousYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[0].kpi1Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="firstYear2">
          <!--          mat-sort-header="firstYear2" -->
          <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
            {{ compositeYears.selectedYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[1].kpi1Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="firstYoy">
          <!--          mat-sort-header="firstYoy" -->
          <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
            {{ lang.map.change }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-2 items-center">
              <app-yoy-indicator [value]="element[1].kpi1YoYVal.toFixed(2)" />
              <div>{{ element[1].kpi1YoYVal.toFixed(2) }} %</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="secondYear1">
          <!--          mat-sort-header="secondYear1" -->
          <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
            {{ compositeYears.previousYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[0].kpi2Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="secondYear2">
          <!--          mat-sort-header="secondYear2" -->
          <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
            {{ compositeYears.selectedYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[1].kpi2Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="secondYoy">
          <!--          mat-sort-header="secondYoy" -->
          <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
            {{ lang.map.change }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-2 items-center">
              <app-yoy-indicator [value]="element[1].kpi2YoYVal.toFixed(2)" />
              <div>{{ element[1].kpi2YoYVal.toFixed(2) }} %</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="thirdYear1">
          <!--          mat-sort-header="thirdYear1" -->
          <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
            {{ compositeYears.previousYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[0].kpi3Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="thirdYear2">
          <!--          mat-sort-header="thirdYear2" -->
          <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
            {{ compositeYears.selectedYear }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[1].kpi3Val | formatNumbers }}</td>
        </ng-container>
        <ng-container matColumnDef="thirdYoy">
          <!--          mat-sort-header="thirdYoy" -->
          <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
            {{ lang.map.change }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-2 items-center">
              <app-yoy-indicator [value]="element[1].kpi3YoYVal.toFixed(2)" />
              <div>{{ element[1].kpi3YoYVal.toFixed(2) }} %</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="contractCounts">
          <th colspan="4" mat-header-cell *matHeaderCellDef>
            <div class="flex justify-center">
              <span class="text-azure text-2xl">{{ lang.map.sell_contracts_count }}</span>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="contractValues">
          <th colspan="3" mat-header-cell *matHeaderCellDef>
            <div class="flex justify-center">
              <span class="text-jungle text-2xl">{{ lang.map.sell_contracts_value }}</span>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="avgContract">
          <th colspan="3" mat-header-cell *matHeaderCellDef>
            <div class="flex justify-center">
              <span class="text-indigo-rainbow text-2xl">{{ lang.map.average_price_per_square_meter }}</span>
            </div>
          </th>
        </ng-container>
        <tr mat-header-row class="[&>th]:border-none" *matHeaderRowDef="compositeTransactionsExtraColumns"></tr>
        <tr mat-header-row class="rounded-first-tr" *matHeaderRowDef="compositeTransactionsColumns"></tr>
        <tr
          mat-row
          class="rounded-last-tr !bg-white"
          *matRowDef="let element; columns: compositeTransactionsColumns"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
        </tr>
      </table>
    </div>
    <div class="px-16 py-5">
      <div class="shadow-lg rounded-lg overflow-hidden">
        <div class="bg-primary p-4 flex justify-center items-center">
          <span class="text-2xl text-white">{{ lang.map.sell_contracts_count_according_to_bedrooms }}</span>
        </div>
        <div dir="ltr" class="flex justify-center">
          <apx-chart
            #pieChart
            [series]="pieChartOptions.series"
            [labels]="pieChartOptions.labels"
            [responsive]="pieChartOptions.responsive!"
            [chart]="pieChartOptions.chart"
            [legend]="pieChartOptions.legend" />
        </div>
      </div>
    </div>
  </div>
</div>
