.white-filter {
  filter: brightness(100);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #8a1538;
}

.selected .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ffffff;
}
