<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center">
      <span class="text-secondary">{{ lang.map.real_estate_rent_indicators }}</span>
    </h2>
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      [municipalities]="municipalities"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsages"
      [zones]="zones"
      [rooms]="rooms"
      [furnitureStatus]="furnitureStatusList"
      [paramsRange]="paramsRange"
      (fromChanged)="filterChange($event)" />
  </div>
  <div class="flex flex-col">
    <div class="px-3 lg:px-16 mt-5 flex justify-center">
      <div class="flex justify-center gap-2 lg:gap-5 w-full md:w-3/4 lg:w-2/3 text-lg sm:text-2xl">
        <button
          [ngClass]="{ active: isSelectedTab('rental_indicators') }"
          (click)="switchTab('rental_indicators')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.rental_indicators }}
        </button>
        <button
          [ngClass]="{ active: isSelectedTab('statistical_reports_for_rent') }"
          (click)="switchTab('statistical_reports_for_rent')"
          class="flex-1 shadow-xl outline-none border border-secondary font-semibold px-2 py-3 lg:py-4 rounded-2xl [&.active]:bg-secondary [&.active]:text-white [&.active]:ring-2 ring-black">
          {{ lang.map.statistical_reports_for_rent }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isSelectedTab('rental_indicators')" class="flex flex-col">
    <div class="py-16 px-3 lg:px-16">
      <div class="flex flex-col">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.rental_transactions_measuring_dashboard }} {{ basedOnCriteria }}
        </h3>
        <div class="flex flex-col gap-4 xl:flex-row">
          <div
            class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
            <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of nonePriceList" [item]="item" />
          </div>
          <div
            class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
            <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of priceList" [item]="item" />
          </div>
        </div>
      </div>
    </div>
    <div class="bg-sand py-16 px-3 lg:px-16">
      <div class="flex flex-col justify-center items-center">
        <h3
          *ngIf="selectedRoot"
          class="heading text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_use }}) {{ getSelectedArea(true, true) }}
        </h3>

        <div class="mt-4 sm:hidden w-full grid grid-cols-2 gap-2 overflow-hidden">
          <ng-container *ngFor="let item of purposeKPIS; let i = index">
            <app-purpose
              [item]="item"
              (click)="purposeSelected(item)"
              class="border-2 rounded-xl overflow-hidden xl:border-0 xl:rounded-none xl:border-e-2 border-secondary xl:last-of-type:border-e-0" />
          </ng-container>
        </div>
        <div
          class="mt-4 w-full hidden sm:grid grid-cols-3 xl:grid-cols-6 border-2 border-secondary overflow-hidden rounded-xl">
          <app-purpose
            *ngFor="let item of purposeKPIS; let i = index"
            [item]="item"
            (click)="purposeSelected(item)"
            class="xl:border-e-2 border-secondary last-of-type:border-e-0 {{
              i > 2 ? 'border-t-2 xl:border-t-0' : ''
            }} {{ i % 3 === 2 ? 'border-e-0 xl:border-e-2' : 'border-e-2' }}" />
        </div>

        <h3
          *ngIf="selectedRoot"
          class="heading mt-20 text-xl sm:text-2xl md:text-3xl self-center text-center text-primary border-secondary font-semibold">
          {{ selectedRoot.getNames() }} ({{ lang.map.depending_on_type }}) {{ getSelectedArea(true, true) }}
        </h3>
        <div class="mt-4 w-4/6 sm:w-5/6 lg:w-11/12" dir="ltr">
          <div>
            <carousel #carousel [arrowsOutside]="true" [margin]="20" [cellWidth]="350">
              <app-property-block
                useAssetsFrom="rent"
                [ignoreLocalImages]="true"
                class="carousel-cell m-0"
                *ngFor="let item of propertiesKPIS"
                [item]="item" />
            </carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="py-16 px-3 lg:px-16 flex flex-col">
      <h3
        *ngIf="selectedRoot"
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ selectedRoot.getNames() }} {{ basedOnCriteria }}
      </h3>

      <div class="mt-4 flex justify-center md:justify-end">
        <div class="grid grid-cols-4 gap-2">
          <app-button
            size="sm"
            (click)="updateChartDuration(DurationTypes.YEARLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.YEARLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.yearly }}</app-button
          >
          <app-button
            size="sm"
            (click)="updateChartDuration(DurationTypes.HALFY)"
            [buttonStyle]="selectedDurationType === DurationTypes.HALFY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.half_yearly }}</app-button
          >
          <app-button
            size="sm"
            (click)="updateChartDuration(DurationTypes.QUARTERLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.QUARTERLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.quarter_yearly }}</app-button
          >
          <app-button
            size="sm"
            (click)="updateChartDuration(DurationTypes.MONTHLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.MONTHLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.monthly }}</app-button
          >
        </div>
      </div>
      <div class="flex flex-col mt-2 md:flex-row">
        <div class="flex-auto overflow-hidden pt-1" dir="ltr">
          <apx-chart
            #chart
            class="custom-toolbar [&>div]:ml-[-22px]"
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [stroke]="chartOptions.stroke!"
            [colors]="chartOptions.colors!"
            [dataLabels]="chartOptions.dataLabels!"
            [legend]="chartOptions.legend!"
            [markers]="chartOptions.markers!"
            [grid]="chartOptions.grid!"
            [yaxis]="chartOptions.yaxis!"
            [tooltip]="chartOptions.tooltip!"
            [plotOptions]="chartOptions.plotOptions!"
            [title]="chartOptions.title!" />
        </div>
        <div class="h-full flex flex-row justify-center md:flex-col -mt-6 md:mt-4">
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.LINE) }"
            (click)="updateChartType(ChartType.LINE)"
            class="text-primary"
            icon="LINE_CHART" />
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.BAR) }"
            (click)="updateChartType(ChartType.BAR)"
            icon="BAR_CHART" />
          <app-icon-button
            [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.AREA) }"
            (click)="updateChartType(ChartType.AREA)"
            icon="AREA_CHART" />
        </div>
      </div>
    </div>
    <div class="px-3 lg:px-16 flex flex-col gap-4">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.rent_transactions_list }} {{ getSelectedArea(true, true) }}
      </h3>
      <app-table
        minWidth="900px"
        (paginate)="paginate($event)"
        [length]="transactionsCount"
        [dataSource]="dataSource"
        [sortOptions]="[]"
        [defaultSortOption]="transactionsSortOptions[0]">
        <ng-container appTableColumnTemplate columnName="municipality_id"
          ><span *appTableColumnHeaderTemplate>{{ lang.map.municipal }}</span
          ><span *appTableColumnCellTemplate="let item; typeOf: transactions$">{{
            item.municipalityInfo.getNames()
          }}</span></ng-container
        >
        <ng-container appTableColumnTemplate columnName="unit_details">
          <span *appTableColumnHeaderTemplate>{{ lang.map.unit_details }}</span>
          <div *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            <div class="text-start">
              <div>
                <b>{{ lang.map.rooms }}</b> : {{ item.bedRoomsCount ? item.bedRoomsCount : "---" }}
              </div>
              <div>
                <b>{{ lang.map.space }}</b> : {{ item.area ? item.area : "---" }}
              </div>
              <div>
                <b>{{ lang.map.unit_type }}</b> : {{ item.area ? item.propertyTypeInfo.getNames() : "---" }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container appTableColumnTemplate columnName="rental_value"
          ><span *appTableColumnHeaderTemplate>{{ lang.map.rental_value }}</span
          ><span *appTableColumnCellTemplate="let item; typeOf: transactions$">
            {{ item.rentPaymentMonthly ? item.rentPaymentMonthly : "---" }}</span
          >
        </ng-container>
        <ng-container appTableColumnTemplate columnName="contract_start_date"
          ><span *appTableColumnHeaderTemplate>{{ lang.map.contract_start_date }}</span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$">{{
            item.startDate | date : "YYYY-MM-dd"
          }}</span></ng-container
        >
        <ng-container appTableColumnTemplate columnName="contract_end_date"
          ><span *appTableColumnHeaderTemplate>{{ lang.map.contract_end_date }}</span
          ><span *appTableColumnCellTemplate="let item; typeOf: transactions$">{{
            item.endDate | date : "YYYY-MM-dd"
          }}</span></ng-container
        >
      </app-table>
    </div>
  </div>
  <div *ngIf="isSelectedTab('statistical_reports_for_rent')" class="flex flex-col">
    <div class="px-3 lg:px-16 py-8 flex bg-sand mt-8 flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.rental_indicators }} ({{ lang.map.depending_on_use }}) {{ getSelectedArea(true, true) }}
      </h3>
      <div class="overflow-x-auto">
        <table
          class="mt-5 custom-table w-full"
          [ngStyle]="{ minWidth: '1200px' }"
          mat-table
          matSort
          [dataSource]="transactionsPurpose">
          <!-- purpose -->
          <ng-container matColumnDef="purpose">
            <th mat-header-cell class="!text-white" mat-sort-header="purpose" *matHeaderCellDef>
              {{ lang.map.purpose }}
            </th>
            <td mat-cell class="text-primary" *matCellDef="let element">{{ element.purposeInfo.getNames() }}</td>
          </ng-container>

          <ng-container matColumnDef="average">
            <th mat-header-cell class="!text-white" mat-sort-header="average" *matHeaderCellDef>
              {{ lang.map.average_rental_price_per_unit_property }}
            </th>
            <td mat-cell class="text-primary" *matCellDef="let element">
              {{ element.rentPaymentMonthly | formatNumbers }}
            </td>
          </ng-container>
          <!-- count -->
          <ng-container matColumnDef="certificates-count">
            <th mat-header-cell class="!text-white" mat-sort-header="certificates-count" *matHeaderCellDef>
              {{ lang.map.rent_contracts_count }}
            </th>
            <td mat-cell class="text-primary" *matCellDef="let element">
              {{
                element.certificateCount
                  | mask : maskSeparator.SEPARATOR : { thousandSeparator: maskSeparator.THOUSAND_SEPARATOR }
              }}
            </td>
          </ng-container>
          <!-- count -->

          <ng-container matColumnDef="area">
            <th mat-header-cell class="!text-white" mat-sort-header="area" *matHeaderCellDef>
              {{ lang.map.total_area }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.sumArea | formatNumbers : 0 }}</td>
          </ng-container>

          <ng-container matColumnDef="units-count">
            <th mat-header-cell class="!text-white" mat-sort-header="units-count" *matHeaderCellDef>
              {{ lang.map.the_total_number_of_properties_units_rented }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.certificateCount | formatNumbers : 0 }}</td>
          </ng-container>

          <ng-container matColumnDef="average-square">
            <th mat-header-cell class="!text-white" mat-sort-header="average-square" *matHeaderCellDef>
              {{
                unitsService.selectedUnit() === 1
                  ? lang.map.average_price_per_square_meter
                  : lang.map.average_price_per_square_foot
              }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.unitSquareRentPayment() | formatNumbers : 2 }}</td>
          </ng-container>

          <ng-container matColumnDef="chart">
            <th mat-header-cell class="!text-white" *matHeaderCellDef>{{ lang.map.chart }}</th>
            <td mat-cell *matCellDef="let element">
              <app-icon-button class="text-primary" (click)="openChart(element)" icon="BAR_CHART"></app-icon-button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            class="rounded-first-tr !bg-primary !text-white"
            *matHeaderRowDef="transactionsPurposeColumns"></tr>
          <tr
            mat-row
            class="rounded-last-tr !bg-white"
            *matRowDef="let element; columns: transactionsPurposeColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="px-3 lg:px-16 py-5 flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.top_10_areas }} {{ getSelectedArea(true, false) }}
      </h3>

      <div class="bg-sand shadow rounded-xl p-2 self-center mt-5">
        <ul class="flex flex-wrap gap-2">
          <li class="flex-1" *ngFor="let item of accordingToList">
            <app-button
              class="min-w-max w-max whitespace-nowrap"
              (click)="selectTop10Chart(item)"
              [buttonStyle]="item.selected ? 'secondary' : 'none-primary'"
              >{{ item.getNames() }}</app-button
            >
          </li>
        </ul>
      </div>
      <div dir="ltr">
        <div class="flex flex-col md:flex-row">
          <div class="flex-auto">
            <apx-chart
              #top10Chart
              [series]="top10ChartOptions[selectedTop10ChartType].series!"
              [chart]="top10ChartOptions[selectedTop10ChartType].chart!"
              [xaxis]="top10ChartOptions[selectedTop10ChartType].xaxis!"
              [stroke]="top10ChartOptions[selectedTop10ChartType].stroke!"
              [colors]="top10ChartOptions[selectedTop10ChartType].colors!"
              [dataLabels]="top10ChartOptions[selectedTop10ChartType].dataLabels!"
              [legend]="top10ChartOptions[selectedTop10ChartType].legend!"
              [markers]="top10ChartOptions[selectedTop10ChartType].markers!"
              [grid]="top10ChartOptions[selectedTop10ChartType].grid!"
              [yaxis]="top10ChartOptions[selectedTop10ChartType].yaxis!"
              [tooltip]="top10ChartOptions[selectedTop10ChartType].tooltip!"
              [plotOptions]="top10ChartOptions[selectedTop10ChartType].plotOptions!"
              [title]="top10ChartOptions[selectedTop10ChartType].title!" />
          </div>
          <div class="h-full flex flex-row justify-center md:flex-col -mt-6 md:mt-6">
            <app-icon-button
              [ngClass]="{ 'text-primary': isSelectedTop10ChartType(ChartType.LINE) }"
              (click)="updateTop10ChartType(ChartType.LINE)"
              class="text-primary"
              icon="LINE_CHART" />
            <app-icon-button
              [ngClass]="{ 'text-primary': isSelectedTop10ChartType(ChartType.BAR) }"
              (click)="updateTop10ChartType(ChartType.BAR)"
              icon="BAR_CHART" />
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 lg:px-16 bg-sand py-5">
      <div class="overflow-x-auto">
        <table
          class="custom-table p-5 w-full"
          [ngStyle]="{ minWidth: '1200px' }"
          mat-table
          matSort
          [dataSource]="compositeTransactions">
          <!-- arName -->
          <ng-container matColumnDef="municipality">
            <!--          mat-sort-header="municipality" -->
            <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
              {{ lang.map.municipal }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[0].municipalityInfo.getNames() }}</td>
          </ng-container>

          <ng-container matColumnDef="firstYear1">
            <!--          mat-sort-header="firstYear1" -->
            <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
              {{ compositeYears.previousYear }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{
                element[0].kpi1Val
                  | mask : maskSeparator.SEPARATOR : { thousandSeparator: maskSeparator.THOUSAND_SEPARATOR }
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="firstYear2">
            <!--          mat-sort-header="firstYear2" -->
            <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
              {{ compositeYears.selectedYear }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{
                element[1].kpi1Val
                  | mask : maskSeparator.SEPARATOR : { thousandSeparator: maskSeparator.THOUSAND_SEPARATOR }
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="firstYoy">
            <!--          mat-sort-header="firstYoy" -->
            <th mat-header-cell class="!bg-azure !text-white" *matHeaderCellDef>
              {{ lang.map.change }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex gap-2 items-center">
                <app-yoy-indicator [value]="element[1].kpi1YoYVal.toFixed(2)" />
                <div>{{ element[1].kpi1YoYVal.toFixed(2) }} %</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="secondYear1">
            <!--          mat-sort-header="secondYear1" -->
            <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
              {{ compositeYears.previousYear }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[0].kpi2Val | formatNumbers }}</td>
          </ng-container>
          <ng-container matColumnDef="secondYear2">
            <!--          mat-sort-header="secondYear2" -->
            <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
              {{ compositeYears.selectedYear }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[1].kpi2Val | formatNumbers }}</td>
          </ng-container>
          <ng-container matColumnDef="secondYoy">
            <!--          mat-sort-header="secondYoy" -->
            <th mat-header-cell class="!bg-jungle !text-white" *matHeaderCellDef>
              {{ lang.map.change }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex gap-2 items-center">
                <app-yoy-indicator [value]="element[1].kpi2YoYVal.toFixed(2)" />
                <div>{{ element[1].kpi2YoYVal.toFixed(2) }} %</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="thirdYear1">
            <!--          mat-sort-header="thirdYear1" -->
            <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
              {{ compositeYears.previousYear }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[0].kpi3Val | formatNumbers }}</td>
          </ng-container>
          <ng-container matColumnDef="thirdYear2">
            <!--          mat-sort-header="thirdYear2" -->
            <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
              {{ compositeYears.selectedYear }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[1].kpi3Val | formatNumbers }}</td>
          </ng-container>
          <ng-container matColumnDef="thirdYoy">
            <!--          mat-sort-header="thirdYoy" -->
            <th mat-header-cell class="!bg-indigo-rainbow !text-white" *matHeaderCellDef>
              {{ lang.map.change }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex gap-2 items-center">
                <app-yoy-indicator [value]="element[1].kpi3YoYVal.toFixed(2)" />
                <div>{{ element[1].kpi3YoYVal.toFixed(2) }} %</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="contractCounts">
            <th colspan="4" mat-header-cell *matHeaderCellDef>
              <div class="flex justify-center">
                <span class="text-azure text-2xl">{{ lang.map.rent_contracts_count }}</span>
              </div>
            </th>
          </ng-container>

          <ng-container matColumnDef="contractValues">
            <th colspan="3" mat-header-cell *matHeaderCellDef>
              <div class="flex justify-center">
                <span class="text-jungle text-2xl">{{ lang.map.rent_contracts_values }}</span>
              </div>
            </th>
          </ng-container>

          <ng-container matColumnDef="avgContract">
            <th colspan="3" mat-header-cell *matHeaderCellDef>
              <div class="flex justify-center">
                <span class="text-indigo-rainbow text-2xl">{{ lang.map.average_rental_price_per_unit_property }}</span>
              </div>
            </th>
          </ng-container>
          <tr mat-header-row class="[&>th]:border-none" *matHeaderRowDef="compositeTransactionsExtraColumns"></tr>
          <tr mat-header-row class="rounded-first-tr" *matHeaderRowDef="compositeTransactionsColumns"></tr>
          <tr
            mat-row
            class="rounded-last-tr !bg-white"
            *matRowDef="let element; columns: compositeTransactionsColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="px-3 lg:px-16 grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="py-5">
        <div class="shadow-lg rounded-lg overflow-hidden">
          <div class="bg-primary p-4 flex justify-center items-center">
            <span class="text-white text-center text-lg sm:text-xl font-semibold"
              >{{ lang.map.rent_contracts_count_according_to_bedrooms }} {{ getSelectedArea(true, true) }}</span
            >
          </div>
          <div dir="ltr" class="flex justify-center">
            <apx-chart
              #pieChart
              [series]="pieChartOptions.series"
              [labels]="pieChartOptions.labels"
              [responsive]="pieChartOptions.responsive!"
              [chart]="pieChartOptions.chart"
              [legend]="pieChartOptions.legend!"
              [colors]="pieChartOptions.colors!" />
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="shadow-lg rounded-lg overflow-hidden">
          <div class="bg-primary p-4 flex justify-center items-center">
            <span class="text-white text-center text-lg sm:text-xl font-semibold"
              >{{ lang.map.rent_contracts_count_according_to_furniture }} {{ getSelectedArea(true, true) }}</span
            >
          </div>
          <div dir="ltr" class="flex justify-center">
            <apx-chart
              #pieChart
              [series]="pieChartOptions.series"
              [labels]="pieChartOptions.labels"
              [responsive]="pieChartOptions.responsive!"
              [chart]="pieChartOptions.chart"
              [legend]="pieChartOptions.legend!"
              [colors]="pieChartOptions.colors!" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
