<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform.toCapitalAll() }}</h1>
    <h2 class="text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform.toCapitalAll() }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run.toCapitalAll() }})</span>
    </h2>
  </div>
</app-extra-header>

<div class="content-wrapper">
  <div class="px-16">
    <app-transactions-filter></app-transactions-filter>
  </div>
  <br /><br /><br />
  <div class="px-16">
    <app-rental-transactions-measuring></app-rental-transactions-measuring>
  </div>
  <br /><br /><br />
  <div class="bg-sand p-16">
    <app-rental-contracts></app-rental-contracts>
  </div>
</div>
