<ng-container *ngIf="type === 'full'">
  <div class="news-item flex flex-col md:flex-row h-fit lg:h-72">
    <div class="h-72 shadow-xl rounded-xl group w-full lg:w-2/6">
      <a
        [routerLink]="['/news', newsItemData.id]"
        href="#"
        class="news-background overflow-hidden inline-flex w-full h-full bg-primary relative rounded-xl">
        <div
          style="background-image: url('{{ newsItemData.imageUrl }}');"
          class="w-full h-full bg-cover bg-center group-hover:scale-125 transition-transform"></div>
        <div class="bg-gradient-to-t w-full h-full from-black/80 absolute bottom-0 right-0 left-0"></div>
        <div class="news-title flex flex-col items-start absolute bottom-0 right-0 left-0 px-2">
          <span class="flex flex-auto"></span>
          <h2 class="text-lg text-white text-ellipsis line-clamp-3">
            {{ newsItemData.title }}
          </h2>
          <span class="news-date mb-2 items-center flex text-sm text-white py-1 px-2 bg-primary rounded-xl gap-x-2">
            <mat-icon [svgIcon]="icons.CLOCK"></mat-icon>
            <span class="inline-block align-bottom">{{
              newsItemData.date_created | date : "longDate" : undefined : lang.getCurrent().code
            }}</span>
          </span>
        </div>
      </a>
    </div>
    <div class="news-content w-full lg:w-4/6 px-2 flex flex-col justify-between">
      <div>
        <div
          class="news-tags flex gap-x-2 [&>a]:bg-gray-200 [&>a]:px-1 [&>a]:text-sm [&>a]:py-1 [&>a:hover]:bg-gray-400 [&>a]:rounded">
          <a *ngFor="let tag of newsItemData.tags" (click)="$event.preventDefault()" href="#">{{ tag }}</a>
        </div>
        <p class="news-excerpt text-lg overflow-hidden flex-auto text-ellipsis line-clamp-[7] mt-5">
          {{ newsItemData.excerpt }}
        </p>
      </div>
      <!--      <div class="news-social-shares align-bottom flex items-center text-primary">-->
      <!--        <app-icon-button icon="PRINTER"></app-icon-button>-->
      <!--        <app-icon-button icon="FACEBOOK"></app-icon-button>-->
      <!--        <app-icon-button icon="TWITTER"></app-icon-button>-->
      <!--      </div>-->
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'concise'">
  <a class="block h-max" [routerLink]="['/news', newsItemData.id]">
    <span class="grid grid-cols-3 gap-3 items-center">
      <span
        style="background-image: url('{{ newsItemData.imageUrl }}');"
        class="col-span-1 w-full h-20 bg-cover bg-center rounded-md"></span>
      <span class="col-span-2 text-ellipsis line-clamp-[3]">{{ newsItemData.title }}</span>
    </span></a
  >
</ng-container>
