<div *ngIf="list?.length" class="flex items-center justify-center gap-1">
  <app-icon-button
    (clicked)="showPreviousSlide()"
    [disabled]="!this.hasPrev()"
    [icon]="lang.isLtr ? 'CHEVRON_LEFT' : 'CHEVRON_RIGHT'"></app-icon-button>
  <div class="overflow-hidden">
    <ng-container *ngFor="let item of list; let i = index">
      <div @fade *ngIf="i === counter">
        <ng-container
          [ngTemplateOutlet]="slideTemplateRef.templateRef"
          [ngTemplateOutletContext]="{
            $implicit: item
          }"></ng-container>
      </div>
    </ng-container>
  </div>
  <app-icon-button
    (clicked)="showNextSlide()"
    [disabled]="!this.hasNext()"
    [icon]="lang.isLtr ? 'CHEVRON_RIGHT' : 'CHEVRON_LEFT'"></app-icon-button>
</div>
