<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<label
  [ngClass]="{
    'has-error': !!(errors | async) && displayErrors,
    'text-base': size === 'sm',
    'text-lg': size === 'md',
    'text-xl': size === 'lg',
    'text-2xl': size === 'xl',
    'cursor-not-allowed': disabled,

  }"
  class="group block relative {{ !noMargin ? marginBottom : '' }}">
  <span [ngClass]="labelColor" class="block font-bold">{{ label }}</span>
  <div
    [ngClass]="{ disabled: disabled }"
    class="{{ size }} group/input-wrapper input-form {{ inputColor }} {{ bgColor }} {{
      borderColor
    }}  flex items-center justify-start">
    <ng-content select="[appInputPrefix]"></ng-content>
    <span
      [ngClass]="{ prefix: inputPrefix, suffix: inputSuffix }"
      class="peer absolute hidden pointer-events-none"></span>
    <ng-container *ngIf="!hasCustomControl">
      <input
        class="{{ disabled ? 'bg-slate-50' : bgColor }} {{ caretColor }} disabled:cursor-not-allowed {{
          placeholderColor
        }}"
        [ngClass]="tailwindClass"
        autocomplete="off"
        [type]="type"
        (blur)="inputTouch()"
        [name]="name"
        [placeholder]="placeholder"
        [formControl]="control" />
    </ng-container>
    <ng-container *ngIf="hasCustomControl">
      <ng-content select="[appControl]"></ng-content>
    </ng-container>
    <ng-content select="[appInputSuffix]"></ng-content>
  </div>
  <ng-container *ngIf="displayErrors">
    <app-validation-errors [errors]="errors | async"></app-validation-errors>
  </ng-container>
</label>
