<div id="voting" class="bg-sand p-5 lg:p-10 rounded-xl flex gap-y-10 flex-col items-center justify-center">
  <div class="flex items-center gap-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M20.498 15.5H3.5v5h16.998v-5Zm1.447-1.028l.021.062l.023.1l.01.1v6.516a.75.75 0 0 1-.65.743l-.1.007H2.75a.75.75 0 0 1-.743-.648L2 21.25v-6.5l.002-.052l.01-.086a.748.748 0 0 1 .047-.153l2.76-6.019a.75.75 0 0 1 .573-.43l.108-.007l2.54-.001l-.79 1.37l-.067.13H5.98L3.918 14H20.07l-2.027-4.346l.862-1.497c.067.05.125.113.172.184l.053.095l2.815 6.036Zm-8.58-12.416l.092.045l5.188 3.003c.328.19.458.591.319.933l-.045.092L16.112 11h1.138a.75.75 0 0 1 .102 1.494l-.102.007l-2.002-.001v.003h-4.079l-.003-.003H6.75a.75.75 0 0 1-.102-1.492l.102-.007L8.573 11l-.182-.105a.752.752 0 0 1-.318-.933l.044-.092l4.317-7.496c.19-.329.59-.46.931-.32Zm-.01 1.72L9.789 9.97L11.567 11h2.817l2.865-4.973l-3.892-2.253Z" />
    </svg>
    <h2 class="text-2xl font-semibold heading border-secondary text-primary">
      {{ lang.map.opinion_poll }}
    </h2>
  </div>
  <div class="flex flex-col w-full lg:w-3/4 gap-y-5">
    <h2 class="text-xl text-primary">{{ vote && vote.title }}</h2>
    <div class="border rounded-xl p-5 border-secondary/50">
      <mat-radio-group
        *ngIf="!vote?.voted"
        class="flex flex-col"
        [formControl]="voteControl"
        aria-label="Select an option">
        <mat-radio-button
          [disabled]="isLoading || (vote && vote.voted)"
          *ngFor="let item of vote?.vote_items ?? []"
          class="font-semibold text-primary"
          [value]="item.id"
          >{{ item.title }}</mat-radio-button
        >
      </mat-radio-group>
      <div *ngIf="vote?.voted" class="flex flex-col gap-4">
        <div
          *ngFor="let item of vote?.vote_items"
          class="relative w-full px-2 py-1 flex justify-between items-center border border-secondary rounded-full overflow-hidden">
          <div
            [ngStyle]="{ width: ((item.counts / getTotalVotes()) * 100).toString() + '%' }"
            class="absolute top-0 ltr:left-0 rtl:right-0 bg-secondary h-full"></div>
          <div class="relative flex items-center gap-2">
            <mat-icon *ngIf="item.voted" class="text-white" [svgIcon]="appIcons.CHECK"></mat-icon>
            <span class="flex-1 text-primary whitespace-nowrap">{{ item.title }}</span>
          </div>
          <span class="relative text-primary">{{ item.counts / getTotalVotes() | percent }}</span>
        </div>
      </div>
    </div>

    <app-button
      *ngIf="!vote?.voted"
      [disabled]="isLoading || !this.voteControl.valid || isWaitingForRecaptchaResolve"
      (click)="onSubmit()"
      class="self-center"
      buttonStyle="secondary"
      ><span *ngIf="!isLoading">{{ lang.map.send }}</span>
      <mat-spinner diameter="20" strokeWidth="2" *ngIf="isLoading"></mat-spinner
    ></app-button>
    <span *ngIf="vote?.voted" class="text-primary flex items-center gap-2">
      <mat-icon class="text-secondary" [svgIcon]="appIcons.CHECK_OUTLINE"></mat-icon>
      {{ lang.map.you_have_successfully_voted_on_this_poll }}</span
    >
    <div class="flex justify-center">
      <re-captcha
        #recaptcha
        [ngClass]="{ hidden: !isRecaptchaVisible }"
        size="normal"
        [siteKey]="recaptchaSettings.siteKey!"
        (resolved)="onRecaptchaResolved($event)"></re-captcha>
    </div>
  </div>
</div>
