<div class="py-5 flex flex-col">
  <h3
    class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
    {{ title }}
  </h3>
  <div *ngIf="accordingToList.length" class="bg-sand shadow rounded-xl p-2 self-center mt-5">
    <ul class="flex flex-wrap gap-2">
      <ng-container *ngFor="let item of accordingToList">
        <li *ngIf="!item.disabled" class="flex-1">
          <app-button
            class="relative min-w-max w-max whitespace-nowrap"
            (click)="selectAccordingTo(item)"
            [disabled]="item.disabled || !item.criteriaTerms.validate(criteria)"
            [buttonStyle]="item.id === selectedAccordingTo.id ? 'secondary' : 'none-primary'"
            appCustomTooltip
            [tooltipContent]="
              item.disabled
                ? disabledTooltipTemplate
                : !item.criteriaTerms.validate(criteria)
                ? criteriaTooltipTemplate
                : null
            "
            [tooltipContentContext]="item.criteriaTerms.getCriteriaTermsText()">
            <span [ngClass]="{ 'text-transparent': isLoading && selectedAccordingTo.id === item.id }">{{
              item.getNames()
            }}</span>
            <div class="absolute left-0 top-0 w-full h-full flex items-center justify-center">
              <mat-spinner
                diameter="20"
                strokeWidth="2"
                *ngIf="isLoading && selectedAccordingTo.id === item.id"></mat-spinner></div
          ></app-button></li
      ></ng-container>
    </ul>
  </div>
  <div dir="ltr">
    <div class="flex flex-col md:flex-row">
      <div class="flex-auto pt-1" dir="ltr">
        <apx-chart
          #chart
          [series]="chartOptions[selectedChartType].series!"
          [chart]="chartOptions[selectedChartType].chart!"
          [xaxis]="chartOptions[selectedChartType].xaxis!"
          [stroke]="chartOptions[selectedChartType].stroke!"
          [colors]="chartOptions[selectedChartType].colors!"
          [dataLabels]="chartOptions[selectedChartType].dataLabels!"
          [legend]="chartOptions[selectedChartType].legend!"
          [markers]="chartOptions[selectedChartType].markers!"
          [grid]="chartOptions[selectedChartType].grid!"
          [yaxis]="chartOptions[selectedChartType].yaxis!"
          [tooltip]="chartOptions[selectedChartType].tooltip!"
          [plotOptions]="chartOptions[selectedChartType].plotOptions!"
          [title]="chartOptions[selectedChartType].title!" />
      </div>
      <div class="h-full flex flex-row justify-center md:flex-col -mt-6 md:mt-6">
        <app-icon-button
          [ngClass]="{ 'text-primary': selectedChartType === ChartType.LINE }"
          (click)="updateChartType(ChartType.LINE)"
          class="text-primary"
          icon="LINE_CHART" />
        <app-icon-button
          [ngClass]="{ 'text-primary': selectedChartType === ChartType.BAR }"
          (click)="updateChartType(ChartType.BAR)"
          icon="BAR_CHART" />
      </div>
    </div>
  </div>
</div>

<ng-template #criteriaTooltipTemplate let-terms>
  <div class="bg-black/80 text-white text-xs p-2 rounded-md">
    <p class="font-bold">{{ lang.map.filter_values_should_be_as_follows }}:</p>
    <p *ngFor="let term of terms">- {{ term }}</p>
  </div>
</ng-template>

<ng-template #disabledTooltipTemplate>
  <div class="bg-black/80 text-white text-xs p-2 rounded-md">
    <p class="font-bold">"{{ lang.map.data_is_being_collected_and_audited }}"</p>
  </div>
</ng-template>
