.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: none;
}

#top-header,
#main-menu,
#bottom-footer,
#top-footer,
#main-banner {
  .mat-mdc-button,
  .mat-mdc-outlined-button,
  .mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: white;
    --mat-mdc-button-ripple-color: theme("colors.secondary/0.4");
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: theme("space.10");
    padding: 8px;
  }
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-icon-color: theme("colors.primary");
  --mdc-radio-selected-pressed-icon-color: var(--mdc-radio-selected-icon-color);
  --mdc-radio-selected-focus-icon-color: var(--mdc-radio-selected-icon-color);
  --mdc-radio-selected-hover-icon-color: var(--mdc-radio-selected-icon-color);
  --mat-radio-checked-ripple-color: var(--mdc-radio-selected-icon-color);
}
:root {
  --mdc-theme-text-primary-on-background: theme("colors.primary");
}

.mat-calendar-body-selected {
  @apply bg-primary;
}

.mat-calendar-body-in-range::before {
  @apply bg-secondary/50;
}

.mat-calendar-body-cell:hover .mat-calendar-body-cell-content,
.mat-calendar-body-active
  .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  @apply bg-primary/50 #{!important};
}
