/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

html[dir="rtl"] body {
  font-family: "Lusail", "Open Sans", sans-serif !important;
}

.divide-items {
  @apply rtl:[&>li:not(:last-child)]:before:-left-1.5
   ltr:[&>li:not(:last-child)]:before:-right-1.5
   [&>li:not(:last-child)]:before:from-transparent
 [&>li:not(:last-child)]:before:via-secondary
   [&>li:not(:last-child)]:before:bg-gradient-to-b
   [&>li]:relative [&>li:not(:last-child)]:before:absolute
   [&>li:not(:last-child)]:before:w-px
   [&>li:not(:last-child)]:before:h-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply drop-shadow-xl;
}
.heading {
  @apply border-b-2;
}
