/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

body.rtl {
  font-family: "Lusail", "Open Sans", sans-serif !important;
}

.divide-items {
  @apply rtl:[&>li:not(:last-child)]:before:-left-1.5
   ltr:[&>li:not(:last-child)]:before:-right-1.5
   [&>li:not(:last-child)]:before:from-transparent
 [&>li:not(:last-child)]:before:via-secondary
   [&>li:not(:last-child)]:before:bg-gradient-to-b
   [&>li]:relative [&>li:not(:last-child)]:before:absolute
   [&>li:not(:last-child)]:before:w-px
   [&>li:not(:last-child)]:before:h-full;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply drop-shadow-xl;
}
.heading {
  @apply border-b-2;
}

.input {
  @apply w-full placeholder-primary/50 text-xl h-full outline-none pe-10 px-5 text-primary disabled:bg-gray-300;
}

.dialog-footer {
  @apply border border-t p-4 space-x-4 rtl:space-x-reverse flex justify-end;
}

.dialog-header {
  @apply p-4 bg-primary text-white flex justify-between items-center;
  h1 {
    @apply text-xl;
  }
}

.dialog-content {
  @apply p-4;
}

.dialog-container {
  @apply max-w-full lg:min-w-[600px] md:min-w-[400px];
}

.login-dialog-container {
  @apply max-w-full lg:min-w-[350px] md:min-w-[200px] rounded-3xl;
}

.logout-dialog-container {
  @apply max-w-full lg:min-w-[300px] md:min-w-[300px] sm:min-w-[300px];
}

.close-btn {
  @apply absolute rtl:left-0 ltr:right-0 mx-2;
}

carousel {
  @apply z-0 #{!important};
}

.table-style thead tr th:first-child {
  border-radius: 0 10px 10px 0;
}

.table-style thead tr th:last-child {
  border-radius: 10px 0 0 10px;
}
