.splash-screen {
  @apply fixed inset-0 z-[10000] bg-primary flex flex-col items-center justify-center opacity-100;
}

.splash-screen.removed {
  animation: removed 500ms;
}

.splash-img {
  @apply w-64 h-64 p-8 rounded-full bg-white overflow-hidden;
  animation: pulse 1000ms infinite;
}

.splash-img img {
  @apply w-full h-full;
}

.splash-title {
  @apply text-white text-center mt-10;
}

.splash-title h2 {
  @apply text-4xl;
}

.splash-title p {
  @apply text-2xl;
}

@keyframes pulse {
  0% {
    box-shadow: #ffffff 0 0 0 0;
  }
  85% {
    box-shadow: #ffffff00 0 0 0 30px;
  }
}

@keyframes removed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
