<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-5xl font-semibold">المنصة العقارية لدولة قطر</h1>
    <h2 class="text-3xl font-semibold">
      Qatar Real Estate Platform - <span class="text-gray-400 font-normal">(تشغيل تجريبي)</span>
    </h2>
  </div>
</app-extra-header>
<div class="content-wrapper p-10">
  <div class="flex justify-center">
    <div class="w-4/5 col-span-3 p-10 shadow-sm rounded-xl border text-center">
      <h1 class="heading text-5xl self-start text-primary border-secondary font-semibold inline-block mb-5">
        {{ pageData.title }}
      </h1>
      <div class="mt-10 !text-2xl" [innerHtml]="pageData.content | safeHtml"></div>
    </div>
  </div>
</div>
