<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
  </div>
</app-extra-header>
<div class="content-wrapper py-10 px-3 lg:px-16">
  <div class="flex justify-center">
    <div class="min-w-full md:min-w-[600px] lg:min-w-[900px] col-span-3 p-10 shadow-sm rounded-xl border text-center">
      <h1 class="heading text-5xl self-start text-primary border-secondary font-semibold inline-block mb-5">
        {{ getPageContent().title }}
      </h1>
      <div class="mt-10 !text-2xl text-start" [innerHtml]="getPageContent().content | safeHtml"></div>
    </div>
  </div>
</div>
