<div
  *ngIf="dataInfoService.isEnabled()"
  [ngClass]="{ '-translate-x-72': !this.isOpened && !lang.isLtr, 'translate-x-72': !this.isOpened && lang.isLtr }"
  [ngStyle]="{ transition: 'all 0.3s' }"
  class="flex justify-center items-center">
  <div>
    <button
      (click)="toggleOpened()"
      [ngClass]="{
        'rtl-transform origin-bottom-left': !lang.isLtr,
        'ltr-transform origin-bottom-right': lang.isLtr
      }"
      class="bg-primary px-2 py-1 text-white rounded-tl-md rounded-tr-md shadow transition-all hover:brightness-90 flex items-center gap-1">
      <span>{{ lang.map.data_source }}</span
      ><mat-icon [ngClass]="{ 'rotate-180': isOpened }" class="transition-all" [svgIcon]="icons.CHEVRON_UP"></mat-icon>
    </button>
  </div>
  <div
    [ngClass]="{ 'rounded-tr-lg rounded-br-lg': !lang.isLtr, 'rounded-tl-lg rounded-bl-lg': lang.isLtr }"
    class="w-72 bg-sand flex flex-col gap-2 items-center justify-center p-4 pt-8 shadow border border-primary/20">
    <img [src]="dataInfoService.infoIconUrl()" alt="" />
    <p class="text-center text-primary text-lg px-2 py-4">{{ dataInfoService.getText() }}</p>
  </div>
</div>
