<div
  (appClickOutside)="isOpened = false"
  [emitClickOutsideEvent]="isOpened"
  *ngIf="dataInfoService.getText()"
  [ngStyle]="{ transition: 'all 0.3s' }"
  class="flex justify-center items-center"
  [ngClass]="{ '-translate-x-90px': !lang.isLtr, 'translate-x-90px': lang.isLtr }">
  <div>
    <button
      (click)="toggleOpened($event)"
      class="bg-primary py-2 px-1 text-white rtl:rounded-tr-md rtl:rounded-br-md ltr:rounded-tl-md ltr:rounded-bl-md shadow transition-all hover:brightness-90 flex flex-col items-center justify-center gap-1">
      <span [ngStyle]="{ 'writing-mode': 'vertical-rl' }">{{ lang.map.data_source }}</span
      ><mat-icon
        [ngClass]="{ 'rotate-180': isOpened }"
        class="transition-all"
        [svgIcon]="lang.isLtr ? icons.CHEVRON_LEFT : icons.CHEVRON_RIGHT"></mat-icon>
    </button>
  </div>
  <div
    [ngClass]="{ 'rounded-tr-lg rounded-br-lg': !lang.isLtr, 'rounded-tl-lg rounded-bl-lg': lang.isLtr }"
    class="w-72 bg-sand flex flex-col gap-2 items-center justify-center p-4 pt-8 shadow border border-primary/20">
    <img [src]="dataInfoService.infoIconUrl()" alt="" />
    <p class="text-center text-primary text-lg px-2 py-4">{{ dataInfoService.getText() }}</p>
  </div>
</div>
