<div class="bg-blue-950 border-4 border-pink-200 rounded-lg">
  <div class="py-4 px-6">
    <div class="flex justify-between text-white">
      <span>رقم المبنى</span><span>Building</span>
    </div>
    <div class="w-full h-20 mt-2 bg-white rounded-lg"></div>
  </div>
  <div class="w-full border-b-4 border-pink-200"></div>
  <div class="py-4 px-6">
    <div class="grid grid-cols-2 gap-2">
      <div>
        <div class="flex justify-between text-white">
          <span>شارع</span><span>Street</span>
        </div>
        <div class="w-full h-12 mt-2 bg-white rounded-lg"></div>
      </div>
      <div>
        <div class="flex justify-between text-white">
          <span>منطقة</span><span>Zone</span>
        </div>
        <div class="w-full h-12 mt-2 bg-white rounded-lg"></div>
      </div>
    </div>
    <div class="text-center mt-3">
      <app-button bgColor="bg-white">التالي</app-button>
    </div>
  </div>
</div>
