<div class="grid gap-4 lg:grid-cols-7 md:grid-cols-3 grid-cols-2">
  <ng-container [formGroup]="form">
    <app-select-input
      formControlName="municipalityId"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.municipal"
      [options]="municipalities" />
    <app-select-input
      formControlName="zoneId"
      bindValue="lookupKey"
      bindLabel="getNames"
      [label]="lang.map.zone"
      [options]="filteredZones" />
    <app-select-input
      formControlName="propertyTypeList"
      [isMultiple]="true"
      bindValue="lookupKey"
      [label]="lang.map.property_type"
      bindLabel="getNames"
      [options]="propertyTypes" />
    <app-select-input
      formControlName="rentPurposeList"
      [isMultiple]="true"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.property_usage"
      [options]="propertyUsages" />
    <app-select-input
      formControlName="durationType"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.duration"
      [options]="durations" />
    <app-select-input *ngIf="!displayRange" formControlName="issueDateYear" [label]="lang.map.year" [options]="years" />
    <app-select-input
      *ngIf="displayHalf"
      formControlName="halfYearDuration"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.select_half"
      [options]="halfYearDurations" />
    <app-select-input
      *ngIf="displayQuarter"
      formControlName="quarterYearDuration"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.select_quarter"
      [options]="quarterYearDurations" />
    <app-input
      *ngIf="displayRange"
      formControlName="rangeDate"
      (click)="dateRange.open()"
      [label]="lang.map.date_from_to">
      <mat-icon
        mat-ripple
        appInputPrefix
        (click)="dateRange.open()"
        class="cursor-pointer"
        [svgIcon]="AppIcons.DATE"></mat-icon>
      <mat-date-range-input [max]="maxDate" [min]="minDate" class="!w-0 !h-0" appInputPrefix [rangePicker]="dateRange">
        <input matStartDate formControlName="issueDateFrom" (dateChange)="rangeChange()" placeholder="Start date" />
        <input matEndDate formControlName="issueDateTo" (dateChange)="rangeChange()" placeholder="here is end date" />
      </mat-date-range-input>
      <mat-date-range-picker class="hidden" #dateRange></mat-date-range-picker>
    </app-input>
    <ng-container *ngIf="isOpened">
      <app-select-input
        formControlName="bedRoomsCount"
        bindLabel="getNames"
        bindValue="lookupKey"
        [label]="lang.map.number_of_rooms"
        [options]="rooms" />
      <!--      <app-select-input-->
      <!--        bindLabel="getNames"-->
      <!--        bindValue="lookupKey"-->
      <!--        [label]="lang.map.measuring_unit"-->
      <!--        [options]="spaces" />-->
      <app-input formControlName="streetNo" [label]="lang.map.street">
        <input appControl formControlName="streetNo" mask="9999" />
      </app-input>
      <app-input formControlName="rentPaymentMonthlyPerUnitFrom" [label]="lang.map.rental_value_per_month_from">
        <input appControl formControlName="rentPaymentMonthlyPerUnitFrom" mask="separator" thousandSeparator="," />
      </app-input>
      <app-input formControlName="rentPaymentMonthlyPerUnitTo" [label]="lang.map.rental_value_per_month_to">
        <input appControl formControlName="rentPaymentMonthlyPerUnitTo" mask="separator" thousandSeparator="," />
      </app-input>
      <!--    <app-input formControlName="rentPaymentMonthlyPerUnitFrom" [label]="lang.map.building_age_in_years_from">-->
      <!--      <input appControl formControlName="streetNo" mask="separator" thousandSeparator="," />-->
      <!--    </app-input>-->
      <!--    <app-input formControlName="rentPaymentMonthlyPerUnitTo" [label]="lang.map.building_age_in_years_to">-->
      <!--      <input appControl formControlName="streetNo" mask="separator" thousandSeparator="," />-->
      <!--    </app-input>-->
      <app-input formControlName="areaFrom" [label]="lang.map.area_from">
        <input appControl formControlName="areaFrom" mask="separator" thousandSeparator="," />
      </app-input>
      <app-input formControlName="areaTo" [label]="lang.map.area_to">
        <input appControl formControlName="areaTo" mask="separator" thousandSeparator="," />
      </app-input>
    </ng-container>
  </ng-container>
</div>
<div class="flex justify-center xl:justify-end gap-3 mt-5 xl:mt-0">
  <app-button
    size="md"
    (click)="toggleFilters()"
    buttonStyle="secondary"
    [isRounded]="true"
    [icon]="isOpened ? 'CHEVRON_UP' : 'CHEVRON_DOWN'">
    {{ lang.map.view_all_options }}
  </app-button>
  <app-button size="md" (click)="resetForm()" buttonStyle="secondary" [isRounded]="true" icon="CLOSE">{{
    lang.map.clear_options
  }}</app-button>
  <app-button size="md" (click)="search()" buttonStyle="secondary" [isRounded]="true" icon="SEARCH">{{
    lang.map.search
  }}</app-button>
</div>
