<div
  *ngIf="stickyService.isFilterSticky()"
  class="w-full"
  [ngStyle]="{ height: stickyService.filterHeigtht() + 'px' }"></div>

<div
  [class.fixed]="stickyService.isFilterSticky()"
  [class.animate-sticky]="stickyService.isFilterSticky()"
  class="grid gap-4 grid-cols-3 md:grid-cols-4 xl:grid-cols-6 [&.fixed]:left-0 [&.fixed]:right-0 [&.fixed]:top-[70px] xl:[&.fixed]:top-[78px] [&.fixed]:h-[86px] [&.fixed]:overflow-hidden [&.fixed]:px-3 lg:[&.fixed]:px-16 [&.fixed]:pt-1.5 [&.fixed]:bg-sand [&.fixed]:shadow [&.fixed]:z-[12]">
  <ng-container [formGroup]="form">
    <app-select-input
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="municipalityId"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.municipal"
      [options]="municipalities" />

    <app-select-input
      *ngIf="isSell() || isMort() || isOwner()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="areaCode"
      bindValue="lookupKey"
      bindLabel="getNames"
      [label]="lang.map.district"
      [options]="filteredAreas" />

    <app-select-input
      *ngIf="isRent() || isOV()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="zoneId"
      bindValue="lookupKey"
      bindLabel="getNames"
      [label]="lang.map.zone"
      [options]="filteredZones" />

    <app-select-input
      *ngIf="!isOV() && !isBroker()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="propertyTypeList"
      [isMultiple]="true"
      bindValue="lookupKey"
      [label]="lang.map.property_type"
      bindLabel="getNames"
      [options]="propertyTypes" />

    <app-select-input
      *ngIf="!isOV() && !isBroker() && !isMort()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="purposeList"
      [isMultiple]="true"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.property_usage"
      [options]="propertyUsages" />

    <app-select-input
      *ngIf="isRent()"
      bindFilter="getNames"
      formControlName="serviceType"
      bindValue="lookupKey"
      [label]="lang.map.contract_status"
      bindLabel="getNames"
      [options]="serviceTypeList" />

    <app-select-input
      *ngIf="isOV()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="premiseCategoryList"
      [isMultiple]="true"
      bindValue="lookupKey"
      [label]="lang.map.premise_category"
      bindLabel="getNames"
      [options]="premiseCategories" />

    <!-- <app-select-input
      *ngIf="isOV()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="premiseTypeList"
      [isMultiple]="true"
      bindValue="lookupKey"
      [label]="lang.map.premise_type"
      bindLabel="getNames"
      [options]="premiseTypes" /> -->

    <app-select-input
      *ngIf="isBroker()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="brokerCategoryId"
      bindValue="lookupKey"
      [label]="lang.map.broker_category"
      bindLabel="getNames"
      [options]="brokerCategoryList" />

    <app-select-input
      *ngIf="!isOwner() && !isBroker()"
      formControlName="durationType"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.duration"
      [options]="durations" />

    <app-select-input
      *ngIf="!displayRange && !isOwner() && !isBroker()"
      formControlName="issueDateYear"
      [label]="lang.map.year"
      [options]="years" />

    <app-select-input
      *ngIf="displayHalf && !isOwner() && !isBroker()"
      formControlName="halfYearDuration"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.select_half"
      [options]="halfYearDurations"
      [isSecondary]="true" />

    <app-select-input
      [isMultiple]="true"
      *ngIf="displayQuarter && !isOwner() && !isBroker()"
      formControlName="issueDateQuarterList"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.select_quarter"
      [options]="quarterYearDurations"
      [isSecondary]="true" />

    <app-select-input
      *ngIf="displayMonth && !isOwner() && !isBroker()"
      formControlName="issueDateMonth"
      bindLabel="label"
      bindValue="value"
      [label]="lang.map.select_month"
      [options]="months"
      [isSecondary]="true" />

    <app-input
      *ngIf="displayRange && !isOwner() && !isBroker()"
      formControlName="rangeDate"
      caretColor="caret-transparent"
      (click)="dateRange.open()"
      (keydown)="$event.preventDefault()"
      [label]="lang.map.date_from_to"
      [isSecondary]="true">
      <mat-icon
        mat-ripple
        appInputSuffix
        (click)="dateRange.open()"
        class="cursor-pointer mx-2"
        [svgIcon]="AppIcons.DATE"></mat-icon>
      <mat-datepicker-toggle matIconSuffix [for]="dateRange">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-date-range-input [max]="maxDate" [min]="minDate" class="!w-0 !h-0" [rangePicker]="dateRange">
        <input
          matStartDate
          class="text-gray-500"
          formControlName="issueDateFrom"
          (dateChange)="rangeChange()"
          placeholder="Start date" />
        <input
          matEndDate
          class="text-gray-500"
          formControlName="issueDateTo"
          (dateChange)="rangeChange()"
          placeholder="here is end date" />
      </mat-date-range-input>
      <mat-date-range-picker touchUi class="hidden" #dateRange></mat-date-range-picker>
    </app-input>

    <!-- [isMultiple]="true" should be added -->
    <!-- <app-select-input
      *ngIf="isOwner()"
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="ownerCategoryCode"
      bindValue="lookupKey"
      [label]="lang.map.owner_type"
      bindLabel="getNames"
      [options]="ownerTypes" /> -->

    <!-- broker name filter -->
    <app-input *ngIf="isBroker()" formControlName="brokerName" [label]="lang.map.broker_name">
      <input appControl formControlName="brokerName" [appOnlyCurrentLangLetters]="true" maxlength="50" />
      <mat-icon class="mx-2 !text-primary" appInputSuffix svgIcon="magnify"></mat-icon>
    </app-input>

    <ng-container *ngIf="isOpened || isOwner()">
      <app-select-input
        *ngIf="isOwner()"
        [enableFilter]="true"
        bindFilter="getNames"
        formControlName="nationalityCode"
        bindValue="lookupKey"
        [label]="lang.map.nationality"
        bindLabel="getNames"
        [options]="nationalities"
        [isSecondary]="isOpened" />
    </ng-container>

    <ng-container *ngIf="isOpened">
      <!-- [isMultiple]="true" should be added -->

      <app-select-input
        *ngIf="rooms.length && !(isOwner() || isSell())"
        formControlName="bedRoomsCount"
        bindLabel="getNames"
        bindValue="lookupKey"
        [label]="lang.map.number_of_rooms"
        [options]="rooms"
        [isSecondary]="true" />

      <app-select-input
        *ngIf="furnitureStatus.length && !(isOwner() || isSell())"
        formControlName="furnitureStatus"
        bindLabel="getNames"
        bindValue="lookupKey"
        [label]="lang.map.furniture_status"
        [options]="furnitureStatus"
        [isSecondary]="true" />

      <app-select-input
        *ngIf="isSell()"
        [formControl]="unitsControl"
        bindLabel="getNames"
        bindValue="lookupKey"
        [label]="lang.map.measuring_unit"
        [options]="unitsService.units"
        [isSecondary]="true" />
      <!--      <app-select-input-->
      <!--        bindLabel="getNames"-->
      <!--        bindValue="lookupKey"-->
      <!--        [label]="lang.map.measuring_unit"-->
      <!--        [options]="spaces" />-->

      <!-- street input was removed from mortgage filter as requested by QA -->
      <!-- <app-input *ngIf="!isMort()" formControlName="streetNo" [label]="lang.map.street" [isSecondary]="true">
        <input appControl formControlName="streetNo" class="text-gray-500" mask="9999" />
      </app-input> -->
      <ng-container *ngIf="isRent()">
        <app-input
          formControlName="rentPaymentMonthlyPerUnitFrom"
          [label]="lang.map.rental_value_per_month_from"
          [isSecondary]="true">
          <input
            appControl
            formControlName="rentPaymentMonthlyPerUnitFrom"
            class="text-gray-500"
            mask="separator"
            thousandSeparator=","
            [maxlength]="rentPaymentMaxLength" />
        </app-input>
        <app-input
          formControlName="rentPaymentMonthlyPerUnitTo"
          [label]="lang.map.rental_value_per_month_to"
          [isSecondary]="true">
          <input
            appControl
            formControlName="rentPaymentMonthlyPerUnitTo"
            class="text-gray-500"
            mask="separator"
            thousandSeparator=","
            [maxlength]="rentPaymentMaxLength" />
        </app-input>
      </ng-container>
      <ng-container *ngIf="isSell() || isMort()">
        <app-input
          formControlName="realEstateValueFrom"
          [label]="isSell() ? lang.map.real_estate_value_from : lang.map.mortgage_value_from"
          [isSecondary]="true">
          <input
            appControl
            formControlName="realEstateValueFrom"
            class="text-gray-500"
            mask="separator"
            thousandSeparator=","
            [maxlength]="realEstateMaxLength" />
        </app-input>
        <app-input
          formControlName="realEstateValueTo"
          [label]="isSell() ? lang.map.real_estate_value_to : lang.map.mortgage_value_to"
          [isSecondary]="true">
          <input
            appControl
            formControlName="realEstateValueTo"
            class="text-gray-500"
            mask="separator"
            thousandSeparator=","
            [maxlength]="realEstateMaxLength" />
        </app-input>
      </ng-container>

      <!-- <ng-container *ngIf="isRent()">
         <app-input formControlName="rentPaymentMonthlyPerUnitFrom" [label]="lang.map.building_age_in_years_from" [isSecondary]="true">
           <input appControl formControlName="streetNo" mask="separator" thousandSeparator="," />
         </app-input>
         <app-input formControlName="rentPaymentMonthlyPerUnitTo" [label]="lang.map.building_age_in_years_to" [isSecondary]="true">
           <input appControl formControlName="streetNo" mask="separator" thousandSeparator="," />
         </app-input>
      </ng-container> -->

      <app-input
        *ngIf="!isRent() && !isBroker() && !isOV()"
        formControlName="areaFrom"
        [label]="lang.map.area_from"
        [isSecondary]="true">
        <input
          appControl
          [placeholder]="
            unitsService.isMeterSelected() ? lang.map.value_in_square_meter : lang.map.value_in_square_foot
          "
          formControlName="areaFrom"
          class="text-gray-500"
          mask="separator"
          thousandSeparator=","
          [maxlength]="areaMaxLength" />
      </app-input>
      <app-input
        *ngIf="!isRent() && !isBroker() && !isOV()"
        formControlName="areaTo"
        [label]="lang.map.area_to"
        [isSecondary]="true">
        <input
          appControl
          [placeholder]="
            unitsService.isMeterSelected() ? lang.map.value_in_square_meter : lang.map.value_in_square_foot
          "
          formControlName="areaTo"
          class="text-gray-500"
          mask="separator"
          thousandSeparator=","
          [maxlength]="areaMaxLength" />
      </app-input>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="filterMessages.length || isOV()" class="flex items-center justify-start gap-2 flex-wrap">
  <p *ngIf="isOV()" class="bg-sand py-1 px-2 rounded text-primary font-bold">
    {{ lang.map.notice }}: {{ lang.map.displayed_data_is_for_the_last_month_of_the_selected_time_period }}
  </p>
  <p *ngFor="let message of filterMessages" class="bg-sand py-1 px-2 rounded text-primary font-bold">
    {{ message.getMessage() }}
  </p>
</div>
<div class="flex flex-wrap justify-center xl:justify-end gap-3 mt-5 xl:mt-0">
  <app-button
    *ngIf="!isOV() && !isBroker()"
    size="md"
    (click)="toggleFilters()"
    buttonStyle="secondary"
    [isRounded]="true"
    [icon]="isOpened ? 'CHEVRON_UP' : 'CHEVRON_DOWN'">
    {{ lang.map.view_all_options }}
  </app-button>
  <app-button size="md" (click)="resetForm()" buttonStyle="secondary" [isRounded]="true" icon="CLOSE">{{
    lang.map.clear_options
  }}</app-button>
  @if (authService.isAuthenticated()) {
  <app-button
    size="md"
    (click)="openOptionsSavePopup()"
    buttonStyle="secondary"
    [isRounded]="true"
    icon="FAVOURITE_OUTLINE"
    >{{ lang.map.save_options }}</app-button
  >}
  <app-button size="md" (click)="search()" buttonStyle="primary" [isRounded]="true" icon="SEARCH">{{
    lang.map.search
  }}</app-button>
</div>
