<app-extra-header class="flex -mt-32 relative text-white text-center">
  <div class="h-60 flex flex-col justify-center" id="logo-side">
    <h1 class="text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
    <h2 class="text-3xl font-semibold">
      {{ lang.toggleMap.qatar_real_estate_platform }} -
      <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
    </h2>
  </div>
</app-extra-header>
<div class="content-wrapper p-10">
  <div class="flex justify-center">
    <div class="flex flex-col w-3/4 gap-y-5">
      <h1 class="heading text-3xl self-start text-primary border-secondary font-semibold inline-block">
        {{ lang.map.mortgage_indicators }}
      </h1>
      <app-transactions-filter
        indicatorType="mortgage"
        [municipalities]="municipalities"
        (fromChanged)="filterChange($event)"
        [areas]="areas"
        [rooms]="rooms"
        [propertyTypes]="propertyTypes"
        [propertyUsages]="propertyUsage" />
      <div class="flex justify-center items-stretch [&>div]:w-80 gap-x-5">
        <div
          class="flex-1 my-4 p-4 border border-primary rounded-lg grid grid-cols-1 lg:grid-cols-3 justify-center gap-4">
          <app-kpi-root (itemSelected)="rootItemSelected($event)" *ngFor="let item of rootKpis" [item]="item" />
        </div>
      </div>
      <div class="flex flex-col">
        <h1 class="heading text-3xl self-center text-primary border-secondary font-semibold inline-block">
          {{ lang.map.number_of_transactions }}
        </h1>
        <div class="flex">
          <div dir="ltr" class="flex-auto">
            <apx-chart
              #chart
              [tooltip]="chartOptions.tooltip!"
              [colors]="chartOptions.colors!"
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [xaxis]="chartOptions.xaxis!"
              [dataLabels]="chartOptions.dataLabels!"
              [grid]="chartOptions.grid!"
              [stroke]="chartOptions.stroke!"
              [legend]="chartOptions.legend!"
              [plotOptions]="chartOptions.plotOptions!"
              [yaxis]="chartOptions.yaxis!"
              [title]="chartOptions.title!"></apx-chart>
          </div>
          <div class="h-full flex flex-col mt-10">
            <app-icon-button
              [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.LINE) }"
              (click)="updateChartType(ChartType.LINE)"
              class="text-primary"
              icon="LINE_CHART" />
            <app-icon-button
              [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.BAR) }"
              (click)="updateChartType(ChartType.BAR)"
              icon="BAR_CHART" />
            <app-icon-button
              [ngClass]="{ 'text-primary': isSelectedChartType(ChartType.AREA) }"
              (click)="updateChartType(ChartType.AREA)"
              icon="AREA_CHART" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
