<ng-container *appExtraHeaderPortal>
  {{ lang.map.real_estate_mortgage_indicators }}
</ng-container>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      indicatorType="mortgage"
      [municipalities]="municipalities"
      (fromChanged)="filterChange($event)"
      [areas]="areas"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsage"
      [paramsRange]="paramsRange" />
  </div>

  <div class="flex flex-col">
    <div *appSectionGuard="pageSections.MORT_ROOT_KPIS" class="py-16 px-3 lg:px-16">
      <div class="flex flex-col">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.mortgage_transactions_measuring_dashboard }} {{ getStringSelectedCriteria() }}
        </h3>
        <div
          class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
          <app-kpi-root *ngFor="let item of rootKpis" [item]="item" />
        </div>
      </div>
    </div>
    <div *appSectionGuard="pageSections.MORT_COUNT_CHART" class="flex flex-col mt-4 px-3 lg:px-16">
      <app-stacked-duration-chart
        (isMonthltyDurationTypeEvent)="isMonthlyDurationTypeForStacked($event)"
        [title]="lang.map.total_mortgage_transactions + ' ' + getStringSelectedCriteria(isMonthlyDurationForStacked)"
        [seriesNames]="countSeriesNames"
        [criteria]="criteria.criteria"
        [rootData]="countRootData"
        [bindDataSplitProp]="'actionType'"
        [showSelectChartType]="true">
      </app-stacked-duration-chart>
    </div>
    <div *appSectionGuard="pageSections.MORT_UNITS_CHART" class="flex flex-col mt-4 px-3 lg:px-16">
      <app-duration-chart
        (isMonthltyDurationTypeEvent)="isMonthlyDurationTypeForUnits($event)"
        [title]="
          lang.map.the_total_number_of_mortgaged_units + ' ' + getStringSelectedCriteria(isMonthlyDurationForUnits)
        "
        [name]="lang.map.number_of_units"
        [criteria]="criteria.criteria"
        [rootData]="unitsRootData"></app-duration-chart>
    </div>
    <div *appSectionGuard="pageSections.MORT_VALUE_CHART" class="flex flex-col mt-4 px-3 lg:px-16">
      <app-duration-chart
        (isMonthltyDurationTypeEvent)="isMonthlyDurationType($event)"
        [title]="lang.map.total_value_of_mortgage_transactions + ' ' + getStringSelectedCriteria(isMonthlyDuration)"
        [name]="lang.map.transactions_value"
        [criteria]="criteria.criteria"
        [rootData]="valueRootData"></app-duration-chart>
    </div>
    <div *appSectionGuard="pageSections.MORT_TRANSACTIONS_TABLE.name" class="px-3 lg:px-16 flex flex-col gap-4">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.mortgage_transactions_list }} {{ getStringSelectedCriteria() }}
      </h3>
      <app-table
        minWidth="900px"
        headerBgColor="!bg-secondary"
        (paginate)="paginate($event)"
        [length]="transactionsCount"
        [dataSource]="dataSource"
        [sortOptions]="[]"
        [defaultSortOption]="transactionsSortOptions[0]"
        [tableGuardName]="pageSections.MORT_TRANSACTIONS_TABLE.name">
        <ng-container appTableColumnTemplate [columnName]="pageSections.MORT_TRANSACTIONS_TABLE.columns.LOCATION">
          <div *appTableColumnHeaderTemplate class="flex justify-center">
            <div class="text-start">
              <p>{{ lang.map.location }}</p>
              <p class="font-normal">{{ lang.map.real_estate_status }}</p>
            </div>
          </div>
          <div *appTableColumnCellTemplate="let item; typeOf: transactions$" class="flex justify-center">
            <div class="text-start">
              <p class="font-bold">{{ item.municipalityInfo.getNames() }}</p>
              <p>{{ item.areaInfo && item.areaInfo.getNames() && "---" }}</p>
            </div>
          </div>
        </ng-container>
        <ng-container appTableColumnTemplate [columnName]="pageSections.MORT_TRANSACTIONS_TABLE.columns.MORTGAGED_FOR">
          <span *appTableColumnHeaderTemplate>{{ lang.map.mortgaged_for }}</span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{
            item.realEstateValue | number
          }}</span>
        </ng-container>
        <ng-container appTableColumnTemplate [columnName]="pageSections.MORT_TRANSACTIONS_TABLE.columns.AREA">
          <span *appTableColumnHeaderTemplate>{{ lang.map.area_in_square_foot }}</span>
          <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">
            {{ item.realEstateArea }}
          </span>
        </ng-container>
        <!-- <ng-container appTableColumnTemplate [columnName]="pageSections.MORT_TRANSACTIONS_TABLE.columns.SQUARE_PRICE">
            <span *appTableColumnHeaderTemplate>{{ lang.map.square_feet_price }}</span>
            <span *appTableColumnCellTemplate="let item; typeOf: transactions" class="font-bold">{{
              item.priceMT | number : "1.0-0"
            }}</span>
          </ng-container> -->
        <ng-container appTableColumnTemplate [columnName]="pageSections.MORT_TRANSACTIONS_TABLE.columns.ISSUE_DATE">
          <div *appTableColumnHeaderTemplate class="flex justify-center">
            <div class="text-start">
              <p>{{ lang.map.issue_date }}</p>
              <!--                <p class="font-normal">{{ lang.map.sold_by }}</p>-->
            </div>
          </div>
          <div *appTableColumnCellTemplate="let item; typeOf: transactions$" class="text-center">
            <p>{{ item.issueDate | date : "YYYY-MM-dd" }}</p>
            <p class="font-bold">{{ item.seller || "أفراد" }}</p>
          </div>
        </ng-container>
        <!--          <ng-container appTableColumnTemplate columnName="unit_parcel_no">-->
        <!--            <span *appTableColumnHeaderTemplate>{{ lang.map.unit_parcel_no }}</span>-->
        <!--            <span *appTableColumnCellTemplate="let item; typeOf: transactions$" class="font-bold">{{-->
        <!--              item.unitNo | number-->
        <!--            }}</span>-->
        <!--          </ng-container>-->
        <!-- <ng-template appTableColumnTemplate columnName="area" [columnHeader]="lang.map.area" >
            <span class="font-bold">{{ item.area === null ? "---" : (item.area | number ) }}</span>
          </ng-template> -->
        <!-- <ng-template
            appTableColumnTemplate
            columnName="unit_parcel_no"
            [columnHeader]="lang.map.unit_parcel_no"
            let-item
            ><span class="font-bold">{{ item.unitNo ?? 13000 | number }}</span></ng-template
          > -->
      </app-table>
    </div>
  </div>
</div>
