<div
  id="top-header"
  class="h-12 flex justify-between items-center border-b border-b-secondary/50 w-full text-white px-10">
  <div class="w-72"></div>
  <div id="search-header" class="flex relative items-center bg-secondary/20 h-10 w-80 rounded">
    <input type="text" id="top-search-input" class="bg-transparent w-full border-b-white/50 outline-none pe-10 px-5" />
    <div class="absolute rtl:left-0 ltr:right-0">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <!-- search header-->
  <ul id="top-header-menu" class="flex items-center gap-x-3 divide-items">
    <!-- <li>
      <button mat-icon-button>
        <mat-icon>text_increase</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon>text_decrease</mat-icon>
      </button>
    </li> -->
    <li>
      <button mat-icon-button  (click)="toggleFilter()">
        <mat-icon>visibility</mat-icon>
      </button>
    </li>
    <li><a class="text-white" (click)="$event.preventDefault()" mat-button href="#">تسجيل الدخول</a></li>
    <li><a mat-button (click)="$event.preventDefault()" href="#">دخول الموظفين</a></li>
    <li><a mat-button (click)="$event.preventDefault()" href="#">EN</a></li>
  </ul>
  <!-- top-header-menu -->
</div>
