<div class="bg-pink-200 rounded-xl">
  <div class="px-11 py-5">
    <div class="relative mb-6">
      <img
        class="w-16 mr-16"
        src="../../../assets/images/surveyor 1.png"
        alt=""
      />
      <app-title
        class="absolute top-3 right-1/2 translate-x-1/2 text-center text-xl font-bold"
        >استطلاع الرأي</app-title
      >
    </div>
    <p class="mb-2">1. مامدى سهولة الوصول للمعلومات المطلوبة</p>
    <mat-radio-group>
      <mat-radio-button class="block" value="1">سهل جداً</mat-radio-button>
      <mat-radio-button class="block" value="2">سهل</mat-radio-button>
      <mat-radio-button class="block" value="3">عادي</mat-radio-button>
      <mat-radio-button class="block" value="4">صعب</mat-radio-button>
      <mat-radio-button class="block" value="5">صعب جداً</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="w-full border-b border-opacity-40 border-pink-400"></div>
  <div class="px-11 py-5">
    <app-button class="text-white font-bold" bgColor="bg-green-400"
      >إرسال</app-button
    >
  </div>
</div>
