<div class="flex justify-between items-center px-8 py-1 text-white">
  <div class="flex gap-2 justify-start items-center">
    <img src="../../../assets/images/qrep-white.png" class="h-16" alt="" />
    <span class="h-14 border-l-2 border-white"></span>
    <img src="../../../assets/images/rerpa-qatar.png" class="h-14" alt="" />
  </div>
  <div
    class="flex items-center justify-between gap-8 text-white font-bold text-base"
  >
    <span class="border border-white rounded-lg py-1 px-3">الرئيسية</span>
    <span>المؤشرات العقارية</span>
    <span>الأخبار</span>
    <span>الخدمات الالكترونية</span>
    <span>القوانين والقرارات</span>
    <span>الأسئلة الشائعة</span>
    <span>تواصل معنا</span>
  </div>
</div>
