<div class="relative">
  <button
    appCustomTooltip
    [tooltipContent]="isOpened() ? lang.map.close_avatar : lang.map.open_avatar"
    [delay]="1000"
    [disabled]="false"
    [ngClass]="{ 'rotate-90': isOpened() }"
    (click)="toggleAvatar()"
    class="relative size-12 flex items-center justify-center bg-white text-primary rounded-full shadow shadow-primary overflow-hidden border outline-none ring-offset-1 ring-primary/50 transition-all hover:bg-gray-200 disabled:bg-gray-200 disabled:text-primary/50">
    <div class="absolute bg-primary/60 top-0 left-0 size-full z-10 rounded-full scale-0"></div>
    <img [ngClass]="{ hidden: isOpened() }" src="assets/icons/chat-bot.png" alt="chat bot" class="mb-1 w-8" />
    <svg [ngClass]="{ hidden: !isOpened() }" class="size-8" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
    </svg>
  </button>
</div>

@if (isOpened()) {
<div
  cdkDrag
  class="bg-black rounded-md size-[400px] sm:size-[500px] z-1000 rtl:mr-16 ltr:ml-16 bottom-0 absolute overflow-hidden">
  <div class="w-full flex">
    <span class="w-full bg-grad text-white font-bold p-2 text-center relative">
      <svg cdkDragHandle class="size-6 absolute top-0 start-0 cursor-move fill-white m-2" viewBox="0 0 24 24">
        <path
          d="M13,6V11H18V7.75L22.25,12L18,16.25V13H13V18H16.25L12,22.25L7.75,18H11V13H6V16.25L1.75,12L6,7.75V11H11V6H7.75L12,1.75L16.25,6H13Z" />
      </svg>
      {{ lang.map.avatar }}
    </span>
  </div>
  <div id="video-wrapper" class="flex items-start w-full h-full justify-center overflow-hidden relative">
    <div class="flex flex-col items-start w-full h-full justify-center">
      <div class="flex scale-50 end-0 shadow-2xl shadow-white bg-black/20 p-1 absolute z-50 top-0 rounded-md">
        <div
          [ngClass]="{
            'bg-red-600': isStopped(),
            'bg-green-700': isStarted(),
            'bg-orange-500': isPaused(),
          }"
          class="p-4 rounded-full"></div>
        <div
          [ngClass]="{
            'bg-red-600': isStopped(),
            'bg-green-700': isStarted(),
            'bg-orange-500': isPaused(),
          }"
          class="p-4 absolute pulse rounded-full"></div>
      </div>

      @if (isStopped()) {
      <video muted loop autoplay class="-mb-60">
        <source src="assets/videos/idle-full.webm" type="video/webm" /></video
      >}
      <video #video [hidden]="!isStarted()"></video>
    </div>
  </div>

  @if (isStarted()) {
  <button
    (click)="interruptAvatar()"
    appCustomTooltip
    [tooltipContent]="lang.map.stop_talking"
    [delay]="1000"
    class="absolute z-10 top-12 w-12 mx-3 transition-all hover:opacity-70">
    <img src="assets/icons/stop-talking.svg" alt="stop-talking" /></button
  >}
</div>
}
