<div class="flex items-center justify-between p-3 border border-primary/25 rounded-lg">
  <div class="flex items-center justify-start gap-5">
    <div class="h-24 overflow-hidden text-primary bg-sand rounded-lg">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 14 14">
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9.5 1.5H11a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1h1.5" />
          <rect width="5" height="2.5" x="4.5" y=".5" rx="1" />
          <path d="M4.5 5.5h5M4.5 8h5m-5 2.5h5" />
        </g>
      </svg>
    </div>
    <div>
      <a [href]="lawItemData.fileUrl" class="mb-1 text-xl text-primary font-bold">{{ lawItemData.title }}</a>
      <div class="flex justify-start items-center gap-5 text-sm text-gray-500">
        <span>سنة الإصدار: {{ lawItemData.issue_date | date : "yyyy" }}</span>
        <span>رقم القانون: {{ lawItemData.law_number }}</span>
      </div>
    </div>
  </div>
  <a
    class="flex justify-center items-center h-16 w-12 rounded-lg bg-primary hover:bg-secondary text-white"
    [href]="lawItemData.fileUrl"
    target="_blank">
    <mat-icon>cloud_download</mat-icon>
  </a>
</div>
