<div class="flex-auto flex flex-col">
  <app-header class="relative z-10" />
  <div id="content-wrapper" class="flex flex-col flex-grow flex-shrink-0">
    <router-outlet></router-outlet>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br /><br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <app-footer />
</div>
