<ng-container appExtraHeaderPortal [extraHeaderSubTitle]="lang.map.general_secretariat_report"> </ng-container>

<div class="content-wrapper">
  <div class="p-3 lg:px-16">
    <app-transactions-filter
      [municipalities]="municipalities"
      [propertyTypes]="propertyTypes"
      [propertyUsages]="propertyUsages"
      [zones]="zones"
      [rooms]="rooms"
      [furnitureStatus]="furnitureStatusList"
      [paramsRange]="paramsRange"
      (fromChanged)="filterChange($event)" />
  </div>
</div>

<div class="mt-4 px-3 lg:px-16 flex flex-col gap-4">
  <div class="flex justify-center md:justify-end">
    <app-button
      class="min-w-[100px]"
      (click)="downloadReport()"
      [icon]="isLoadingDownloadList ? undefined : 'DOWNLOAD'"
      [isRounded]="true"
      buttonStyle="secondary"
      >@if (isLoadingDownloadList){<mat-spinner diameter="20" strokeWidth="2"></mat-spinner>} @else{
      {{ lang.map.download_report }}
      }
    </app-button>
  </div>
  <app-table
    [criteria]="criteria.criteria"
    [dataLoadFn]="transactionsLoadFn"
    [sortOptions]="[]"
    minWidth="2000px"
    headerBgColor="!bg-secondary">
    <ng-container appTableColumnTemplate columnName="location">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        <div class="text-start">
          <p>{{ lang.map.location }}</p>
        </div>
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="flex justify-center">
        <div class="text-center">
          <p>
            <span class="font-bold">{{ lang.map.municipal }}: </span>
            {{ (item.municipalityInfo && item.municipalityInfo.getNames()) || "---" }}
          </p>
          <p>
            <span class="font-bold">{{ lang.map.district }}: </span>
            {{ (item.zoneInfo && item.zoneInfo.getNames()) || "---" }}
          </p>
          <p>
            <span class="font-bold"> {{ lang.map.street }}: </span>{{ item.streetNo || "---" }}
          </p>
          <p>
            <span class="font-bold"> {{ lang.map.building_number }}: </span> {{ item.buildingNo || "---" }}
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container appTableColumnTemplate columnName="type_and_purpose">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        <div class="text-start">
          <p>{{ lang.map.property_type_and_purpose }}</p>
        </div>
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="text-center">
        <p class="font-bold">{{ (item.purposeInfo && item.purposeInfo.getNames()) || "---" }}</p>
        <p>{{ (item.propertyTypeInfo && item.propertyTypeInfo.getNames()) || "---" }}</p>
      </div>
    </ng-container>
    <ng-container appTableColumnTemplate columnName="pinNo"
      ><span *appTableColumnHeaderTemplate>{{ lang.map.pin_no }}</span
      ><span *appTableColumnCellTemplate="let item; dataType: getTransactionType()"
        ><p>{{ item.pinNo || "---" }}</p>
        <p>
          <span class="font-bold"> {{ lang.map.electricity_number }}: </span>{{ item.electricityNo || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.water_number }}: </span>{{ item.waterNo || "---" }}
        </p></span
      ></ng-container
    >
    <ng-container appTableColumnTemplate columnName="property_description">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        <div class="text-start">
          <p>{{ lang.map.property_description }}</p>
        </div>
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="flex justify-center">
        <div class="text-center">
          @if (item.propertyDescription) {
          <app-icon-button
            icon="INFO"
            iconColor="!text-secondary"
            (clicked)="openPropertyDescription(item.propertyDescription)"></app-icon-button>
          } @else {
          <p class="font-bold">---</p>
          }
        </div>
      </div>
    </ng-container>
    <ng-container appTableColumnTemplate columnName="property_details">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        {{ lang.map.property_details }}
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="text-center">
        <p>
          <span class="font-bold"> {{ lang.map.sub_unit_count }}: </span>
          {{ item.subUnitCount || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.the_area }}: </span>
          {{ item.area ? (item.area | number) + " " + lang.map.square_feet : "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.bed_rooms }}: </span>
          {{ item.bedRoomsCount || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.furniture_status }}: </span>
          {{ (item.furnitureInfo && item.furnitureInfo.getNames()) || "---" }}
        </p>
      </div>
    </ng-container>
    <ng-container appTableColumnTemplate columnName="rent_details">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        {{ lang.map.rent_details }}
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="text-center">
        <p>
          <span class="font-bold"> {{ lang.map.total_rent_value }}: </span>
          {{ item.rentPaymentAmount ? (item.rentPaymentAmount | number) : "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.months_count }}: </span>
          {{ item.rentPaymentFrequency || "---" }}
        </p>
      </div>
    </ng-container>
    <ng-container appTableColumnTemplate columnName="transaction_details">
      <div *appTableColumnHeaderTemplate class="flex justify-center">
        {{ lang.map.transaction_details }}
      </div>
      <div *appTableColumnCellTemplate="let item; dataType: getTransactionType()" class="text-center">
        <p>
          <span class="font-bold"> {{ lang.map.transaction_code }}: </span>
          {{ item.certificateCode || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.documentation_date }}: </span>
          {{ (item.issueDate && item.issueDate.slice(0, 10)) || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.contract_start_date }}: </span>
          {{ (item.startDate && item.startDate.slice(0, 10)) || "---" }}
        </p>
        <p>
          <span class="font-bold"> {{ lang.map.contract_end_date }}: </span>
          {{ (item.endDate && item.endDate.slice(0, 10)) || "---" }}
        </p>
      </div>
    </ng-container>

    <ng-container appTableColumnTemplate columnName="occupancy"
      ><span *appTableColumnHeaderTemplate>{{ lang.map.occupancy_status }}</span
      ><span *appTableColumnCellTemplate="let item; dataType: getTransactionType()">
        {{ (_occupationMap[item.occupancyStatus] && _occupationMap[item.occupancyStatus].getNames()) || "---" }}</span
      ></ng-container
    >
  </app-table>
</div>

<ng-template #detailsTemplate let-data>
  <div class="dialog-container max-w-[95vw] md:max-w-[75vw] lg:max-w-[50vw]">
    <div class="dialog-header !bg-secondary">
      <h1>{{ lang.map.property_description }}</h1>
      <app-icon-button tabindex="-1" mat-dialog-close class="close-btn" icon="CLOSE"></app-icon-button>
    </div>
    <div class="dialog-content" dir="rtl">
      {{ data.description }}
    </div>
    <div class="dialog-footer justify-end">
      <app-button mat-dialog-close buttonStyle="secondary">{{ lang.map.close }}</app-button>
    </div>
  </div>
</ng-template>
