<div class="dialog-container">
  <div class="dialog-header bg-primary">
    <h1>{{ lang.map.add_translation.toCapitalAll() }}</h1>
    <app-icon-button tabindex="-1" mat-dialog-close class="close-btn" icon="close-circle"></app-icon-button>
  </div>
  <div class="dialog-content">
    <div class="grid grid-cols-2 gap-4 [&>*]:col-span-2">
      <ng-container [formGroup]="form">
        <app-input formControlName="localizationKey" [label]="lang.map.localization_key.toCapital()"></app-input>
        <app-textarea formControlName="enName" [label]="lang.map.english_translation.toCapital()"></app-textarea>
        <app-textarea formControlName="arName" [label]="lang.map.arabic_translation.toCapital()"></app-textarea>
      </ng-container>
    </div>
  </div>
  <div class="dialog-footer justify-end">
    <app-button (click)="onAdd()" buttonType="primary">{{ lang.map.add.toCapital() }}</app-button>
    <app-button mat-dialog-close buttonType="primary-outline">{{ lang.map.close.toCapital() }}</app-button>
  </div>
</div>
