.btn {
  @apply flex gap-2 items-center disabled:text-white/70 px-4 py-2 outline-0 transition
  [&.none]:hover:ring-1 [&.none-primary]:hover:ring-1 [&.active]:ring-1 focus:ring-1 ring-offset-1 text-white;
}

.btn.sm {
  @apply text-sm px-2 py-1 [&.primary]:py-[5px] [&.secondary]:py-[5px]
  [&.success]:py-[5px] [&.warning]:py-[5px] [&.error]:py-[5px];
}

.btn.md {
  @apply text-base px-2.5 py-1.5 [&.primary]:py-[7px] [&.secondary]:py-[7px]
  [&.success]:py-[7px] [&.warning]:py-[7px] [&.error]:py-[7px];
}

.btn.lg {
  @apply text-xl px-3 py-2 focus:ring-2 [&.rounded]:rounded-md [&.active]:ring-2 [&.none]:hover:ring-2 [&.none-primary]:hover:ring-2
  [&.primary]:py-2.5 [&.secondary]:py-2.5 [&.success]:py-2.5 [&.warning]:py-2.5 [&.error]:py-2.5;
}

.btn.xl {
  @apply text-2xl px-3.5 py-2.5 focus:ring-2 [&.rounded]:rounded-md [&.active]:ring-2 [&.none]:hover:ring-2 [&.none-primary]:hover:ring-2
  [&.primary]:py-3 [&.secondary]:py-3 [&.success]:py-3 [&.warning]:py-3 [&.error]:py-3;
}

.btn.primary {
  @apply disabled:bg-primary/40 bg-primary hover:bg-primary/80 [&.active]:bg-primary ring-primary/50;
}

.btn.primary-outline {
  @apply disabled:text-primary/40 disabled:bg-slate-100/10 disabled:border-primary/40 bg-transparent text-primary
  hover:text-primary/70 [&.active]:text-primary border [&.lg]:border-2 [&.xl]:border-2 border-primary
  hover:border-primary/70 ring-primary/50;
}

.btn.secondary {
  @apply disabled:bg-secondary/40 bg-secondary hover:bg-secondary/80 [&.active]:bg-secondary ring-secondary/50;
}

.btn.secondary-outline {
  @apply disabled:text-secondary/40 disabled:bg-slate-100/10 disabled:border-secondary/40 bg-transparent text-secondary
  hover:text-secondary/70 [&.active]:text-secondary border [&.lg]:border-2 [&.xl]:border-2 border-secondary
  hover:border-secondary/70 ring-secondary/50;
}

.btn.none {
  @apply disabled:bg-slate-100/10 disabled:text-white/30 bg-transparent
  hover:bg-white/5 [&.active]:bg-white/5 ring-white;
}

.btn.none-primary {
  @apply disabled:bg-slate-100/10 disabled:text-primary/40 bg-transparent text-primary
  hover:bg-primary/5 [&.active]:bg-primary/5 ring-primary;
}

.btn.success {
  @apply disabled:bg-green-500/40 bg-green-500 hover:bg-green-500/80 [&.active]:bg-green-500 ring-green-500/50;
}

.btn.success-outline {
  @apply disabled:text-green-500/40 disabled:bg-slate-100/10 disabled:border-green-500/40 bg-transparent text-green-500
  hover:text-green-500/70 [&.active]:text-green-500 border [&.lg]:border-2 [&.xl]:border-2 border-green-500
  hover:border-green-500/70 ring-green-500/50;
}

.btn.error {
  @apply disabled:bg-red-500/40 bg-red-500 hover:bg-red-500/80 [&.active]:bg-red-500 ring-red-500/50;
}

.btn.error-outline {
  @apply disabled:text-red-500/40 disabled:bg-slate-100/10 disabled:border-red-500/40 bg-transparent text-red-500
  hover:text-red-500/70 [&.active]:text-red-500 border [&.lg]:border-2 [&.xl]:border-2 border-red-500
  hover:border-red-500/70 ring-red-500/50;
}

.btn.warning {
  @apply disabled:bg-yellow-500/40 bg-yellow-500 hover:bg-yellow-500/80 [&.active]:bg-yellow-500 ring-yellow-500/50;
}

.btn.warning-outline {
  @apply disabled:text-yellow-500/40 disabled:bg-slate-100/10 disabled:border-yellow-500/40 bg-transparent text-yellow-500
  hover:text-yellow-500/70 [&.active]:text-yellow-500 border [&.lg]:border-2 [&.xl]:border-2 border-yellow-500
  hover:border-yellow-500/70 ring-yellow-500/50;
}

.with-icon {
  @apply flex justify-between items-center w-full;
}

.sm .with-icon {
  @apply gap-2;
}
.md .with-icon {
  @apply gap-3;
}
.lg .with-icon {
  @apply gap-4;
}
.xl .with-icon {
  @apply gap-5;
}

.sm .btn-icon {
  @apply w-5;
}
.md .btn-icon {
  @apply w-6;
}
.lg .btn-icon {
  @apply w-7 ltr:-translate-x-1/2 rtl:translate-x-1/2;
  transform: scale(1.1) !important;
}
.xl .btn-icon {
  @apply w-7 ltr:-translate-x-3 rtl:translate-x-3;
  transform: scale(1.4) !important;
}
