<div class="dialog-header justify-end h-12">
  <app-icon-button class="close-btn" (click)="ref.close()" icon="CLOSE" />
</div>
<div class="content py-4 px-8">
  <div class="flex justify-between items-center gap-4">
    <div class="flex justify-center gap-8">
      <img src="assets/icons/broker/popup-icon.svg" alt="" />
      <div class="flex flex-col justify-center gap-4">
        <span class="text-primary text-2xl font-bold">{{ brokerData.getNames() }}</span>
        <div>
          <div class="flex gap-2 items-center">
            <img src="assets/icons/broker/call.svg" alt="" />
            <p>{{ brokerData.phone }}</p>
          </div>

          <div class="flex gap-2 items-center">
            <img src="assets/icons/broker/mail.svg" alt="" />
            <p>{{ brokerData.email }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[200px] flex flex-col justify-center gap-4">
      <app-button buttonStyle="secondary">{{ lang.map.call_broker }}</app-button>
      <app-button buttonStyle="secondary">{{ lang.map.mail_broker }}</app-button>
    </div>
  </div>
  <span class="block h-0 w-full my-6 border border-primary/20"></span>
  <p class="text-secondary font-bold text-xl">ABOUT STEPS REAL ESTATE</p>
  <div class="mt-4 flex justify-start items-center text-lg gap-2">
    <img src="assets/icons/broker/location.svg" alt="" />
    <span>Head office:</span>
    <span>Al Difaf St, Al Sadd, Al Qamra Holding 2nd floor, P.O. BOX 15983 Doha, Qatar.</span>
  </div>
  <p class="mt-4 text-primary/80 max-w-[900px]">
    Steps Real Estate is one of the leading real estate companies in Qatar. From the very beginning, dedicated to
    providing the best possible real estate advice to our clients. We operate a wide range of property advisory services
    from Residential and commercial sales and leasing, consultancy , property management and market research.
  </p>
</div>
<div class="dialog-footer">
  <app-button (click)="ref.close()" buttonStyle="primary">{{ lang.map.close }}</app-button>
</div>
