<div class="links h-full w-full overflow-auto">
  <div class="h-full w-full flex flex-col md:flex-row justify-center items-center gap-2 sm:gap-4 md:gap-6">
    <a
      class="w-64 h-40 p-2 flex items-center justify-center bg-primary text-center text-white text-3xl text-wrap rounded-md transition-all hover:bg-primary/90"
      routerLink="developer-registration"
      >{{ lang.map.register_developer }}</a
    >
    <a
      class="w-64 h-40 p-2 flex items-center justify-center bg-primary text-center text-white text-3xl text-wrap rounded-md transition-all hover:bg-primary/90"
      routerLink="under-construction-project-registration"
      >{{ lang.map.register_current_project }}</a
    >
    <a
      class="w-64 h-40 p-2 flex items-center justify-center bg-primary text-center text-white text-3xl text-wrap rounded-md transition-all hover:bg-primary/90"
      routerLink="interest-registration"
      >{{ lang.map.register_interest }}</a
    >
  </div>
</div>
