<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<label
  [ngClass]="{
    'has-error': !!(errors | async) && displayErrors,
    'text-base': size === 'sm',
    'text-lg': size === 'md',
    'text-xl': size === 'lg',
    'text-2xl': size === 'xl',
    'cursor-not-allowed': disabled
  }"
  class="group block relative {{ !noMargin ? marginBottom : '' }}">
  <span [ngClass]="labelColor" class="block font-bold">{{ label }}</span>
  <div
    [ngClass]="size"
    class="group/text-area-wrapper input-form {{ inputColor }} {{ bgColor }} {{
      borderColor
    }}  flex items-center justify-start">
    <ng-container *ngIf="!hasCustomControl">
      <textarea
        class="{{ disabled ? 'bg-slate-50' : bgColor }} {{ caretColor }} disabled:cursor-not-allowed {{
          placeholderColor
        }}"
        [rows]="rows"
        [ngClass]="tailwindClass"
        autocomplete="off"
        (blur)="inputTouch()"
        [name]="name"
        [placeholder]="placeholder"
        [formControl]="control"></textarea>
    </ng-container>
    <ng-container *ngIf="hasCustomControl">
      <ng-content select="[appControl]"></ng-content>
    </ng-container>
  </div>
  <ng-container *ngIf="displayErrors">
    <app-validation-errors [errors]="errors | async"></app-validation-errors>
  </ng-container>
</label>
