<!-- <ng-container *appExtraHeaderPortal>
  <app-slider [list]="(sliderContent$ | async)!">
    <div *appSliderTemplate="let item">
      <div class="bg-black/50 gap-1 lg:gap-3 pt-1 lg:py-5 my-2 px-5 rounded-xl flex flex-col items-center">
        <p class="text-sm sm:text-base">{{ item.getCountTitle() }}</p>
        <p class="text-xl sm:text-3xl text-secondary font-bold">{{ item.kpiCount | number }}</p>
      </div>
      <div class="bg-black/50 gap-1 lg:gap-3 pt-1 lg:py-5 my-2 px-5 rounded-xl flex flex-col items-center">
        <p class="text-sm sm:text-base">{{ item.getValueTitle() }}</p>
        <p class="text-xl sm:text-3xl text-secondary font-bold">
          {{ getSliderValue(item.kpiVal) }} ({{ lang.map.qr }})
        </p>
      </div>
    </div>
  </app-slider>
</ng-container> -->

<div class="content-wrapper p-5 lg:p-10">
  <app-banner />
  <br />
  <br />
  <!-- <app-news-list [title]="lang.map.latest_news" [newsData]="(newsData | async) ?? []" />
  <div class="flex justify-center mt-10">
    <app-button buttonStyle="secondary" routerLink="/news"> {{ lang.map.more }}...</app-button>
  </div> -->
  <br />
  <br />
  <div *appSectionGuard="pageSections.SELL_PAGE.SELL_ROOT_KPIS" class="py-4 px-3 lg:px-16">
    <div class="flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.sell_indicators }} ({{ lang.map.for_year }} {{ this.currentYear }})
      </h3>
      <div
        class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-4">
        @for (item of sellRootKPIS; track $index) {
        <app-kpi-root [item]="item" [criteria]="criteria" />
        }
      </div>
    </div>
  </div>
  <div *appSectionGuard="pageSections.RENT_PAGE.RENT_ROOT_KPIS" class="py-4 px-3 lg:px-16">
    <div class="flex flex-col">
      <h3
        class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
        {{ lang.map.rental_indicators }} ({{ lang.map.for_year }} {{ this.currentYear }})
      </h3>
      <div
        class="flex-1 my-4 p-4 border border-secondary rounded-lg grid grid-cols-1 md:grid-cols-3 justify-center gap-4">
        @for (item of rentRootKPIS; track $index) {
        <app-kpi-root [item]="item" [criteria]="criteria" />
        }
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center">
    <div
      class="shadow-gray-200 custom-shadow flex flex-col items-center lg:flex-row w-full rounded-xl border gap-y-5 p-5 lg:w-3/4 lg:p-20 lg:gap-x-10">
      <div class="w-full flex flex-col gap-y-5 lg:gap-y-10 items-stretch">
        <app-newsletter-form />
        <app-voting-form />
      </div>
      <!-- <div class="w-full lg:w-2/5 flex flex-col gap-y-5 lg:gap-y-10 items-stretch">
        <app-inwani />
        <app-inquiries />
      </div> -->
    </div>
  </div>
</div>
