<app-extra-header class="flex -mt-32 relative text-white">
  <div class="flex justify-between items-center h-60">
    <div id="logo-side"><h1 class="text-5xl -mt-20">المنصة العقارية لدولة قطر</h1></div>
    <div id="slider-side">
      <img class="w-auto h-auto" ngSrc="assets/images/slider.png" alt="slider" height="240" width="470" />
    </div>
  </div>
</app-extra-header>
<div class="content-wrapper p-10">
  <app-banner />
  <br />
  <br />
  <app-news-list />
  <br />
  <br />
  <div class="flex justify-center">
    <div class="shadow-xl flex rounded-xl border w-3/4 p-20">
      <div class="w-3/5 flex flex-col gap-y-10">
        <app-newsletter-form />
        <app-voting-form />
      </div>
      <div class="w-2/5 flex flex-col"></div>
    </div>
  </div>
</div>
