<ng-container *appExtraHeaderPortal>
  <app-slider [list]="(homeSliderContent$ | async)!">
    <div
      *appSliderTemplate="let item"
      class="bg-black/50 gap-1 lg:gap-3 py-2 lg:py-5 my-2 px-5 rounded-xl flex flex-col items-center">
      <p class="md:text-xl">{{ item.getTitle() }}</p>
      <p class="md:text-xl text-secondary">{{ item.value }} {{ item.hasPrice ? lang.map.qr : "" }}</p>
    </div>
  </app-slider>
</ng-container>

<div class="content-wrapper p-5 lg:p-10">
  <!-- <app-banner />
  <br />
  <br /> -->
  <app-news-list [title]="lang.map.latest_news" [newsData]="(newsData | async) ?? []" />
  <div class="flex justify-center mt-10">
    <app-button buttonStyle="secondary" routerLink="/news"> {{ lang.map.more }}...</app-button>
  </div>
  <br />
  <br />
  <div class="flex justify-center items-center">
    <div
      class="shadow-gray-200 custom-shadow flex flex-col items-center lg:flex-row w-full rounded-xl border gap-y-5 p-5 lg:w-3/4 lg:p-20 lg:gap-x-10">
      <div class="w-full lg:w-3/5 flex flex-col gap-y-5 lg:gap-y-10 items-stretch">
        <app-newsletter-form />
        <app-voting-form />
      </div>
      <div class="w-full lg:w-2/5 flex flex-col gap-y-5 lg:gap-y-10 items-stretch">
        <app-inwani />
        <app-inquiries />
      </div>
    </div>
  </div>
</div>
