<div class="flex justify-center">
  <div
    id="main-banner"
    class="w-full md:w-3/4 h-fit sm:h-48 overflow-hidden rounded-2xl border-2 border-primary bg-banner ltr:bg-banner-ltr bg-cover bg-center">
    <div
      class="bg-gradient-to-r ltr:bg-gradient-to-l from-transparent to-gray-800/80 h-fit sm:h-48 w-full pt-6 p-4 sm:p-10 sm:flex sm:gap-x-2 items-center">
      <h2 class="text-lg md:text-2xl border-b-2 border-secondary font-semibold text-white">
        {{ lang.map.most_used }}
      </h2>
      <br /><br />
      <div class="sm:flex sm:flex-auto [&>*]:flex-1 items-center [&>*]:p-2 justify-center sm:gap-x-5 md:ps-16 md:pe-10">
        <app-button
          routerLink="/sell-indicators"
          routerLinkActive="active"
          buttonStyle="primary"
          [size]="currentScreenSize"
          [icon]="lang.isLtr ? 'ARROW_RIGHT' : 'ARROW_LEFT'">
          {{ lang.map.sell_indicator }}
        </app-button>
        <app-button
          routerLink="/sell-indicators"
          routerLinkActive="active"
          buttonStyle="primary"
          [size]="currentScreenSize"
          [icon]="lang.isLtr ? 'ARROW_RIGHT' : 'ARROW_LEFT'">
          {{ lang.map.mortgage_indicator }}
        </app-button>
        <app-button
          routerLink="/sell-indicators"
          routerLinkActive="active"
          buttonStyle="primary"
          [size]="currentScreenSize"
          [icon]="lang.isLtr ? 'ARROW_RIGHT' : 'ARROW_LEFT'">
          {{ lang.map.news }}
        </app-button>
      </div>
    </div>
  </div>
</div>
