<div class="flex justify-center">
  <div
    id="main-banner"
    class="w-3/4 h-48 overflow-hidden rounded-2xl border-2 border-primary bg-banner bg-cover bg-center">
    <div class="bg-gradient-to-r from-transparent to-gray-800/80 h-48 w-full p-10 flex gap-x-2 items-center">
      <h2 class="text-2xl border-b-2 border-secondary font-semibold text-white">الاكثر استحداما</h2>
      <div class="flex flex-auto items-center justify-center gap-x-10">
        <button
          class="!bg-primary !shadow-2xl !text-white !border-2 !border-solid !border-secondary !rounded-xl hover:!border-white !h-14 text-xl"
          mat-button>
          <div class="flex gap-x-2">
            <span>مؤشر البيع</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10s10-4.48 10-10zM4 12c0-4.42 3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8s-8-3.58-8-8zm12 0l-4 4l-1.41-1.41L12.17 13H8v-2h4.17l-1.59-1.59L12 8l4 4z" />
            </svg>
          </div>
        </button>
        <button
          class="!bg-primary !shadow-2xl !text-white !border-2 !border-solid !border-secondary !rounded-xl hover:!border-white !h-14 text-xl"
          mat-button>
          <div class="flex gap-x-2">
            <span>مؤشر الرهن</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10s10-4.48 10-10zM4 12c0-4.42 3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8s-8-3.58-8-8zm12 0l-4 4l-1.41-1.41L12.17 13H8v-2h4.17l-1.59-1.59L12 8l4 4z" />
            </svg>
          </div>
        </button>
        <button
          routerLink="/news"
          class="!bg-primary !shadow-2xl !text-white !border-2 !border-solid !border-secondary !rounded-xl hover:!border-white !h-14 text-xl"
          mat-button>
          <div class="flex gap-x-2">
            <span>الأخبار</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10s10-4.48 10-10zM4 12c0-4.42 3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8s-8-3.58-8-8zm12 0l-4 4l-1.41-1.41L12.17 13H8v-2h4.17l-1.59-1.59L12 8l4 4z" />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
