<div id="inquiries" class="bg-sand p-10 rounded-xl flex gap-y-10 flex-col items-center">
  <div class="flex items-center gap-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 24">
      <path
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        d="M17.5 6.5L23 9v13l-7-3l-8 3l-7-3V6l5 2m10 11v-7M8 22V12m4 4.273S6 11.5 6 7c0-3.75 3-6 6-6s6 2.25 6 6c0 4.5-6 9.273-6 9.273ZM13 7a1 1 0 1 0-2 0a1 1 0 0 0 2 0Z" />
    </svg>
    <h2 class="text-2xl font-semibold heading border-secondary text-primary">
      {{ lang.map.inquiry_by_cadastral_number }}
    </h2>
  </div>
  <app-input
    class="w-full"
    size="xl"
    label=""
    [formControl]="search"
    [placeholder]="lang.map.enter_the_cadastral_number_here"
    (keyup.enter)="searchLink.elementReference.click()"
    bgColor="bg-white"
    caretColor="caret-secondary"
    borderColor="border-secondary"
    ><app-icon-button
      appElementReference
      #searchLink="appElementReference"
      (click)="onSearch()"
      appInputSuffix
      class="!text-primary"
      icon="SEARCH"></app-icon-button
  ></app-input>
</div>
