<div id="inquiries" class="bg-sand p-10 rounded-xl flex gap-y-10 flex-col items-center">
  <div class="flex items-center gap-x-3">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 24 24">
      <path
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        d="M17.5 6.5L23 9v13l-7-3l-8 3l-7-3V6l5 2m10 11v-7M8 22V12m4 4.273S6 11.5 6 7c0-3.75 3-6 6-6s6 2.25 6 6c0 4.5-6 9.273-6 9.273ZM13 7a1 1 0 1 0-2 0a1 1 0 0 0 2 0Z" />
    </svg>
    <h2 class="text-2xl font-semibold heading border-secondary text-primary">الاستعلام بالرقم المساحي</h2>
  </div>
  <div class="flex border-secondary border-2 w-full h-14 rounded-xl overflow-hidden relative">
    <input
      type="text"
      [formControl]="search"
      (keyup.enter)="searchLink.elementReference.click()"
      placeholder="أدخل الرقم المساحي هنا"
      class="w-full placeholder-primary/50 h-full outline-none pe-10 px-5 text-primary" />

    <div class="absolute end-0 top-px">
      <a
        appElementReference
        #searchLink="appElementReference"
        (click)="search.invalid ? $event.preventDefault() : null"
        [href]="'https://geoportal.gisqatar.org.qa/searchpin/?pin=' + search.value"
        target="_blank"
        class="!text-primary"
        mat-icon-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z" />
        </svg>
      </a>
    </div>
  </div>
</div>
