<div
  class="relative text-sm px-8 py-2 flex gap-6 justify-end items-center text-white border-b border-opacity-25 border-gray-400"
>
  <app-input
    class="absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 text-white"
    placeholder="بحث..."
    inputColor="text-white"
    size="xs"
    appearance="fill"
    [noMargin]="true"
    label=""
  >
    <mat-icon
      class="text-sm text-white !flex justify-center items-center"
      appInputSuffix
      fontIcon="search"
    ></mat-icon>
  </app-input>
  <span class="h-5 border-l-2 border-white"></span>
  <span class="w-2 border-t-2 border-white"></span>
  <span class="font-bold">+</span>
  <span class="h-5 border-l-2 border-white"></span>
  <mat-icon
    class="text-white !flex justify-center items-center"
    appInputSuffix
    fontIcon="remove_red_eye"
  ></mat-icon>
  <span class="h-5 border-l-2 border-white"></span>
  <span class="font-bold">دخول الموظفين</span>
  <span class="h-5 border-l-2 border-white"></span>
  <span class="font-bold">تسجيل الدخول</span>
  <span class="h-5 border-l-2 border-white"></span>
  <span class="font-bold">EN</span>
</div>
