<div class="bg-[#2F4775] border-8 border-sand py-5 rounded-xl">
  <form [formGroup]="form" (ngSubmit)="searchLink.elementReference.click()">
    <div class="px-7">
      <div class="flex justify-between text-lg text-white mb-2">
        <span>{{ lang.map.building_number.toCapitalAll() }}</span
        ><span>{{ lang.toggleMap.building_number.toCapitalAll() }}</span>
      </div>
      <app-textarea
        bgColor="bg-white"
        label=""
        caretColor="caret-secondary"
        borderColor="border-secondary"
        formControlName="building"
        [displayErrors]="false"
        rows="3"></app-textarea>
    </div>
    <div class="h-0 w-full mt-5 border-b-[6px] border-sand"></div>
    <div class="grid grid-cols-2 gap-2 mt-5 px-7">
      <div>
        <div class="flex justify-between text-lg text-white mb-2">
          <span>{{ lang.map.street.toCapitalAll() }}</span
          ><span>{{ lang.toggleMap.street.toCapitalAll() }}</span>
        </div>
        <app-textarea
          bgColor="bg-white"
          label=""
          caretColor="caret-secondary"
          borderColor="border-secondary"
          formControlName="street"
          [displayErrors]="false"
          rows="2"></app-textarea>
      </div>
      <div>
        <div class="flex justify-between text-lg text-white mb-2">
          <span>{{ lang.map.zone.toCapitalAll() }}</span
          ><span>{{ lang.toggleMap.zone.toCapitalAll() }}</span>
        </div>
        <app-textarea
          bgColor="bg-white"
          label=""
          caretColor="caret-secondary"
          borderColor="border-secondary"
          formControlName="zone"
          [displayErrors]="false"
          rows="2"></app-textarea>
      </div>
    </div>
    <div class="mt-5 text-center">
      <app-button
        class="inline-block"
        buttonStyle="secondary"
        appElementReference
        #searchLink="appElementReference"
        (click)="onNavigate()">
        {{ lang.map.search.toCapital() }}
      </app-button>
    </div>
  </form>
</div>
