<app-extra-header class="flex -mt-32 relative text-white">
  <div class="flex justify-between items-center h-60">
    <div id="logo-side"><h1 class="text-5xl font-semibold -mt-20">المنصة العقارية لدولة قطر</h1></div>
    <div id="slider-side">
      <img class="w-auto h-auto" ngSrc="assets/images/slider.png" alt="slider" height="240" width="470" />
    </div>
  </div>
</app-extra-header>
<div class="content-wrapper p-10">
  <app-news-list title="الأخبار" [newsData]="(newsData | async) ?? []" />
</div>
