<div class="p-10 flex items-center justify-between gap-8 rounded-xl transition-all hover:bg-silver/50">
  <div class="flex flex-col justify-center items-start font-bold">
    <span class="text-5xl text-silver">{{ lang.map.indicators }}</span>
    <span class="text-6xl text-primary">{{ getTitle() }}</span>
  </div>
  <div class="flex-1 flex items-center justify-center gap-20">
    <div class="flex items-center justify-center gap-3">
      <img class="h-full" src="assets/icons/flyer/1.png" alt="" />
      <div class="text-center font-bold">
        <p class="text-3xl text-primary">615</p>
        <p class="text-xl">{{ lang.map.total_number_of_contracts }}</p>
      </div>
    </div>
    <div class="w-1 h-[60px] bg-silver rounded-full"></div>
    <div class="flex items-center justify-center gap-3">
      <img class="h-full" src="assets/icons/flyer/2.png" alt="" />
      <div class="text-center font-bold">
        <p class="text-3xl text-primary">61,523 {{ lang.map.qr }}</p>
        <p class="text-xl">{{ lang.map.total_value_of_contracts }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isOpened" class="relative my-4">
  <ng-content> </ng-content>
</div>
