<div
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="p-10 flex flex-col md:flex-row items-center justify-between gap-8 rounded-xl transition-all hover:bg-primary/90 border border-primary/90 md:border-0">
  <div
    class="flex ltr:flex-row-reverse ltr:md:flex-col md:flex-col justify-center items-center md:items-start gap-2 md:gap-0 font-bold">
    <span class="text-3xl md:text-5xl text-silver transition-all" [ngClass]="{ 'text-white': isHovered }">
      {{ lang.map.indicators }}
    </span>
    <span class="text-4xl md:text-6xl text-primary transition-all" [ngClass]="{ 'text-white': isHovered }">
      {{ getTitle() }}
    </span>
  </div>
  <div
    [ngClass]="{ 'opacity-30': isLoading }"
    class="flex-1 flex flex-col md:flex-row items-center justify-center gap-4 md:gap-10 lg:gap-20 transition-all">
    <div class="flex md:flex-col lg:flex-row items-center justify-between md:justify-center gap-3">
      <img
        [ngClass]="{
          'brightness-[100]': isHovered
        }"
        class="h-full transition-all"
        src="assets/icons/flyer/1.png"
        alt="" />
      <div class="flex flex-col items-center justify-center gap-2 text-center font-bold">
        @if (isLoading) {<mat-spinner diameter="30" strokeWidth="3"></mat-spinner>} @else {
        <p class="text-3xl text-primary transition-all" [ngClass]="{ 'text-white': isHovered }">
          {{ data.count | number }}
        </p>
        <app-change-indicator class="-mt-1" [value]="data.countYoy" [isHovered]="isHovered"></app-change-indicator>
        }
        <p class="text-xl transition-all" [ngClass]="{ 'text-white': isHovered }">
          {{ lang.map.total_number_of_contracts }}
        </p>
      </div>
    </div>
    <div
      class="hidden md:block w-1 h-[60px] bg-silver rounded-full transition-all"
      [ngClass]="{ 'bg-white': isHovered }"></div>
    <div
      class="md:hidden w-full h-0.5 bg-silver rounded-full transition-all"
      [ngClass]="{ 'bg-white': isHovered }"></div>
    <div class="flex md:flex-col lg:flex-row items-center justify-between md:justify-center gap-3">
      <img
        [ngClass]="{
          'brightness-[100]': isHovered
        }"
        class="h-full transition-all"
        src="assets/icons/flyer/2.png"
        alt="" />
      <div class="flex flex-col items-center justify-center gap-2 text-center font-bold">
        @if (isLoading) {<mat-spinner diameter="30" strokeWidth="3"></mat-spinner>} @else {
        <p class="text-3xl text-primary transition-all" [ngClass]="{ 'text-white': isHovered }">
          <span>{{ data.value | number }}</span> {{ lang.map.qr }}
        </p>
        <app-change-indicator class="-mt-1" [value]="data.valueYoy" [isHovered]="isHovered"></app-change-indicator>

        }
        <p class="text-xl transition-all" [ngClass]="{ 'text-white': isHovered }">
          {{ lang.map.total_value_of_contracts }}
        </p>
      </div>
    </div>
  </div>
</div>
