::ng-deep .cdk-overlay-pane:has(> app-custom-tooltip) {
  pointer-events: none;
}

.custom-tooltip {
  @apply bg-transparent opacity-70 rounded-md overflow-hidden text-sm w-max;
}

.custom-tooltip-show {
  animation: custom-tooltip-show 150ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

.custom-tooltip-hide {
  animation: custom-tooltip-hide 75ms cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes custom-tooltip-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}

@keyframes custom-tooltip-hide {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
