<div class="relative">
  @if (isStarted()) {
  <button
    (click)="stopRecording()"
    class="absolute flex -top-1.5 rtl:left-[-15%] ltr:right-[-15%] gap-1 items-center justify-center bg-primary/80 text-xs opacity-70 hover:opacity-100 text-white rounded-full w-max p-2 -translate-y-full">
    <svg class="size-4" fill="currentColor" viewBox="0 0 256 256">
      <path
        d="M200,32H160a16,16,0,0,0-16,16V208a16,16,0,0,0,16,16h40a16,16,0,0,0,16-16V48A16,16,0,0,0,200,32Zm0,176H160V48h40ZM96,32H56A16,16,0,0,0,40,48V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V48A16,16,0,0,0,96,32Zm0,176H56V48H96Z"></path>
    </svg>
    <span>{{ lang.map.stop }}</span>
  </button>
  }
  <button
    [matTooltip]="isStarted() ? lang.map.stop_recording : lang.map.click_to_speak"
    [disabled]="isPaused()"
    (click)="toggleRecording()"
    class="relative size-12 flex items-center justify-center bg-white text-primary rounded-full shadow shadow-primary overflow-hidden border outline-none ring-offset-1 ring-primary/50 transition-all hover:bg-gray-200 focus:ring-2 disabled:bg-gray-200 disabled:text-primary/50">
    <div
      [ngClass]="{ 'bounce-animation': isStarted() }"
      class="absolute bg-primary/60 top-0 left-0 size-full z-10 rounded-full scale-0"></div>
    <svg class="size-8" fill="currentColor" viewBox="0 0 256 256">
      <path
        d="M128,176a48.05,48.05,0,0,0,48-48V64a48,48,0,0,0-96,0v64A48.05,48.05,0,0,0,128,176ZM96,64a32,32,0,0,1,64,0v64a32,32,0,0,1-64,0Zm40,143.6V240a8,8,0,0,1-16,0V207.6A80.11,80.11,0,0,1,48,128a8,8,0,0,1,16,0,64,64,0,0,0,128,0,8,8,0,0,1,16,0A80.11,80.11,0,0,1,136,207.6Z"></path>
    </svg>
  </button>
</div>
