<div class="flex flex-col">
  <h3 class="heading text-3xl self-start text-primary border-secondary font-semibold inline-block">
    {{ lang.map.rental_transactions_measuring_dashboard.toCapitalAll() }}
  </h3>
  <div class="mt-12 flex flex-col xl:flex-row gap-10 items-center xl:items-start">
    <div class="w-full xl:w-1/2 relative px-5 py-3 border border-primary rounded-2xl">
      <app-kpi-root></app-kpi-root>
      <!--      <app-transactions-measuring-list [list]="nonePriceList"></app-transactions-measuring-list>-->
    </div>
    <div class="w-full xl:w-1/2 relative px-5 py-3 border border-primary rounded-2xl">
      <app-transactions-measuring-list [list]="priceList"></app-transactions-measuring-list>
    </div>
  </div>
</div>
