<div class="overflow-x-auto rounded-md border border-primary md:border-transparent">
  <div class="min-w-[750px] relative p-2 transition-all" [ngClass]="{ 'opacity-30': isLoading }">
    <svg class="w-full" viewBox="0 0 110 20">
      <defs>
        <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#8A1538" />
          <stop offset="100%" stop-color="#A29475" />
        </linearGradient>
      </defs>

      <g class="axis">
        <rect x="1" y="8.5" rx="1.5" ry="1.5" width="109" height="3" fill="url(#linear)" />
        <polygon points="0,10 3,12.5 3,7.5" fill="#8A1538"></polygon>
        <circle *ngFor="let price of prices" class="fill-white" r="1.25" [attr.cx]="getX(price)" cy="10"></circle>
      </g>
      <g class="price">
        <text
          *ngFor="let price of prices"
          class="fill-silver text-[2px]"
          [attr.x]="getX(price)"
          [attr.y]="14"
          text-anchor="middle">
          {{ price }} {{ lang.map.million }}
        </text>
        <text
          *ngFor="let price of prices"
          class="fill-silver text-[1.5px]"
          [attr.x]="getX(price)"
          [attr.y]="15.5"
          text-anchor="middle">
          {{ lang.map.qr }}
        </text>
      </g>
      <g class="count">
        <text
          *ngFor="let key of pricesKeys; let index = index"
          class="fill-primary font-bold text-[3px] transition-all hover:brightness-[0.25]"
          [attr.x]="getCountX(index)"
          [attr.y]="7"
          text-anchor="middle"
          appCustomTooltip
          [tooltipContent]="tooltipTemplate"
          [tooltipContentContext]="key"
          [tooltipPosition]="{
            originX: 'center',
            originY: 'top',
            overlayX: 'center',
            overlayY: 'bottom',
          }">
          {{ pricesMap[key] | number }}
        </text>
      </g>
    </svg>
  </div>
</div>

<ng-template #tooltipTemplate let-key>
  <div class="border border-primary rounded-md">
    <div class="bg-primary text-white font-bold px-2 py-1 transition-all">
      {{ getTooltipTitle(key) }}
    </div>
    <div class="px-2 py-1 text-center">
      <span class="font-bold"
        >{{ pricesMap[key] | number }} ({{ pricesMap[key] / totalCount | percent : "1.1-1" }})</span
      >
    </div>
  </div>
</ng-template>
