@if (registered) {
<div class="success">
  <div class="h-full w-full flex flex-col justify-center items-center gap-2 sm:gap-4 md:gap-6">
    <p class="text-3xl sm:text-5xl md:text-7xl text-center text-primary">
      {{ lang.map.interested_data_saved_successfully }}
    </p>
    <!-- <img class="w-40 h-40" src="assets/icons/success.png" alt="success" /> -->
    <app-button (click)="registered = false" buttonStyle="primary" size="xl">
      {{ lang.map.register_another_interested }}
    </app-button>
  </div>
</div>
} @else {

<div class="container m-auto">
  <div class="flex justify-center">
    <h2
      class="mt-6 heading text-2xl sm:text-3xl md:text-4xl self-center md:self-start text-center text-primary border-primary font-semibold">
      {{ lang.map.interest_registration_form }}
    </h2>
  </div>

  <div class="mt-4">
    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.register_under_category }}</h3>
      <div class="col-span-3 flex justify-center items-center gap-4 pb-4">
        @for (category of interestCategories|async; track category.code) {
        <button
          [ngClass]="{ active: isCurrentForm(category.code), disabled: isCurrentForm(category.code) }"
          class="min-w-64 border [&.active]:bg-primary [&.active]:text-white rounded-xl font-semibold shadow-md p-3"
          (click)="changeCurrentTab(category.code)">
          {{ category.getNames() }}
        </button>
        }
      </div>
    </div>
  </div>

  @if (isInvestor()) {
  <div [formGroup]="investorForm" class="mt-4">
    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.personal_information }}</h3>
      <app-input formControlName="name" [label]="lang.map.full_name" />
      <app-input formControlName="profession" [label]="lang.map.profession" />
      <app-input formControlName="passportNumber" [label]="lang.map.passport_number" />
      <app-input formControlName="numberOfFamilyMembers" [label]="lang.map.number_of_family_members" />
      <app-select-input
        formControlName="nationality"
        [label]="lang.map.nationality"
        [options]="(countries | async)!"
        [enableFilter]="true"
        bindValue="id"
        bindFilter="getNames"
        bindLabel="getNames" />
      <app-select-input
        formControlName="countryOfResidence"
        [label]="lang.map.country_of_residence"
        [options]="(countries | async)!"
        [enableFilter]="true"
        bindValue="id"
        bindFilter="getNames"
        bindLabel="getNames" />
    </div>

    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.contact_information }}</h3>
      <app-input formControlName="email" [label]="lang.map.email" />
      <app-input formControlName="phoneNumber" [label]="lang.map.phone" />
    </div>

    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.other_information }}</h3>
      <app-select-input
        formControlName="interestPurchasing"
        [options]="interestService.types"
        [label]="lang.map.which_property"
        bindLabel="getNames"
        bindValue="value" />
      <app-select-input
        formControlName="estimatedBudget"
        [options]="(budgetRange | async)!"
        [label]="lang.map.estimated_budget"
        bindLabel="getNames"
        bindValue="id" />
      <app-select-input
        formControlName="investmentIntend"
        [options]="interestService.investmentTypes"
        [label]="lang.map.is_your_purchase_intended_for_residence"
        bindLabel="getNames"
        bindValue="value" />

      <mat-slide-toggle class="font-bold col-span-2" #slide="matSlideToggle" formControlName="resideInQatar">
        {{ lang.map.do_you_intend_to_reside_in_qatar }} : {{ slide.checked ? lang.map.yes : lang.map.no }}
      </mat-slide-toggle>

      <mat-slide-toggle class="font-bold col-span-2" #hasMoreInfo="matSlideToggle" formControlName="hasMoreInfo">
        {{ lang.map.has_more_info }} : {{ hasMoreInfo.checked ? lang.map.yes : lang.map.no }}
      </mat-slide-toggle>
      <br />
      @if (hasMoreInfo.checked) {
      <app-textarea class="col-span-3" [label]="lang.map.more_info" formControlName="moreInfo" />
      }
    </div>
  </div>
  } @if (isDeveloper()) {

  <div [formGroup]="developerForm" class="mt-4">
    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.personal_information }}</h3>
      <app-input formControlName="name" [label]="lang.map.full_name" />
      <app-input formControlName="companyName" [label]="lang.map.company_name" />
    </div>

    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.contact_information }}</h3>
      <app-input formControlName="email" [label]="lang.map.email" />
      <app-input formControlName="phoneNumber" [label]="lang.map.phone" />
    </div>

    <div class="info-section">
      <h3 class="info-section-title">{{ lang.map.other_information }}</h3>
      <app-input [label]="lang.map.estimated_budget" formControlName="estimatedBudget" />
      <mat-slide-toggle class="font-bold col-span-3" #slide="matSlideToggle" formControlName="soleDeveloper">
        {{ lang.map.are_you_sole_developer }} : {{ slide.checked ? lang.map.yes : lang.map.no }}
      </mat-slide-toggle>
      <mat-slide-toggle class="font-bold col-span-3" #slide="matSlideToggle" formControlName="wantPartnership">
        {{ lang.map.are_you_seeking_a_partnership }} : {{ slide.checked ? lang.map.yes : lang.map.no }}
      </mat-slide-toggle>
      <mat-slide-toggle class="font-bold col-span-3" #hasMoreInfo="matSlideToggle" formControlName="hasMoreInfo">
        {{ lang.map.has_more_info }} : {{ hasMoreInfo.checked ? lang.map.yes : lang.map.no }}
      </mat-slide-toggle>
      <br />
      @if (hasMoreInfo.checked) {
      <app-textarea class="col-span-3" [label]="lang.map.more_info" formControlName="moreInfo" />
      }
    </div>
  </div>
  }
  <div class="info-section">
    <div class="info-section-title">{{ lang.map.attachments }}</div>
    <div class="col-span-3 flex flex-col">
      <div class="flex">
        <input
          type="file"
          #uploader
          (change)="fileUploaderChange(uploader)"
          class="hidden"
          id="files"
          multiple
          accept="application/pdf,image/png,image/jpeg,image/jpg" />
        <app-icon-button
          (click)="openFileBrowse(uploader)"
          class="bg-primary text-white rounded-full"
          icon="FILE_UPLOAD"></app-icon-button>
      </div>
      <table mat-table class="table-style" [dataSource]="attachments">
        <!-- fileName -->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef>{{ lang.map.filename }}</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <!-- arName -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ lang.map.actions }}</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <app-icon-button
                [matTooltip]="lang.map.delete"
                icon="DELETE"
                [disabled]="!element.id"
                (click)="deleteAttachment$.next(element)"></app-icon-button>
              <app-icon-button
                [matTooltip]="lang.map.view"
                icon="VIEW"
                (click)="viewAttachment$.next(element)"></app-icon-button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="p-4" colspan="100">{{ lang.map.no_records_to_display }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="my-4 flex gap-4 items-start justify-end">
    <re-captcha
      [ngClass]="{ hidden: !displayRecaptcha }"
      class="transition-all"
      #recaptcha
      size="normal"
      (resolved)="whenRecaptchaResolve($event)"
      [siteKey]="recaptchaSettings.siteKey!"></re-captcha>
    <app-button (click)="submitRequest()" buttonStyle="primary" size="lg">
      {{ lang.map.register }}
    </app-button>
  </div>
</div>
}
