<div class="h-[350px] w-2/3 mx-auto flex justify-between items-start p-4 border border-primary rounded-lg">
  <div class="bg-white border w-1/5 border-primary rounded-md overflow-hidden">
    <div class="bg-primary text-white font-bold px-2 py-1">{{ getName(selectedMunicipalityId) }}</div>
    <div class="flex justify-between items-end px-2 py-1 gap-2">
      <span>{{ label }}: </span>
      <span class="font-bold">{{ getFormatedValue(getSelectedMunicipality().getKpiVal()) }}</span>
    </div>
  </div>
  <div class="h-[310px]">
    <svg class="h-full" viewBox="150 0 300 600">
      <g>
        <path *ngFor="let municipalitySvgPath of municipalitiesSvgPath"
          [ngStyle]="{ opacity: getOpacity(municipalitiesDataMap[municipalitySvgPath.id].getKpiVal()) }"
          class="fill-primary stroke-primary stroke-1 cursor-pointer transition-all hover:brightness-[0.25] hover:stroke-[4] hover:stroke-white"
          [ngClass]="{
            'brightness-50 stroke-[4] stroke-white': selectedMunicipalityId === municipalitySvgPath.id
          }" [attr.d]="municipalitySvgPath.path"
          (click)="onMunicipalityClick(municipalitiesDataMap[municipalitySvgPath.id])" appCustomTooltip
          [tooltipContent]="tooltipTemplate" [tooltipContentContext]="municipalitiesDataMap[municipalitySvgPath.id]"
          [tooltipPosition]="{
            originX: 'center',
            originY: 'top',
            overlayX: 'center',
            overlayY: 'center',
          }" matTooltipClass="!bg-secondary rounded-md" />
      </g>
    </svg>
  </div>
  <div class="py-4 flex flex-col items-end self-stretch">
    <div class="flex justify-end gap-2 flex-1">
      <div class="flex flex-col justify-between items-end -my-1">
        <span>{{ getFormatedValue(minMaxKpis.max) }} ({{ unit }})</span>
        <span>{{ getFormatedValue(minMaxKpis.min) }} ({{ unit }})</span>
      </div>
      <div class="gradient-legend flex-1 h-full w-5"></div>
    </div>
  </div>
  <div></div>
</div>

<ng-template #tooltipTemplate let-municipality>
  <div class="bg-secondary text-white font-bold px-2 py-1">{{ getName(municipality.municipalityId) }}</div>
  <div class="flex justify-between px-2 py-1 gap-2">
    <span>{{ label }}: </span>
    <span class="font-bold">{{ getFormatedValue(municipality.getKpiVal()) }}</span>
  </div>
</ng-template>