<div class="relative bg-pattern w-full h-[500px]">
  <svg width="0" class="fixed" height="0">
    <defs>
      <clipPath id="header-clip-path" clipPathUnits="objectBoundingBox">
        <path
          d="M0,0.9 C0.4,1,0.6,0.7,1,0.9 L1,0 H0
        "></path>
      </clipPath>
    </defs>
  </svg>
  <svg width="0" class="fixed" height="0">
    <defs>
      <clipPath id="header-clip-path-ltr" clipPathUnits="objectBoundingBox">
        <path
          d="M1,0.9 C0.6,1,0.4,0.7,0,0.9 L0,0 H1
        "></path>
      </clipPath>
    </defs>
  </svg>
  <div class="bg-gradient-to-b from-transparent w-full h-full via-transparent to-100% to-white">
    <div
      [ngClass]="{ 'clipped-header': !lang.isLtr, 'clipped-header-ltr': lang.isLtr }"
      class="bg-header ltr:bg-header-ltr absolute inset-0 bg-cover bg-center h-[450px] w-full"></div>
    <div
      [ngClass]="{ 'clipped-header': !lang.isLtr, 'clipped-header-ltr': lang.isLtr }"
      class="bg-gradient-to-l ltr:bg-gradient-to-r from-primary/90 to-gray-800/90 absolute inset-0 bg-cover bg-center h-[450px] w-full pt-32 px-3 lg:px-10">
      <div *ngIf="(portalService.portal$ | async) === undefined" class="flex flex-col justify-center" id="logo-side">
        <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
        <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
          {{ lang.toggleMap.qatar_real_estate_platform }} -
          <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
        </h2>
        <h2
          *ngIf="portalService.subTitle$ | async as subTitle"
          class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center text-secondary">
          {{ subTitle }}
          <!-- <ng-container [cdkPortalOutlet]="portal"></ng-container> -->
        </h2>
      </div>
      <div
        *ngIf="portalService.portal$ | async as portal"
        class="flex flex-col justify-start lg:flex-row lg:justify-between items-center">
        <div class="flex flex-col justify-center items-center lg:items-start" id="logo-side">
          <h1 class="text-3xl sm:text-4xl md:text-5xl font-semibold">{{ lang.map.qatar_real_estate_platform }}</h1>
          <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold">
            {{ lang.toggleMap.qatar_real_estate_platform }} -
            <span class="text-gray-400 font-normal">({{ lang.map.trial_run }})</span>
          </h2>
          <h2
            *ngIf="portalService.subTitle$ | async as subTitle"
            class="text-xl sm:text-2xl md:text-3xl font-semibold flex flex-col gap-3 items-center text-secondary">
            {{ subTitle }}
          </h2>
        </div>
        <div id="slider-side" class="flex flex-col gap-2 text-sm md:text-base">
          <ng-container [cdkPortalOutlet]="portal"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
