@import "styles/fonts";
@import "styles/material";
@import "styles/custom-material";
@import "styles/tailwind";
@import "styles/splash-styles.scss";

.root-filter {
  filter: invert(1);
}

* {
  //noinspection CssUnknownProperty
  scrollbar-color: rgba(138, 21, 56, 0.5) rgba(162, 148, 117, 0.2);
  //noinspection CssUnknownProperty
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(138, 21, 56, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(162, 148, 117, 0.2);
}

.custom-shadow {
  box-shadow: 1px 1px 10px var(--tw-shadow-color),
    -1px -1px 10px var(--tw-shadow-color);
}

.hover-shadow:hover {
  box-shadow: 1px 1px 10px var(--tw-shadow-color),
    -1px -1px 10px var(--tw-shadow-color);
}
.rounded-last-tr {
  @apply font-semibold last-of-type:overflow-hidden last-of-type:rounded-bl-xl last-of-type:rounded-br-xl shadow [&:last-of-type>td:first-child]:rounded-br-xl [&:last-of-type>td:last-child]:rounded-bl-xl
}

.rounded-first-tr {
  @apply font-semibold last-of-type:overflow-hidden last-of-type:rounded-tl-xl last-of-type:rounded-tr-xl [&:last-of-type>th:first-child]:rounded-tr-xl [&:last-of-type>th:last-child]:rounded-tl-xl
}

