<div class="flex flex-col">
  <h3 class="heading text-3xl self-start text-primary border-secondary font-semibold inline-block">
    {{ lang.map.list_of_rental_transactions.toCapitalAll() }}
  </h3>
</div>

<div class="mt-12">
  <app-table [data]="tableData" [displayedColumns]="displayedColumns">
    <ng-template appTableColumnTemplate columnName="city" bindColumnValue="city" let-city>{{ city }}</ng-template>
    <ng-template appTableColumnTemplate columnName="details" bindColumnValue="details" let-details>
      <div class="flex justify-center">
        <div class="flex flex-col items-start">
          <span class="font-bold">{{ details[0] }}</span>
          <span>{{ details[1] }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template appTableColumnTemplate columnName="price" bindColumnValue="price" let-price>
      <span class="font-bold">{{ price }}</span>
    </ng-template>
    <ng-template appTableColumnTemplate columnName="endDate" bindColumnValue="endDate" let-endDate>{{
      endDate
    }}</ng-template>
    <ng-template appTableColumnTemplate columnName="startDate" bindColumnValue="startDate" let-startDate>{{
      startDate
    }}</ng-template>
  </app-table>
</div>
