<div class="py-5">
  <div class="shadow-lg rounded-lg overflow-hidden bg-white">
    <div class="bg-primary p-4 flex justify-center items-center">
      <span class="text-white text-center text-lg sm:text-xl font-semibold">{{ title }} </span>
    </div>
    <div dir="ltr" class="flex justify-center">
      <apx-chart
        #pieChart
        [series]="pieChartOptions.series"
        [labels]="pieChartOptions.labels"
        [responsive]="pieChartOptions.responsive!"
        [chart]="pieChartOptions.chart"
        [legend]="pieChartOptions.legend!"
        [colors]="pieChartOptions.colors!"
        [tooltip]="pieChartOptions.tooltip!" />
    </div>
  </div>
</div>
