<div class="py-5">
  <div class="shadow-lg rounded-lg overflow-hidden bg-white">
    <div class="bg-secondary p-4 flex justify-center items-center">
      <span class="text-white text-center text-lg sm:text-xl font-semibold">{{ title }} </span>
    </div>
    <div dir="ltr" class="relative flex justify-center">
      <div *ngIf="isLoading" class="absolute top-0 left-0 h-full w-full p-4 bg-white/80 z-[1] transition-all">
        <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
      </div>
      @if(!dataLength) {
      <div class="absolute top-0 left-0 h-full w-full p-4 bg-white/80 z-[1] transition-all">
        <div
          class="h-full w-full flex flex-col justify-center items-center text-center gap-2 text-primary [&>p]:text-base sm:[&>p]:text-lg md:[&>p]:text-2xl">
          <p class="font-bold">{{ lang.map.no_data_is_currently_available_for_the_selected_parameters }}</p>
        </div>
      </div>
      }
      <apx-chart
        #pieChart
        [series]="pieChartOptions.series"
        [labels]="pieChartOptions.labels"
        [responsive]="pieChartOptions.responsive!"
        [chart]="pieChartOptions.chart"
        [legend]="pieChartOptions.legend!"
        [colors]="pieChartOptions.colors!"
        [tooltip]="pieChartOptions.tooltip!" />
    </div>
  </div>
</div>
