<div class="max-w-full min-w-[400px]">
  <div [ngClass]="selectedClass.bg" class="h-2"></div>
  <div class="dialog-content p-4 h-30">
    <div [ngClass]="{ 'flex-col': !data.title }" class="flex items-center gap-2">
      <div class="dialog-icon flex-none">
        <mat-icon [ngClass]="selectedClass.text" class="size-48" [svgIcon]="selectedClass.icon"></mat-icon>
      </div>
      <div class="flex-auto flex flex-col">
        <div *ngIf="data.title" class="dialog-body-title font-semibold text-lg">
          {{ data.title }}
        </div>
        <div class="dialog-body-content">
          {{ data.content }}
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-footer justify-center">
    <ng-container *ngIf="!isConfirmDialog()">
      <app-button (click)="close()" [buttonStyle]="selectedClass.btn">Close</app-button>
    </ng-container>
    <ng-container *ngIf="isConfirmDialog()">
      <app-button (click)="yes()" [buttonStyle]="selectedClass.btn">
        {{ data.buttons!.yes }}
      </app-button>
      <app-button (click)="no()" [buttonStyle]="selectedClass.secondBtn!">
        {{ data.buttons!.no }}
      </app-button>
    </ng-container>
  </div>
</div>
