<div class="py-4 px-8 rounded-xl border border-secondary/50 shadow-gray-100 custom-shadow">
  <table mat-table [dataSource]="dataSource" class="overflow-y-scroll">
    <!-- columns -->
    <ng-container
      *ngFor="let displayedColumn of displayedColumns; let index = index"
      [matColumnDef]="displayedColumn.columnName">
      <th *matHeaderCellDef class="p-2">
        {{ displayedColumn.columnHeader }}
      </th>
      <td *matCellDef="let row" class="text-primary py-2">
        <ng-container
          [ngTemplateOutlet]="getColumnTemplate(displayedColumn.columnName)!.templateRef"
          [ngTemplateOutletContext]="{
            $implicit: getColumnTemplate(displayedColumn.columnName)!.getBindValue(row)
          }"></ng-container>
      </td>
    </ng-container>

    <!-- rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsNames" class="!bg-primary !text-white text-xl font-bold"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsNames"
      class="text-center text-xl border-b border-gray-200"></tr>
  </table>

  <!-- paginator -->
  <div class="flex justify-between items-center">
    <span class="text-primary/70">
      {{ lang.map.paginator_showing_label.toCapital() }} {{ offset + 1 }} {{ lang.map.paginator_to_label.toCapital() }}
      {{ offset + pageSize > length ? length : offset + pageSize }} {{ lang.map.paginator_from_label.toCapital() }}
      {{ length }}
      {{ lang.map.paginator_entry_label.toCapital() }}
    </span>
    <mat-paginator
      (page)="paginate($event)"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [hidePageSize]="true"
      [length]="length">
    </mat-paginator>
  </div>
</div>
