th:first-child {
  @apply ltr:rounded-l-lg rtl:rounded-r-lg;
}

th:last-child {
  @apply ltr:rounded-r-lg rtl:rounded-l-lg;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #a29475;
}
