<div class="py-4 px-8 rounded-xl border border-secondary/50 shadow-gray-100 custom-shadow">
  <table mat-table [dataSource]="dataSource" class="overflow-y-scroll">
    <!-- columns -->
    <ng-container
      *ngFor="let displayedColumn of displayedColumns; let index = index"
      [matColumnDef]="displayedColumn.columnName">
      <th *matHeaderCellDef class="p-2">
        {{ displayedColumn.columnHeader }}
      </th>
      <td *matCellDef="let row" class="text-primary py-2">
        <ng-container
          [ngTemplateOutlet]="getColumnTemplate(displayedColumn.columnName)!.templateRef"
          [ngTemplateOutletContext]="{
            $implicit: getColumnTemplate(displayedColumn.columnName)!.getBindValue(row)
          }"></ng-container>
      </td>
    </ng-container>

    <!-- rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsNames" class="!bg-primary !text-white text-xl font-bold"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnsNames"
      class="text-center text-xl border-b last-of-type:border-b-0 border-gray-200"></tr>
  </table>
  <mat-paginator
    class="border-t border-gray-200"
    (page)="paginate($event)"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="limit"
    [showFirstLastButtons]="showFirstLastButtons"
    [length]="length">
  </mat-paginator>
</div>
