<div id="bottom-header" class="h-20 justify-between w-full px-10 flex py-3">
  <a href="#" class="flex flex-none gap-x-2">
    <img
      class="h-auto w-auto group-[.fixed]:hidden"
      priority
      ngSrc="assets/images/mm-logo-white.png"
      alt="authority-logo"
      height="112"
      width="350" />
    <img
      class="h-auto w-auto hidden group-[.fixed]:block"
      priority
      ngSrc="assets/images/mm-logo-colored.png"
      alt="authority-logo"
      height="112"
      width="350" />
  </a>
  <div class="flex justify-center items-start flex-col">
    <ul
      id="main-menu"
      class="flex gap-x-3 [&>li>a:hover]:!border-white group-[.fixed]:[&>li>a:hover]:!border-primary group-[.fixed]:[&>li>a.active]:!border-primary group-[.fixed]:text-primary text-white [&>li>a]:!border-2 [&>li>a]:!border-solid [&>li>a]:!border-transparent [&>li>a.active]:!border-white">
      <li>
        <a mat-button routerLink="/home" routerLinkActive="active">{{ lang.map.home.toCapitalAll() }}</a>
      </li>
      <li>
        <a mat-button routerLink="/sell-indicators" routerLinkActive="active">{{
          lang.map.sell_indicator.toCapitalAll()
        }}</a>
      </li>
      <li>
        <a mat-button routerLink="/mortgage-indicators" routerLinkActive="active">{{
          lang.map.mortgage_indicator.toCapitalAll()
        }}</a>
      </li>
      <li>
        <a mat-button routerLink="/news" routerLinkActive="active">{{ lang.map.news.toCapitalAll() }}</a>
      </li>
      <li>
        <a mat-button routerLink="/about" routerLinkActive="active">{{ lang.map.about_us.toCapitalAll() }}</a>
      </li>
      <li>
        <a mat-button routerLink="/laws" routerLinkActive="active">{{ lang.map.laws_and_decisions.toCapitalAll() }}</a>
      </li>
    </ul>
  </div>
</div>
