<div id="bottom-header" class="h-20 justify-between w-full px-10 flex py-3">
  <a href="#" class="flex flex-none gap-x-2">
    <img
      priority
      class="h-auto w-auto group-[.fixed]:hidden"
      ngSrc="assets/images/platform-logo.png"
      alt="platform-logo"
      height="108"
      width="174" />
    <img
      priority
      class="h-auto w-auto hidden group-[.fixed]:block"
      ngSrc="assets/images/platform-logo-color.png"
      alt="platform-logo"
      height="214"
      width="348" />
    <div class="h-full w-px bg-gradient-to-b from-transparent via-secondary"></div>
    <img
      class="h-auto w-auto group-[.fixed]:hidden"
      priority
      ngSrc="assets/images/authority-logo.png"
      alt="authority-logo"
      height="174"
      width="674" />
    <img
      class="h-auto w-auto hidden group-[.fixed]:block"
      priority
      ngSrc="assets/images/authority-logo-color.png"
      alt="authority-logo"
      height="174"
      width="678" />
  </a>
  <div class="flex justify-center items-start flex-col">
    <ul
      id="main-menu"
      class="flex gap-x-3 [&>li>a:hover]:!border-white group-[.fixed]:[&>li>a:hover]:!border-primary group-[.fixed]:[&>li.active>a]:!border-primary group-[.fixed]:text-primary text-white [&>li>a]:!border-2 [&>li>a]:!border-solid [&>li>a]:!border-transparent [&>li.active>a]:!border-white">
      <li class="active"><a mat-button class="active" href="#">الرئيسية</a></li>
      <li><a mat-button href="#">المؤشرات العقارية</a></li>
      <li><a mat-button href="#">الاخبار</a></li>
      <li><a mat-button href="#">الخدمات الالكترونية</a></li>
      <li><a mat-button href="#">القوانين والقرارات</a></li>
      <li><a mat-button href="#">الاسئلة الشائعة</a></li>
      <li><a mat-button href="#">تواصل معنا</a></li>
    </ul>
  </div>
</div>
