<div id="bottom-header" class="h-20 justify-between w-full px-10 flex py-3">
  <a href="#" class="flex flex-none gap-x-2">
    <img
      class="h-auto w-auto group-[.fixed]:hidden"
      priority
      ngSrc="assets/images/mm-logo-white.png"
      alt="authority-logo"
      height="112"
      width="350" />
    <img
      class="h-auto w-auto hidden group-[.fixed]:block"
      priority
      ngSrc="assets/images/mm-logo-colored.png"
      alt="authority-logo"
      height="112"
      width="350" />
  </a>
  <div class="flex justify-center items-start flex-col">
    <ul id="main-menu" class="flex gap-x-3">
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/home"
          routerLinkActive="active"
          >{{ lang.map.home }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/sell-indicators"
          routerLinkActive="active"
          >{{ lang.map.sell_indicator }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/mortgage-indicators"
          routerLinkActive="active"
          >{{ lang.map.mortgage_indicator }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/rental-indicators"
          routerLinkActive="active"
          >{{ lang.map.rental_indicator }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/news"
          routerLinkActive="active"
          >{{ lang.map.news }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/about"
          routerLinkActive="active"
          >{{ lang.map.about_us }}</app-button
        >
      </li>
      <li>
        <app-button
          [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'"
          routerLink="/laws"
          routerLinkActive="active"
          >{{ lang.map.laws_and_decisions }}</app-button
        >
      </li>
    </ul>
  </div>
</div>
