<div class="grid gap-4 grid-cols-3">
  <ng-container [formGroup]="priceForm">
    <app-select-input
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="municipalityId"
      bindLabel="getNames"
      bindValue="lookupKey"
      [label]="lang.map.municipal"
      [options]="priceMunicipalities" 
      [isSecondary]="true"/>

    <app-select-input
      [enableFilter]="true"
      bindFilter="getNames"
      formControlName="areaCode"
      bindValue="lookupKey"
      bindLabel="getNames"
      [label]="lang.map.district"
      [options]="filteredAreas"
      [isSecondary]="true" />

    <app-select-input
      [enableFilter]="false"
      bindFilter="getNames"
      formControlName="propertyTypeList"
      bindValue="lookupKey"
      [label]="lang.map.property_type"
      bindLabel="getNames"
      [options]="pricePropertyTypes"
      [isSecondary]="true" />
  </ng-container>
</div>
