<div class="bg-pink-200 px-11 py-5 rounded-xl">
  <div class="relative mb-12">
    <img class="w-12 mr-12" src="../../../assets/images/cadastral.png" alt="" />
    <app-title
      class="absolute top-3 right-1/2 translate-x-1/2 text-center text-xl font-bold"
      >استعلام بالرقم المساحي للأراضي</app-title
    >
  </div>
  <app-input inputColor="text-black" label="" placeholder="الرقم المساحي"
    ><mat-icon
      class="!flex justify-center items-center ms-2 text-2xl !w-8 !h-8 bg-white rounded-full"
      appInputSuffix
      fontIcon="search"
    ></mat-icon
  ></app-input>
</div>
