<ng-container appExtraHeaderPortal [extraHeaderSubTitle]="lang.map.real_estate_flyers"> </ng-container>
<div class="relative">
  <img class="absolute left-0 top-20" src="assets/images/flyer-images/arrows.png" alt="" />
  <!-- <img class="absolute bottom-0 right-0" src="assets/images/flyer-images/layer.png" alt="" /> -->

  <div class="relative content-wrapper">
    <div class="flex flex-col gap-8">
      <div class="p-3 lg:px-16 flex items-center justify-between">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
          النشرة العقارية للربع الثاني سنة 2023
        </h3>
        <div class="grid grid-cols-4 gap-2">
          <app-button
            (click)="updateDuration(DurationTypes.YEARLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.YEARLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.yearly }}</app-button
          >
          <app-button
            (click)="updateDuration(DurationTypes.HALFY)"
            [buttonStyle]="selectedDurationType === DurationTypes.HALFY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.half_yearly }}</app-button
          >
          <app-button
            (click)="updateDuration(DurationTypes.QUARTERLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.QUARTERLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.quarter_yearly }}</app-button
          >
          <app-button
            (click)="updateDuration(DurationTypes.MONTHLY)"
            [buttonStyle]="selectedDurationType === DurationTypes.MONTHLY ? 'secondary' : 'secondary-outline'"
            [isRounded]="true"
            >{{ lang.map.monthly }}</app-button
          >
        </div>
      </div>
      <div class="p-3 lg:px-16">
        <app-flyer-summary indicatorType="sell" [isOpened]="true">
          <div class="my-4">
            <app-flyer-top-ten title="أعلى عشر مناطق تبعاً لعدد صفقات البيع"></app-flyer-top-ten>
          </div>
          <div class="my-4">
            <app-flyer-top-ten type="price" title="أعلى عشر مناطق تبعاً لقيم صفقات البيع"></app-flyer-top-ten>
          </div>
          <div class="flex flex-col">
            <h3
              class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
              حسب استخدام العقار - سكني خاص
            </h3>
            <div class="my-4 flex items-center justify-center flex-wrap gap-8">
              <app-flyer-property *ngFor="let property of propertyTypes" [item]="property"></app-flyer-property>
            </div>
          </div>
          <div class="flex flex-col">
            <h3
              class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
              حسب استخدام العقار - تجاري
            </h3>
            <div class="my-4 flex items-center justify-center flex-wrap gap-8">
              <app-flyer-property *ngFor="let property of propertyTypes" [item]="property"></app-flyer-property>
            </div>
          </div>
          <div class="flex flex-col">
            <h3
              class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
              عدد الصفقات حسب نطاق السعر
            </h3>
            <app-price-range></app-price-range>
          </div>
        </app-flyer-summary>
        <app-flyer-summary indicatorType="rent"></app-flyer-summary>
        <app-flyer-summary indicatorType="mort"></app-flyer-summary>
      </div>
    </div>
  </div>
</div>
