<ng-container appExtraHeaderPortal [extraHeaderSubTitle]="lang.map.real_estate_flyers"> </ng-container>

<ng-template appAction [appActionActionOrder]="2">
  @if(!isExportingToPdf){
  <app-icon-button
    (clicked)="exportToPDF()"
    icon="FILE_DOWNLOAD"
    class="hidden xl:block download opacity-75 transition-all hover:opacity-100">
  </app-icon-button
  >} @else {
  <div class="w-12 h-12 rounded-full bg-primary opacity-60 flex justify-center items-center">
    <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
  </div>
  }
</ng-template>

<ng-template appAction [appActionActionOrder]="1">
  <app-icon-button
    (clicked)="exportToExcel()"
    icon="EXCEL_DOWNLOAD"
    class="download-excel opacity-75 transition-all hover:opacity-100">
  </app-icon-button>
</ng-template>

<div class="relative">
  <img class="absolute left-0 top-20" src="assets/images/flyer-images/arrows.png" alt="" />
  <!-- <img class="absolute bottom-0 right-0" src="assets/images/flyer-images/layer.png" alt="" /> -->

  <div class="relative content-wrapper">
    <div class="flex flex-col gap-8">
      <div class="p-3 lg:px-16 flex flex-col xl:flex-row gap-4 items-center justify-between">
        <h3
          class="heading text-xl sm:text-2xl md:text-3xl self-center xl:self-start text-center text-primary border-secondary font-semibold">
          {{ lang.map.real_estate_flyer }} {{ getTitleSuffix() }}
        </h3>
        <div [formGroup]="form" class="w-full sm:w-auto flex flex-col sm:flex-row justify-center items-center gap-3">
          <app-select-input
            formControlName="duration"
            class="w-full sm:w-[150px]"
            bindLabel="getNames"
            bindValue="lookupKey"
            label=""
            [noMargin]="true"
            [options]="durations" />
          @if (displayYear) {
          <app-select-input
            class="w-full sm:w-[150px]"
            formControlName="year"
            label=""
            [noMargin]="true"
            [placeholder]="lang.map.year"
            [options]="years" />} @if(displayMonth) {
          <app-select-input
            class="w-full sm:w-[150px]"
            formControlName="month"
            bindLabel="label"
            bindValue="value"
            label=""
            [noMargin]="true"
            [placeholder]="lang.map.select_month"
            [options]="months" />} @if(displayQuarter) {
          <app-select-input
            class="w-full sm:w-[150px]"
            formControlName="quarter"
            bindLabel="getNames"
            bindValue="lookupKey"
            label=""
            [noMargin]="true"
            [isMultiple]="true"
            [placeholder]="lang.map.select_quarter"
            [options]="quarterYearDurations" />} @if(displayRange) {
          <app-input
            formControlName="rangeDate"
            caretColor="caret-transparent"
            (click)="dateRange.open()"
            (keydown)="$event.preventDefault()"
            label=""
            [noMargin]="true"
            [placeholder]="lang.map.date_from_to">
            <mat-icon
              mat-ripple
              appInputSuffix
              (click)="dateRange.open()"
              class="cursor-pointer mx-2"
              [svgIcon]="AppIcons.DATE"></mat-icon>
            <mat-datepicker-toggle matIconSuffix [for]="dateRange">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-input [max]="maxDate" [min]="minDate" class="!w-0 !h-0" [rangePicker]="dateRange">
              <input
                matStartDate
                class="text-gray-500"
                formControlName="issueDateFrom"
                (dateChange)="rangeChange()"
                placeholder="Start date" />
              <input
                matEndDate
                class="text-gray-500"
                formControlName="issueDateTo"
                (dateChange)="rangeChange()"
                placeholder="here is end date" />
            </mat-date-range-input>
            <mat-date-range-picker touchUi class="hidden" #dateRange></mat-date-range-picker>
          </app-input>
          }
        </div>
      </div>
      <div #pdfContent>
        <div id="pdf-title" class="hidden p-3 lg:px-16 text-center">
          <h3 class="inline-block p-4 text-5xl text-center text-primary font-bold border border-primary rounded-lg">
            {{ lang.map.real_estate_flyer }} {{ getTitleSuffix() }}
          </h3>
        </div>
        <div id="sell" class="relative p-3 lg:px-16">
          <img class="absolute bottom-0 start-0 ltr:-scale-x-100" src="assets/images/flyer-images/layer.png" alt="" />
          <app-flyer-summary
            indicatorType="sell"
            [dataUrls]="{ countUrl: urlService.URLS.FLYER_SELL_KPI1, valueUrl: urlService.URLS.FLYER_SELL_KPI2 }"
            [criteria]="criteria">
          </app-flyer-summary>
          <div class="my-4">
            <app-flyer-top-ten
              [title]="lang.map.top_ten_areas_according_to_the_number_of_sell_transactions"
              [criteria]="criteria"
              [dataUrl]="urlService.URLS.FLYER_SELL_KPI3"></app-flyer-top-ten>
          </div>
          <div class="my-4">
            <app-flyer-top-ten
              type="price"
              [title]="lang.map.top_ten_areas_according_to_the_value_of_sell_transactions"
              [criteria]="criteria"
              [dataUrl]="urlService.URLS.FLYER_SELL_KPI4"></app-flyer-top-ten>
          </div>
          <div class="relative my-4">
            <app-flyer-property-list
              [title]="lang.map.sell_contracts + ' ' + lang.map.depending_on_type + ' - ' + lang.map.residential"
              [criteria]="criteria"
              [useAssetsFrom]="'sell'"
              [dataUrl]="urlService.URLS.FLYER_SELL_KPI5_RES" />
            <app-flyer-property-list
              [title]="lang.map.sell_contracts + ' ' + lang.map.depending_on_type + ' - ' + lang.map.commercial"
              [criteria]="criteria"
              [useAssetsFrom]="'sell'"
              [dataUrl]="urlService.URLS.FLYER_SELL_KPI5_COM" />

            <div class="flex flex-col gap-2">
              <h3
                class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
                {{ lang.map.number_of_transactions_by_price_range }}
              </h3>
              <app-price-range [dataUrl]="urlService.URLS.FLYER_SELL_KPI6" [criteria]="criteria" />
            </div>
            <div class="flex flex-col gap-2 items-end justify-center my-8">
              <h3
                class="heading text-xl sm:text-2xl md:text-3xl self-center md:self-start text-center text-primary border-secondary font-semibold">
                {{ lang.map.sell_statistics_by_municipality }}
              </h3>
              <app-flyer-composite-table
                class="max-w-full"
                [dataUrl]="urlService.URLS.FLYER_SELL_KPI7"
                [criteria]="criteria" />
            </div>
          </div>
        </div>
        <div class="px-3 pt-5 lg:px-16"><div class="w-full h-0 border-b-2 border-b-silver"></div></div>
        <div id="rent" class="p-3 lg:px-16">
          <app-flyer-summary
            indicatorType="rent"
            [dataUrls]="{
              countUrl: urlService.URLS.FLYER_RENT_KPI1,
              valueUrl: urlService.URLS.FLYER_RENT_KPI2
            }"
            [criteria]="criteria"></app-flyer-summary>
          <div class="relative my-4">
            <app-flyer-property-list
              [title]="lang.map.rent_contracts + ' ' + lang.map.depending_on_type + ' - ' + lang.map.residential"
              [criteria]="criteria"
              [useAssetsFrom]="'rent'"
              [dataUrl]="urlService.URLS.FLYER_RENT_KPI5_RES" />
            <app-flyer-property-list
              [title]="lang.map.rent_contracts + ' ' + lang.map.depending_on_type + ' - ' + lang.map.commercial"
              [criteria]="criteria"
              [useAssetsFrom]="'rent'"
              [dataUrl]="urlService.URLS.FLYER_RENT_KPI5_COM" />
          </div>
        </div>

        <div class="px-3 pt-5 lg:px-16"><div class="w-full h-0 border-b-2 border-b-silver"></div></div>
        <div id="mort" class="p-3 lg:px-16">
          <app-flyer-summary
            indicatorType="mort"
            [dataUrls]="{
              countUrl: urlService.URLS.FLYER_MORT_KPI1,
              valueUrl: urlService.URLS.FLYER_MORT_KPI2
            }"
            [criteria]="criteria"></app-flyer-summary>
        </div>
      </div>
    </div>
  </div>
</div>
