<div class="hidden lg:block">
    <ul id="main-menu" class="flex gap-x-3">
        <li *ngFor="let menuItem of mainMenu?.items ?? []">
            <ng-container *ngIf="!menuItem.is_authenticated|| isAuthenticated">
                <app-button [buttonStyle]="sticky.isSticky() ? 'none-primary' : 'none'" [routerLink]="menuItem.url"
                    routerLinkActive="active"><span class="ltr:text-sm">{{ menuItem.getNames() }}</span></app-button>
            </ng-container>
        </li>
    </ul>
</div>